<template>
      <div class="topMargin">
        <span id="selectProductRequestError"></span>
        <table id="clientTable" show.bind="requests.selectedRequest.requestDetails.length" class="table table-bordered table-responsive" style="background:white;">
          <thead>
          <tr class="header">
            <th>Product</th>
            <th>System</th>
            <th>Client</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
            <tr class="${product.assignments.length ? 'success sortable' : 'sortable'}" id="${product.id}" productId="${product.productId}" 
                repeat.for="product of requestDetails">
              <td>${product.productId  | lookupValue:products.productsArray:"_id":"name"}</td> 
              <td>${product.assignments[0].systemId | lookupValue:systems.systemsArray:"_id":"sid"}</td>
              <td>${product.assignments[0].client}</td>
              <td>${product.requestStatus | lookupValue:config.REQUEST_STATUS:"code":"description"}</td>
            </tr>
          </tbody>
        </table>
        <span id="client"></span>
      </div>
    </div>
  </div>
</template>
