<template>
	<div class="row">
		<div class="col-lg-12">
			<h4 class="topMargin"><strong>Request Details</strong></h4>
			<div class="panel panel-default topMargin">
				<div class="panel-body leftJustify">
					<div class="form-horizontal topMargin">
						<h4>Product: ${selectedRequestDetail.productId.name}</h4>

						<div class="row">
							<div class="col-lg-5 leftMargin">
								<h5>Student accounts: <b>${selectedRequestDetail.numberOfStudents}</b></h5>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-5 leftMargin">
								<h5>Required Date: <b>${selectedRequestDetail.requiredDate |
										dateFormat:config.DATE_FORMAT_TABLE}</b></h5>
							</div>
						</div>
						<div
							show.bind="selectedRequestDetail.requestId.customerMessage && selectedRequestDetail.requestId.customerMessage.length > 0">
							<label class="topMargin">Requests from the UCC</label>
							<div class="well" innerhtml.bind="selectedRequestDetail.requestId.customerMessage"></div>
						</div>
						<div
							show.bind="selectedRequestDetail.requestId.comments && selectedRequestDetail.requestId.comments.length > 0">
							<label class="topMargin">Comments</label>
							<div innerhtml.bind="selectedRequestDetail.requestId.comments"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div show.bind="products.selectedProduct.productDescription">
		<h4>Product Information</h4>
		<div innerhtml.bind="products.selectedProduct.productDescription"></div>
	</div>
</template>
