This is a message from your UCC concerning client request: {{requestNo}}  for product
{{product}} in session {{session}}.

<h2>MESSAGE</h2>
{{customerMessage}}

<p>Please log on to the UCCSS and respond</p>'
