This is a message from your UCC. 

<p>Dear {{name}},</p>

<h2>MESSAGE</h2>
Help Ticket {{helpTicketNo}} has been created.

<p>The help ticket will be reviewed by the UCC staff as soon as possible.  You will receive an email if the status changes.</p>