<template>
    <span click.delegate="backToClientTable()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip"
        data-placement="bottom" title="" data-original-title="Back"><i class="fa fa-arrow-left fa-lg fa-border"
            aria-hidden="true"></i></span>
    <span click.delegate="refreshClient()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip"
        data-placement="bottom" title="" data-original-title="Refresh Client"><i class="fa fa-refresh"
            aria-hidden="true"></i></span>
    <span click.delegate="toggleSandBox()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip"
        data-placement="bottom" title="" data-original-title="Toggle Sandbox"><i class="fa fa-users"
            aria-hidden="true"></i></span>
    <span click.delegate="deleteClient()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip"
        data-placement="bottom" title="" data-original-title="Delete Client"><i class="fa fa-trash"
            aria-hidden="true"></i></span>
</template>