<template>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <label>First</label>
                    <input value.bind="editFirstClient" id="editFirstClient" placeholder="Start"
                        class="form-control input-sm" type="text" />
                </div>
                <div class="col">
                    <label>Last</label>
                    <input value.bind="editLastClient" id="editLastClient" placeholder="End"
                        class="form-control input-sm" type="text" />
                </div>
                <div class="col">
                    <label>IDs Available</label>
                    <input value.bind="idsAvailable" id="editClientIdsAvailable" placeholder="IDS Available"
                        class="form-control input-sm" type="text" />
                </div>
                <div class="col">
                    <label>Status</label>
                    <select value.bind="editClientStatus" id="clientStatusSelect" class="form-control selectpicker"
                    data-style="btn btn-link">
                        <option repeat.for="status of config.CLIENT_STATUSES" value="${status.code}">
                            ${status.description}
                        </option>
                    </select>
                </div>
                <div class="col">
                    <label>Client Interval</label>
                    <input value.bind="clientInterval" id="clientInterval" placeholder="Interval"
                        class="form-control input-sm" type="number" />
                </div>
                <div class="col">
                    <label>Product</label>
                    <select class="form-control col-lg-8" value.bind="selectedProduct">
                        <option value="">Products</option>
                        <option repeat.for="product of products.objectsArray" model.bind="product._id">${product.name}
                        </option>
                    </select>
                </div>
            </div>
        </div>
</template>