<template>
    <compose view="../../../../resources/elements/table-nav-bar.html"></compose>
${systems.objectsArray.length}
    <table class="table-sm table-striped header-fixed"
        aurelia-table="data.bind: systems.objectsArray; display-data.bind: $displayData; filters.bind: filters; current-page.bind: currentPage; page-size.bind: pageSize; total-items.bind: totalItems;">
        
        <thead>
            <tr>
                <th>
                    <compose view='./systemsTableToolbar.html'></compose>
                </th>
            </tr>
            <tr>
                <th style="width:15%;">
                    <div class="form-group">
                        <input type="text" value.bind="filters[0].value"
                            placeholder="Filter SID" class="form-control" id='filterField0' />
                    </div>
                </th>
                <th style="width:25%;">
                    <div class="form-group">
                        <input type="text" value.bind="filters[1].value"
                            placeholder="Filter Description" class="form-control" id='filterField1' />
                    </div>
                </th>
                <th style="width:25%;">
                    <div class="form-group">
                        <input type="text" value.bind="filters[2].value"
                            placeholder="Filter Server" class="form-control" id='filterField2' />
                    </div>
                </th>
                <th style="width:25%;"></th>
                <th style="width:10%;">
                    <div class="form-group">
                        <select value.bind="filters[3].value" class="form-control" id="systemStatus">
                            <option value=""></option>
                            <option value=true>Active</option>
                            <option value=false>Inactive</option>
                        </select>
                    </div>

                </th>
            </tr>
            <tr>
                <th style="width:15%;" aut-sort="key: sid">SID</th>
                <th style="width:25%;" aut-sort="key: description">Description</th>
                <th style="width:25%;" aut-sort="key: server">Server</th>
                <th style="width:25%;" aut-sort="key: instance">Instance</th>
                <th style="width:10%;">Status</th>
            </tr>
        </thead>

        <tbody style="height:500px;">
            <tr class="pointMe" click.delegate="edit(system)" repeat.for="system of $displayData">
                <td style="width:15%;">${system.sid}</td>
                <td style="width:25%;">${system.description}</td>
                <td style="width:25%;">${system.server}</td>
                <td style="width:25%;"> ${system.instance}</td>
                <td style="width:10%;">${system.active | translateStatus}
            </tr>
        </tbody>

    </table>
    </div>
    </div>
    </div>
    </div>
</template>