<template>
   

                <compose view="../../../../resources/elements/table-nav-bar.html"></compose>

                <table class="table table-striped"
                    aurelia-table="data.bind: systems.objectsArray; display-data.bind: $displayData; filters.bind: filters; current-page.bind: currentPage; page-size.bind: pageSize; total-items.bind: totalItems;">
                    <thead>
                        <tr>
                            <compose view='./systemsTableToolbar.html'></compose>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <div class='col'>
                                    <div class="form-group">
                                        <input type="text" value.bind="filters[0].value"
                                            placeholder="Filter SID, Description, and Server" class="form-control"
                                            id='filterField' />
                                    </div>
                                </div>
                            </th>
                            <th></th>
                            <th></th>

                            <th colspan="2">
                                <div class='col'>
                                        <select value.bind="filters[1].value" class="form-control selectpicker" id="personStatus" data-style="btn btn-link">
                                            <option value=true>Active</option>
                                            <option value=false>Inactive</option>
                                        </select>
                                </div>

                            </th>
                        </tr>

                        <tr>
                            <th style="width:10rem;" aut-sort="key: sid">SID</th>
                            <th style="width:20rem;" aut-sort="key: description">Description</th>
                            <th style="width:20rem;" aut-sort="key: server">Server</th>
                            <th style="width:20rem;" aut-sort="key: instance">Instance</th>
                            <th style="width:15rem;">Status</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr repeat.for="system of $displayData" >
                            <td click.delegate="edit(system)" style="width:10rem;" >${system.sid}</td>
                            <td click.delegate="edit(system)" style="width:20rem;" >${system.description}</td>
                            <td click.delegate="edit(system)" style="width:20rem;" >${system.server}</td>
                            <td style="width:20rem;" > ${system.instance}</td>
                            <td click.delegate="edit(system)" style="width:15rem;">${system.active | translateStatus}
                        </tr>
                    </tbody>
               
                </table>
            </div>
        </div>
    </div>
    </div>
</template>