<template>
    <div class='row justify-content-md-center'>
        <div class="col">
            <div id="curriculumForm" class="collapse show">
                <div class="card" style="background-color:ghostwhite;">
                    <div class="card-header">
                        <h5>The more information you can provide, the easier it for us to troubleshoot the issue.</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="blackText">Curriculum Title * <span
                                            mouseover.delegate="showComment('curriculumTitleHelp')"
                                            mouseout.delegate="hideComment('curriculumTitleHelp')"><i
                                                class="fa fa-question-circle" aria-hidden="true"></i></span></label>
                                    <input value.bind="content.curriculumTitle" class="form-control" type="text"
                                        placeholder="${curriculumTitlePlaceholder}" />
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-3">
                                            <label class="blackText">Curriculum Author(s)</label>
                                        </div>
                                        <div class="col">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox"
                                                        checked.bind="authorNotApplicable">
                                                    Not applicable
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <input value.bind="content.curriculumAuthor" disabled.bind="authorNotApplicable"
                                        class="form-control" type="text" placeholder="${curriculumAuthorPlaceholder}" />
                                </div>
                                <div class="form-group">
                                    <div>
                                        <div class="row">
                                            <div class="col-3">
                                                <label class="blackText">Module</label>
                                            </div>
                                            <div class="col">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox"
                                                            checked.bind="moduleNotApplicable">
                                                        Not applicable
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <input value.bind="content.curriculumModule" class="form-control" type="text"
                                            disabled.bind="moduleNotApplicable"
                                            placeholder="${curriculumModulePlaceHolder}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <div class="row">
                                            <div class="col-3">
                                                <label class="blackText">Page Number</label>
                                            </div>
                                            <div class="col">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox"
                                                            checked.bind="pageNumberNotApplicable">
                                                        Not applicable
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <input value.bind="content.curriculumPageNumber" class="form-control"
                                            type="text" disabled.bind="pageNumberNotApplicable"
                                            placeholder="${curriculumPageNumberPlaceHolder}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <div>
                                        <div class="row">
                                            <div class="col-3">
                                                <label class="blackText">Step Number</label>
                                            </div>
                                            <div class="col">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox"
                                                            checked.bind="stepNumberNotApplicable">
                                                        Not applicable
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <input value.bind="content.curriculumStep" class="form-control" type="text"
                                            disabled.bind="stepNumberNotApplicable"
                                            placeholder="${curriculumStepNumberPlaceHolder}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <div class="row">
                                            <div class="col-3">
                                                <label class="blackText">Which user IDs are affected?</label>
                                            </div>
                                            <div class="col">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox"
                                                            checked.bind="idsNotApplicable">
                                                        Not applicable
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <input value.bind="content.curriculumIDs" class="form-control" type="text"
                                            disabled.bind="idsNotApplicable"
                                            placeholder="${curriculumUserIDsPlaceholder}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-3">
                                            <label class="blackText">Have any other students progressed past this
                                                point?</label>
                                        </div>
                                        <div class="col">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox"
                                                        checked.bind="otherStudentsNotApplicable">
                                                    Not applicable
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-check form-check-radio form-check-inline leftMargin">
                                        <label class="form-check-label" repeat.for="option of yesNo">
                                            <input checked.bind="content.otherStudentsPastThisPoint" value.bind="option"
                                                class="form-check-input" type="radio" name="otherStudentsPastThisPoint"
                                                id="inlineRadio10" value="option1"> ${option}
                                            <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <div class="row">
                                            <div class="col">
                                                <label class="blackText">Is there any other information that would help
                                                    us determine what
                                                    curriculum
                                                    that
                                                    you
                                                    are working with?</label>
                                            </div>
                                        </div>
                                    </div>
                                    <input value.bind="curriculumOtherInformation" class="form-control" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>