<template>
    <div class="card" style="background-color:ghostwhite;" show.bind="helpTickets.helpTicketTypesArray[catIndex].requestsRequired">
        <div class="card-header">
          <h4 class="card-title">These are your current product requests.  If the issue you are having is related to a specific product, please select it.</h4>
          <p class="category">Category subtitle</p>
        </div>
        <div class="card-body">
            <compose view="./Requests.html"></compose>
        </div>
      </div>
   
</template>