<template>
    <div class="row">
        <div class="col-5">
            <div class='topMargin bottomMargin'>
                <label for="prioritySelect" class='class="bigLabel topMargin'>Priority</label>
                <select class="form-control selectpicker" id="prioritySelect"
                    value.bind="helpTickets.selectedHelpTicket.priority" data-style="btn btn-link">
                    <option repeat.for="priority of config.HELP_TICKET_PRIORITIES" value.bind="$index">
                        ${priority.priority}</option>
                </select>
                <span>${config.HELP_TICKET_PRIORITIES[helpTickets.selectedHelpTicket.priority].message}</span>
            </div>

            <div class="form-group">
                <Label class="bigLabel topMargin">Help Ticket Category</Label>
                <select value.bind="catIndex" id="helpTicketCategory" class="form-control selectpicker"
                    data-style="btn btn-link" change.trigger="categoryChanged()">
                    <option value="-1">To help define your issue, select the category</option>
                    <option repeat.for="types of config.HELP_TICKET_TYPES" model.bind="$index">
                    ${types.description}</option>
                </select>

            </div>

            <div show.bind="catIndex != -1" class="form-group">
                <Label class="bigLabel topMargin">Help Ticket Type</Label>
                <select value.bind="helpTickets.selectedHelpTicket.helpTicketType" change.trigger="typeChanged()" class="form-control selectpicker"
                    data-style="btn btn-link" id="helpTicketType">
                    <option value="null">To help us further define your issue, select the type</option>
                    <option repeat.for="subcatTypes of config.HELP_TICKET_TYPES[catIndex].subTypes"
                        model.bind="subcatTypes.type">${subcatTypes.description}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" style="padding:10px;">
        <div if.bind="stepOneErrors.length > 0" class="col alert alert-warning" role="alert">
            <ul>
                <li repeat.for="error of stepOneErrors">${error}</li>
            </ul>
        </div>
    </div>
</template>