<template>
    <div class="row">
        <div class="col-4">
            <div class='topMargin bottomMargin'>
                <label for="prioritySelect" class='class="bigLabel topMargin'>Priority</label>
                <select class="form-control selectpicker" id="prioritySelect"
                    value.bind="helpTickets.selectedHelpTicket.priority" data-style="btn btn-link">
                    <option repeat.for="priority of config.HELP_TICKET_PRIORITIES" value.bind="$index">
                        ${priority.priority}</option>
                </select>
            </div>
           
        </div>
        <div class="col-4">
            <div class="form-group">
                <Label class="bigLabel topMargin">Help Ticket Category</Label>
                <select value.bind="catIndex" id="helpTicketCategory" class="form-control selectpicker"
                    data-style="btn btn-link" change.trigger="categoryChanged()">
                    <option value="-1">To help define your issue, select the category</option>
                    <option repeat.for="types of config.HELP_TICKET_TYPES" model.bind="$index">
                        ${types.description}</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div show.bind="catIndex != -1" class="form-group">
                <Label class="bigLabel topMargin">Help Ticket Type</Label>
                <select value.bind="helpTickets.selectedHelpTicket.helpTicketType" change.trigger="typeChanged()"
                    class="form-control selectpicker" data-style="btn btn-link" id="helpTicketType">
                    <option value="null">To help us further define your issue, select the type</option>
                    <option repeat.for="subcatTypes of config.HELP_TICKET_TYPES[catIndex].subTypes"
                        model.bind="subcatTypes.type">${subcatTypes.description}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body" style="background-color: ghostwhite;"
                    innerhtml.bind="config.HELP_TICKET_PRIORITIES[helpTickets.selectedHelpTicket.priority].message">
                    The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to
                    "Naviglio" where
                    you can enjoy the main night life in Barcelona...
                </div>
            </div>
        </div>
        <div class="col-8">
            <compose view="./help-ticket-step2.html"></compose>
        </div>
    </div>
  <div class="row">
      <div class="col">
        <compose show.bind="showForm" view="./help-ticket-step3.html"></compose>
      </div>
  </div>
</template>