<template>
    <div class="row">
        <div class="fuelux col blackText">
            <div class="wizard" data-initialize="wizard" id="myWizard" style="height:1000px;">
                <div class="steps-container">
                    <ul class="steps">
                        <li data-step="1" data-target="#step1" class="active">
                            <span class="badge badge-info">1</span>Request<span class="chevron"></span>
                        </li>
                        <li data-step="2" data-target="#step2">
                            <span class="badge">2</span>Curriculum<span class="chevron"></span>
                        </li>
                        <li data-step="3" data-target="#step3">
                            <span class="badge">3</span>Software<span class="chevron"></span>
                        </li>
                        <li data-step="4" data-target="#step4">
                            <span class="badge">4</span>Detail<span class="chevron"></span>
                        </li>
                        <li data-step="5" data-target="#step5">
                            <span class="badge">5</span>Attachments<span class="chevron"></span>
                        </li>
                        <li data-step="6" data-target="#step6">
                            <span class="badge">6</span>Review<span class="chevron"></span>
                        </li>
                    </ul>
                </div>
                <div class="actions">
                    <button type="button" class="btn btn-default btn-prev btn-md">
                        <span><i class="fa fa-chevron-left" aria-hidden="true"></i></span>Prev</button>
                    <button type="button" class="btn btn-primary btn-next btn-md" data-last="Complete">Next
                        <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                    </button>
                </div>
                <div class="step-content">

                    <div class="step-pane active" id="step1" data-step="1">
                        <h3><strong>Step 1 </strong> - Select all the affected product requests (if applicable)</h3>
                        <compose view="./help-ticket-step1.html"></compose>
                    </div>

                    <div class="step-pane" id="step2" data-step="2">
                        <h3><strong>Step 2 </strong> - Tell us if this applies to a specific curriculum</h3>
                        <compose view="./help-ticket-step2.html"></compose>
                    </div>

                    <div class="step-pane" id="step3" data-step="3">
                        <h3><strong>Step 3 </strong> - Tell us the problem involves software</h3>
                        <compose view="./help-ticket-step3.html"></compose>
                    </div>

                    <div class="step-pane" id="step4" data-step="4">
                        <h3><strong>Step 4 </strong> - Describe the problem and tell us how to reproduce it</h3>
                        <compose view="./help-ticket-step4.html"></compose>
                    </div>

                    <div class="step-pane" id="step5" data-step="5">
                        <h3><strong>Step 5 </strong> - Attachments</h3>
                        <compose view="./help-ticket-step5.html"></compose>
                    </div>

                    <div class="step-pane" id="step6" data-step="6">
                        <h3><strong>Step 6 </strong> - Review and Confirm</h3>
                        <compose view="./help-ticket-step6.html"></compose>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>