<template>
  <div show.bind="assignmentDetails.length > 0"> 
    <div class="card topMargin">
      <div class="card-body leftJustify">
        <h4 class="topMargin"><strong>Assignments</strong></h4>
        <div show.bind="requests.selectedDetail.requestStatus == config.ASSIGNED_REQUEST_CODE"
          class="panel panel-primary topMargin">
          <div class="panel-body">
            <div class="row">
            <div class="col-7">
              <h6>Student IDs: <span class="bold"> ${assign.assignment.studentUserIds ? assign.assignment.studentUserIds :
                  'N/A'}</span></h6>
              <h6>Student Password: <span class="bold"> ${assign.assignment.studentPassword ? assign.assignment.studentPassword
                  : 'N/A'}</span></h6>
              <h6 class="topMargin">Faculty IDs <span class="bold">: ${assign.assignment.facultyUserIds ?
                  assign.assignment.facultyUserIds : 'N/A'}</span></h6>
              <h6>Faculty Password: <span class="bold"> ${assign.assignment.facultyPassword ? assign.assignment.facultyPassword
                  : 'N/A'}</span></h6>
            </div>
          </div>
            <!-- <ul style="padding-left:10px;">
              <li class="list-group-item" repeat.for="assign of assignmentDetails">
                <compose if.bind="assign.system.type === 'ERP' || !assign.system.type" view="./erp.html"></compose>
                <compose if.bind="assign.system.type === 'HANA'" view="./hana.html"></compose>
                <compose if.bind="assign.system.type === 'BO'" view="./bo.html"></compose>
              </li>
            </ul> -->

            <label show.bind="products.selectedProduct.documents && products.selectedProduct.documents.length > 0"
              class="topMargin">Helpful Documents</label>
            <div class="list-group">
              <a repeat.for="document of products.selectedProduct.documents"
                href="${config.DOCUMENT_FILE_DOWNLOAD_URL}/${document.categoryCode}/${document.categoryName}/${document.fileName}"
                target="_blank">${document.fileName}</a>
            </div>
            <label show.bind="requests.selectedDetail.techComments && requests.selectedDetail.techComments.length > 0"
              class="topMargin">UCC Comments</label>
            <div show.bind="requests.selectedDetail.techComments && requests.selectedDetail.techComments.length > 0"
              class="col-lg-12 topMargin well overFlow" innerhtml.bind="requests.selectedRequestDetail.techComments">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>