<template>
    <div class='row bigTopMargin' >
        <div class="col-8">
                <h2>Summary</h2>
                <h4>Session: <span show.bind="aSessionHasBeenSelected" class="bold">Session
                        ${sessions.selectedObject.session} - ${sessions.selectedObject.year}</span></h4>
                <h4>Course: <span class="bold">${CourseSelected}</span></h4>
                <h4>Start Date: <span class="bold">${startDate | dateFormat:'MMMM DD, YYYY'}</span></h4>
                <h4>End Date: <span class="bold">${endDate | dateFormat:'MMMM DD, YYYY'}</span></h4>

                <div class="topMargin" id="productListTable">
                    <table class="table table-striped table-bordered col-md-10 topMargin">
                      <thead>
                      <tr>
                        <th>Requested Product</th>
                        <th>Date Required<br/><small>Earliest available date: ${minRequiredDate | dateFormat:'dddd MMMM, DD, YYYY'}</small></th>
                      </tr>
                      <tbody id="requiredProductsTable">
                      <tr repeat.for="product of selectedProducts">
                        <td>${product.product.name}</td>
                        <td><flat-picker show.bind="!product.assigned" controlid="requiredDate-${$index}" config.bind="configDate" value.bind="product.requiredDate" 
                            startdate.bind="minRequiredDate" enddate.bind="maxRequiredDate" placeholder="Required Date"></flat-picker>
                            <h5 show.bind="product.assigned">${product.requiredDate | dateFormat:'MMMM DD, YYYY'}</h5>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div show.bind="requestComments.length" class="topMargin" innerhtml.bind="requestComments"></div>
            </div>
        </div>
</template>