<template>
    <div class="form-group">
        <p>${event.personId | person:people.peopleArray:'fullName'}</p>
        <div class="row">
            <div class="col-lg-6">
                <h3>Curriculum</h4>
                <h4 class="col-sm-11 topMargin">Curriculum Title: ${event.content.curriculumTitle}</h4>
                <h4 class="col-sm-11 ">Exercise Module: ${event.content.exerciseModule}</h4>
                <h4 class="col-sm-11 ">Page: ${event.content.pageNumber}</h4>
                <h4 class="col-sm-11 ">User IDs: ${event.content.UserIDsaffected}</h4>
            </div>
            <div class="col-lg-4">
                <h3>Client Assignment</h4>
                <h4 show.bind="showRequestDetails" class="col-sm-11 col-sm-offset-1 topMargin">System: ${systems.selectedSystem.sid}</h4>
                <h4 show.bind="showRequestDetails" class="col-sm-11 col-sm-offset-1 ">Client: ${systems.selectedClient.client}</h4>
                <h4 show.bind="!showRequestDetails" class="col-sm-11 col-sm-offset-1 topMargin">Client not assigned</h4>
            </div>
        </div>
        <div class="topMargin bottomMargin"  innerhtml.bind="event.content.comments ? event.content.comments : ' ' "></div>
      
    </div>
</template>