<template>
  <div class="smart-timeline-icon bottomMarginLg" innerhtml.bind="event.personId | gravatarUrlId:people.peopleArray:100:1">

  </div>
  <div class="smart-timeline-time">
    <small>${event.createdDate | dateFormat:'YYYY-MM-DD':true}</small>
  </div>
  <div class="smart-timeline-content borderTop leftJustify">
    <div class="form-group">
      <p>${event.personId | personName:people.peopleArray}</p>
      <h4>Application: ${event.content.applicationId | productName:apps.appDownloadsArray}</h4>
      <div class="row">
        <div class="col-lg-4" show.bind="event.content.osWindows || event.content.osMac">
          <h4>Operating System</h4>
          <label show.bind="event.content.osWindows">Windows versions: ${event.content.windowsVersion}</label>
          <label show.bind="event.content.osWindows32bit">32-bit</label>
          <label show.bind="event.content.osWindows64bit">64-bit</label>
          <label show.bind="event.content.osMac">Mac versions: ${event.content.macVersion}</label>
        </div>
        <div class="col-lg-4" show.bind="event.content.officeInvolved">
          <h4>Microsoft Office</h4>
          <label show.bind="event.content.officeVersion">Office versions: ${event.content.officeVersion}</label>
        </div>
        <div class="col-lg-4" show.bind="event.content.wiredNetwork || event.content.wirelessNetwork || event.content.campusNetwork || event.content.personalNetwork">
          <h4>Network</h4>
          <label show.bind="event.content.wiredNetwork">Wired</label>
          <label show.bind="event.content.wirelessNetwork">Wireless</label>
          <label show.bind="event.content.campusNetwork">Campus</label>
          <label show.bind="event.content.personalNetwork">Personal/Private Network</label>
        </div>
      </div>
      <div class="row">
        <div class="topMargin" if.bind="event.content.comments.length > 0" innerhtml.bind="event.content.comments"></div>
      </div>
    </div>
    <div class="form-group">
      <div class="hover_img" repeat.for="file of event.files">
        <a href="${config.HELPTICKET_FILE_DOWNLOAD_URL}/${helpTickets.selectedHelpTicket.helpTicketNo}/${file.fileName}"
           target="_blank"
           innerhtml.bind="file.fileName | fileType:helpTickets.selectedHelpTicket.referenceNo:'helpTickets'"></a>
      </div>
    </div>
   
  </div>
</template>