<template>
  <div class=" col-md-12" id="appHelp">
      <div class="row">
        <div>
          <label class="control-label">Application</label>
          <select value.bind="helpTickets.selectedHelpTicketContent.content.applicationId" id="application" class="form-control">
            <option value="">Select an application</option>
            <option repeat.for="app of apps.appDownloadsArray" 
                    value.bind="app._id">${app.name}</option>
          </select>
        </div>
      </div>
      <div show.bind="helpTickets.selectedHelpTicketContent.content.applicationId" class="row topMargin">
         <label class="control-label">Describe the Operating System</label>
         <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-6">
                <div class="checkbox">
                  <label>
                    <input checked.bind="helpTickets.selectedHelpTicketContent.content.osWindows" type="checkbox"> Windows
                  </label>
                  <input show.bind="helpTickets.selectedHelpTicketContent.content.osWindows" value.bind="helpTickets.selectedHelpTicketContent.content.windowsVersion" id="editDropDate" class="form-control" placeholder="Windows 8, 8.1, 10, etc." type="text" />
                  <div class="row"  show.bind="helpTickets.selectedHelpTicketContent.content.osWindows">
                    <div class="checkbox col-lg-6">
                      <label class="checkbox-inline">
                        <input checked.bind="helpTickets.selectedHelpTicketContent.content.osWindows32bit" type="checkbox"> 32-bit
                      </label>
                      <label class="checkbox-inline">
                        <input checked.bind="helpTickets.selectedHelpTicketContent.content.osWindows64bit" type="checkbox"> 64-bit
                      </label>
                    </div>
                </div>
                </div>
              </div>  
              <div class="col-lg-6">
                <div class="checkbox">
                  <label>
                    <input checked.bind="helpTickets.selectedHelpTicketContent.content.osMac" type="checkbox"> Mac OS
                  </label>
                  <input  show.bind="helpTickets.selectedHelpTicketContent.content.osMac" value.bind="helpTickets.selectedHelpTicketContent.content.macVersion" id="editDropDate" class="form-control" placeholder="Mac OS Versions" type="text" />
                </div>
              </div>
            </div>
              
            </div>
          </div>
        </div>
        
        <div class="row">
          <div show.bind="helpTickets.selectedHelpTicketContent.content.applicationId" class="topMargin col-lg-6">
            <label class="control-label">Other Software Involved</label>
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="checkbox">
                        <label>
                          <input checked.bind="helpTickets.selectedHelpTicketContent.content.officeInvolved" type="checkbox"> Is Microsoft Office involved?
                        </label>
                        <input show.bind="helpTickets.selectedHelpTicketContent.content.officeInvolved"  value.bind="helpTickets.selectedHelpTicketContent.content.officeVersion" id="editJoinDate" class="form-control" placeholder="2007, 2010, 2013, etc." type="text" />
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <div show.bind="helpTickets.selectedHelpTicketContent.content.applicationId" class="topMargin col-lg-6">
            <label class="control-label">Describe the Network Connection</label>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                    <div class="checkbox col-lg-12">
                      <label class="checkbox-inline">
                        <input checked.bind="helpTickets.selectedHelpTicketContent.content.wiredNetwork" type="checkbox"> Wired
                      </label>
                      <label class="checkbox-inline">
                        <input checked.bind="helpTickets.selectedHelpTicketContent.content.wirelessNetwork" type="checkbox"> Wireless
                      </label>
                    </div>
                  </div>
                  <div class="row">  
                    <div class="checkbox col-lg-12">
                      <label class="checkbox-inline">
                        <input checked.bind="helpTickets.selectedHelpTicketContent.content.campusNetwork" type="checkbox"> Campus
                      </label>
                      <label class="checkbox-inline">
                        <input checked.bind="helpTickets.selectedHelpTicketContent.content.personalNetwork" type="checkbox"> Personal/Private Network
                      </label>
                    </div>
                  </div>
                </div>
                  
              </div>
            </div>
        </div>
      
  </div>
</template>