<template>
  <div class="col-lg-12 col-sm-12">
    <div class="hover" innerhtml.bind="commentShown"></div>
    <div class='row'>
      <div class='col-lg-10 col-lg-offset-1 bottomMargin'>
        <table id="helpTicketTable" class="table table-striped table-hover">
          <thead>
            <tr>
              <td colspan='13'>
                <compose view="../../../../resources/elements/table-navigation-bar.html"></compose>
              </td>
            </tr>
            <tr>
              <td colspan='13'>
                <span click.delegate="refresh()" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Refresh"><i class="fa fa-refresh" aria-hidden="true"></i></span>
                <span class="pull-right" id="spinner" innerhtml.bind="spinnerHTML"></span>
              </td>
            </tr>
            <tr>
              <th></th>
              <th>
                <select change.delegate="dataTable.filterList($event)" class="form-control" id="helpTicketType">
                        <option value=""></option>
                        <option repeat.for="type of config.HELP_TICKET_TYPES"
                                value.bind="type.code">${type.description}</option>
                      </select>
              </th>
              <th>
                <select change.delegate="dataTable.filterList($event)" class="form-control" id="owner.[0].personId" compare="obj" ref="ownerFilter">
                  <option value=""></option>
                  <option repeat.for="person of people.peopleArray | uccStaff"
                          value.bind="person._id">${person.fullName}</option>
                </select>
              </th>
              <th></th>
              <th>
                <select value.bind="selectedStatus" change.delegate="dataTable.filterList($event)" class="form-control" id="helpTicketStatus">
                        <option value=""></option>
                        <option repeat.for="status of config.HELP_TICKET_STATUSES"
                                value.bind="status.code">${status.description}</option>
                      </select>
              </th>
              <th>
                <input change.delegate="dataTable.filterList($event)" id="createdDate" type="date" compare="after" placeholder="Filter Date" class="form-control datepicker" data-dateformat="yy/mm/dd">
              </th>
               <th>
                <input change.delegate="dataTable.filterList($event)" id="modifiedDate" type="date" compare="after" placeholder="Filter Date" class="form-control datepicker" data-dateformat="yy/mm/dd">
              </th>
              <th>
                <input input.delegate="dataTable.filterList($event, people.peopleArray)" id="personId-fullName" type="text" compare="lookup" class="form-control" ref="nameFilter"/>
              </th>
              <th>
                <input input.delegate="dataTable.filterList($event, people.peopleArray)" id="personId-nickName" type="text" compare="lookup" class="form-control" ref="nickNameFilter"/>
              </th>
              <th>
                <select change.delegate="dataTable.filterList($event)" class="form-control " id="institutionId" compare="id">
                    <option value=""></option>
                    <option repeat.for="institution of people.institutionsArray" value="${institution._id}">${institution.name}</option>
                </select>
              </th>
            </tr>
            <tr>
              <th>
                Number <span click.trigger="dataTable.sortArray('helpTicketNo')"><i class="fa fa-sort"></i></span>
              </th>
              <th>
                Type <span click.trigger="dataTable.sortArray('helpTicketType')"><i class="fa fa-sort"></i></span><br>
              </th>
              <th class="col-lg-1">
                Owner <span click.trigger="dataTable.sortArray('owner[0].personId')"><i class="fa fa-sort"></i></span><br>
              </th>
              <th></th>
              <th class="col-lg-1">
                Status <span click.trigger="dataTable.sortArray('status')"><i class="fa fa-sort"></i></span><br>
              </th>
              <th class="col-lg-1">
                Date Created <span click.trigger="dataTable.sortArray('createdDate')"><i class="fa fa-sort"></i></span>
              </th>
              <th class="col-lg-1">
                Date Updated <span click.trigger="dataTable.sortArray('modifiedDate')"><i class="fa fa-sort"></i></span>
              </th>
              <th class="col-lg-1">Faculty <span click.trigger="dataTable.sortArray('requestId.personId', 'id', people.peopleArray, '_id', 'fullName')"><i class="fa fa-sort"></i></span></th>
              <th class="col-lg-1">Nickname <span click.trigger="dataTable.sortArray('requestId.personId', 'id', people.peopleArray, '_id', 'nickName')"><i class="fa fa-sort"></i></span></th>
               <th>Institution</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Mobile</th>
            </tr>
          </thead>
          <tbody>
            <tr repeat.for="helpTicket of dataTable.displayArray">
              <td style="width:6rem;" data-title="referenceNo">${helpTicket.helpTicketNo}</td>
              <td style="width:15rem;" mouseover.delegate="showComment(helpTicket, $event)" mouseout.delegate="hideComment()" click.delegate="selectHelpTicket($event, $index)"
                data-title="type">${helpTicket.helpTicketType | lookupDescription:config.HELP_TICKET_TYPES}
                <td style="width:15rem;" data-title="Owner" click.delegate="selectHelpTicket($event, $index)">${helpTicket.owner[0].personId | person:people.peopleArray:'fullName'}</td>
                <td style="width:5rem;" data-title="Update" click.trigger="ownHelpTicket(helpTicket)"><span bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Take Ownership"><i class="fa fa-child fa-lg" aria-hidden="true"></i></span></td>
                <td data-title="Status" click.delegate="selectHelpTicket($event, $index)">${helpTicket.helpTicketStatus | lookupDescription:config.HELP_TICKET_STATUSES}</td>
                <td data-title="Created Date" click.delegate="selectHelpTicket($event, $index)">${helpTicket.createdDate | dateFormat:config.DATE_FORMAT_TABLE:true}</td>
                <td data-title="Modified Date" click.delegate="selectHelpTicket($event, $index)">${helpTicket.modifiedDate | dateFormat:config.DATE_FORMAT_TABLE:true}</td>
                <td data-title="Customer" click.delegate="selectHelpTicket($event, $index)">${helpTicket.personId | person:people.peopleArray:"fullName"}</td>
                <td data-title="Nickname" click.delegate="selectHelpTicket($event, $index)">${helpTicket.personId | person:people.peopleArray:"nickName"}</td>
                <td style="width:10rem;" data-title="Insitution">${helpTicket.institutionId | lookupValue:people.institutionsArray:"_id":"name"}</td>
                <td style="width:10rem;" data-title="Email" click.delegate="selectHelpTicket($event, $index)">${helpTicket.personId | person:people.peopleArray:"email"}</td>
                <td style="width:10rem;" data-title="Phone" click.delegate="selectHelpTicket($event, $index)">${helpTicket.personId | person:people.peopleArray:"phone"}</td>
                 <td style="width:10rem;" data-title="Phone" click.delegate="selectHelpTicket($event, $index)">${helpTicket.personId | person:people.peopleArray:"mobile"}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row" show.bind="helpTicketSelected">
        <compose view="./viewHTForm.html"></compose>
      </div>
    </div>
  </div>
  </div>
</template>