<template>
    <div class="panel panel-default" style="background-color:ghostwhite;">
        <div class="panel-body" style="padding:5px;">
            <div class="form-group row">
                <label for="catSortOrder">Category Name</label>
                <input id="categoryInput" value.bind="faqservices.selectedCat.description" type="text"
                    placeholder="Category Name" class="form-control" />
            </div>
            <div class="form-group row">
                <label for="catSortOrder">Sort Order</label>
                <input class="form-control" type="number" id="catSortOrder" placeholder="Sort Order"
                    value.bind="faqservices.selectedCat.sortOrder" />
            </div>
        </div>
    </div>
</template>