<template>
    <div class="col-lg-12 col-sm-12">
        <div class='row'>
            <div class='col-lg-10 col-lg-offset-1 bottomMargin'>
                <div id="no-more-tables">
                    <table class="table table-striped table-hover cf">
                        <thead class="cf">
                            <tr colspan='7'>
                                 <compose view="../../../../resources/elements/table-navigation-bar.html"></compose>
                                 </tr>
                            <tr>                            
                            <tr>
                                <td colspan='7'>
                                    <span click.delegate="refresh()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Refresh"><i class="fa fa-refresh" aria-hidden="true"></i></span>
                                    <span click.delegate="new()" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="New"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    <span class="pull-right" id="spinner" innerhtml.bind="spinnerHTML"></span>
                                </td>
                            </tr>
                            <tr>
                                <th style="width:20rem;">Name <span click.trigger="dataTable.sortArray('lastName')"><i class="fa fa-sort"></i></span></th>
                                <th class="col-lg-1">Nickname <span click.trigger="dataTable.sortArray('nickName')"><i class="fa fa-sort"></i></span></th>                                
                                <th style="width:30rem;">Institution</th>
                                <th style="width:15rem;">Phone</th>
                                <th style="width:20rem;">eMail <span click.trigger="dataTable.sortArray('email')"><i class="fa fa-sort"></i></span></th>
                                <th>Role</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    <input input.delegate="dataTable.filterList($event)" id="fullName" type="text" placeholder="Filter Name" class="form-control"> 
                                </th>
                                <th>
                                    <input input.delegate="dataTable.filterList($event)" id="nickName" type="text" placeholder="Filter Nickname" class="form-control"> 
                                </th>
                                <th>
                                     <input input.delegate="dataTable.filterList($event, people.institutionsArray)" id="institutionId-name" type="text" compare="lookup" class="form-control" ref="institutionFilter"/>
                                     <!--
                                    <select change.delegate="dataTable.filterList($event)" class="form-control " id="institutionId" compare="id">
                                    <option value=""></option>
                                    <option repeat.for="institution of people.institutionsArray" value="${institution._id}">${institution.name}</option>
                                    -->
                                </select>
                                </th>
                                <th></th>
                                <th></th>
                                <th>
                                    <input input.delegate="dataTable.filterList($event)" id="roles" type="text" placeholder="Filter Role" class="form-control"
                                        compare="array">
                                </th>
                                <th>
                                    <select value.bind="activeFilterValue" change.delegate="filterActive()" class="form-control " id="personStatus">
                                    <option value=""></option>
                                    <option repeat.for='status of is4ua.personStatusArray' value='${status.code}'>${status.description}</option>
                                </select>
                                </th>
                            </tr>
                            <tr repeat.for="person of dataTable.displayArray">
                                <td click.trigger="edit($index, $event)" data-title="Name">${person.firstName} ${person.lastName}</td>
                                <td click.trigger="edit($index, $event)" data-title="Nickname">${person.nickName}</td>
                                <td click.trigger="edit($index, $event)" data-title="Insitution">${person.institutionId | lookupValue:people.institutionsArray:"_id":"name"}</td>
                                <td click.trigger="edit($index, $event)" data-tile="Phone">${person.phone | phoneNumber}</td>
                                <td class="dropbtn" data-title="Email" click.delegate="sendAnEmail(person._id)">${person.email}</td>
                                <td click.trigger="edit($index, $event)" data-title="Role">${person.roles}</td>
                                <td class="dropbtn" click.trigger="toggleStatus(person._id, person.personStatus)" data-title="Status">${person.personStatus | lookupDescription:is4ua.personStatusArray}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>