<template>
    <div show.bind="requests.selectedRequestDetail.assignments.length > 0">
      <h4 class="topMargin"><strong>Assignments</strong></h4>
      <div show.bind="requests.selectedRequestDetail.requestStatus == config.ASSIGNED_REQUEST_CODE" class="panel panel-primary topMargin">
        <div class="panel-body">  
          <ul style="padding-left:10px;">
						<li class="list-group-item" repeat.for="assign of requests.selectedRequestDetail.assignments">
              <compose if.bind="systems.selectedSystem.type === 'ERP' || !systems.selectedSystem.type" view="./erp.html"></compose>
              <compose if.bind="systems.selectedSystem.type === 'HANA'" view="./hana.html"></compose>
              <compose if.bind="systems.selectedSystem.type === 'BO'" view="./bo.html"></compose>
						</li>
          </ul>

          <label show.bind="products.selectedProduct.documents && products.selectedProduct.documents.length > 0" class="topMargin">Helpful Documents</label>
          <div class="list-group">
            <a repeat.for="document of products.selectedProduct.documents" href="${config.DOCUMENT_FILE_DOWNLOAD_URL}/${document.categoryCode}/${document.categoryName}/${document.fileName}"  target="_blank">${document.fileName}</a>
          </div>
          <label show.bind="requests.selectedRequestDetail.techComments && requests.selectedRequestDetail.techComments.length > 0" class="topMargin">Assignment Comments</label>
          <div show.bind="requests.selectedRequestDetail.techComments && requests.selectedRequestDetail.techComments.length > 0" class="col-lg-12 topMargin well overFlow" innerhtml.bind="requests.selectedRequestDetail.techComments"></div>
        </div>
      </div>
    </div>
  </div>
</template>
