<template>
  <div class="row">
    <div class="col-md-12">
      <div  class="well well-sm col-md-10 col-sm-offset-1">${siteInfo.selectMessageByKey('CLIENT_REQUESTS_COMMENTS').content}</div>
    </div>
    <div show.bind="!existingRequest" class="form-group col-md-12">
      <editor  disabled.bind="existingRequest" value.bind="requests.selectedRequest.comments" height="250"></editor>
    </div>
    <div show.bind="existingRequest" class="col-sm-8" >
      <h4>Comments</h4>
      <div innerhtml.bind="requests.selectedRequest.comments"></div>
    </div>
  </div>
</template>