<template>

  <div class="col-md-12" >
    <div  class="well well-sm col-md-10 col-sm-offset-1" innerhtml.bind="siteInfo.selectMessageByKey('CLIENT_REQUESTS_SUMMARY').content"></div>
  </div>
  <div class="form-group col-md-12">
    <div class="row">
      <h4 show.bind="requestType != 'sandboxCourse'" class="col-md-5 topMargin">Course: <b>${courseId | courseName:people.coursesArray}</b></h4>
      <h4 show.bind="requestType == 'sandboxCourse'" class="col-md-5 topMargin">Course: <b>Sandbox</b></h4>
    </div>
    <div class="row">
      <h4 class="col-md-5 topMargin" show.bind="requestType != 'sandboxCourse'">Undergraduates: <b>${requests.selectedRequest.undergradIds}</b></h4>
      <h4 class="col-md-5 topMargin" show.bind="requestType != 'sandboxCourse'">Graduates: <b>${requests.selectedRequest.graduateIds}</b> </h4>
    </div>
    <div class="row">
      <h4 class="col-md-5 topMargin">Course Begins: <b>${requests.selectedRequest.startDate | dateFormat:'YYYY-MM-DD'}</b></h4>
      <h4 class="col-md-5 topMargin">Course Ends: <b>${requests.selectedRequest.endDate | dateFormat:'YYYY-MM-DD'}</b></h4>
    </div>
    <div class="col-md-12"></div>
    <div class="row" id="productListTable">
      <table class="table table-striped table-bordered col-md-10 topMargin">
        <thead>
        <tr>
          <th>Requested Product</th>
          <th>Date Required</th>
        </tr>
        <tbody id="requiredProductsTable">
        <tr repeat.for="request of requests.selectedRequest.requestDetails">
          <td>${request.productId | lookupValue:products.productsArray:"_id":"name"}</td>
          <td> 
            <div class="form-group  col-md-8">
               <flat-picker controlid="requiredDate-${$index}" config="configDate" value.bind="request.requiredDate" startdate.bind="minRequiredDate" enddate.bind="maxRequiredDate"></flat-picker>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group" show.bind="comments !== ''">
          <label >Comments:</label>
          <div class="topMargin" rows="12" innerhtml.bind="requests.selectedRequest.comments"></div>
        </div>
      </div>
    </div>

  </div>
</template>
