<template>
  <div class="row">
    <div class="col-md-12"  >
      <div  class="well well-sm col-md-10 col-sm-offset-1">${siteInfo.selectMessageByKey('SELECT_PRODUCT_WELL').content}</div>
    </div>
    <span class="leftMargin" id="productList"></span>
    <div class="col-md-12" >
      <div class="col-md-5 topMargin">
        <label>Available Products</label>
        <div class="well well2 overFlow" style="height:400px;">
          <input class="form-control" value.bind="filter" input.trigger="filterList()" placeholder="Filter products"/>
          <ul class="list-group">
            <button click.trigger="selectProduct($event)" type="button" repeat.for="product of filteredProductsArray" id="${product._id}"
                    class="list-group-item">${product.name}</button>
          </ul>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1 topMargin">
        <label id="requestProductsLabel">Requested Products</label>
        <div class="well well2 overflow" style="height:400px;">
          <ul class="list-group">
            <button  click.trigger="removeProduct($event)" type="button" repeat.for="product of requests.selectedRequest.requestDetails" id="${product.productId}"
                    class="list-group-item">${product.productId | productName:products.productsArray}</button>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
