<template>
	<div class="fluid-container">
		<!-- Buttons -->
		<div class="bottomMargin list-group-item">
			<span click.delegate="back()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title=""
				data-original-title="Back"><i class="fa fa-arrow-left fa-lg fa-border" aria-hidden="true"></i></span>
			<span show.bind="customerActionRequired" click.delegate="save()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title=""
				data-original-title="Save"><i class="fa fa-floppy-o fa-lg fa-border" aria-hidden="true" ></i></span>
			<span show.bind="customerActionRequired" click.delegate="cancel()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom"
				data-title="Cancel" title="Cancel"><i class="fa fa-ban fa-lg fa-border" aria-hidden="true"></i></span>
			<span show.bind="requests.selectedRequestDetail.assignments.length === 0" click.delegate="delete()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom"
                title="" data-original-title="Delete"><i class="fa fa-trash fa-lg fa-border text-danger" aria-hidden="true"></i></span>
		</div>
		<div class="col-lg-6 col-md-12">
			<compose view="./requestDetails.html"></compose>
		</div>
		<div class="col-lg-6 col-md-12">
			<compose view="./assignmentDetails.html"></compose>
		</div>
	</div>
</template>