<template>
  <div class="row">
    <div class="col-lg-7">
      
      <!-- Session Select -->
      <div class="row">
        <div class="form-group topMargin col-lg-5">
            <select value.bind="selectedSession" change.delegate="getRequests()" id="session" class="form-control">
              <option value="">Select a session</option>
              <option repeat.for="session of sessions.sessionsArray"
                      value.bind="session._id">Session ${session.session} - ${session.year}</option>
            </select>
        </div>
      
    
        <!-- Course Select -->
        <div show.bind="selectedSession != ''">
          <div class="form-group topMargin col-lg-5">
            <select value.bind="selectedCourse" change.delegate="getRequests()" id="course"
                    class="form-control">
              <option value="">Select a course</option>
              <option value.bind="config.SANDBOX_ID">${config.SANDBOX_NAME}</option>
              <option repeat.for="course of people.coursesArray"
                      value.bind="course._id">${course.number} - ${course.name}</option>
            </select>
          </div>
        </div>
      </div>
    
      <div show.bind="displayArray.length > 0">
        <!-- Request Table -->
        <compose view="./requestsTable.html"></compose>
        <!-- Request Details -->
        <compose view="./requestDetails.html"></compose>
      </div>
  </div>
  
  <compose view="./requestDetailDetails.html"></compose>
 
</div>

    
</template>