<template>
  <div class="col-lg-12">
    <div class="bottomMargin list-group-item leftMargin rightMargin">
      <span click.delegate="back()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Back"><i class="fa fa-arrow-left fa-lg fa-border" aria-hidden="true"></i></span>
      <span click.delegate="save()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Save"><i class="fa fa-floppy-o fa-lg fa-border" aria-hidden="true"></i></span>
      <span click.delegate="cancel()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Cancel Changes"><i class="fa fa-ban fa-lg fa-border" aria-hidden="true"></i></span>
    </div>  
       
      <div class="form-group topMargin row">
        <label for="editSession" class="col-sm-2 form-control-label topMargin">Session</label>
        <div class="col-sm-10">
          <select value.bind="sessions.selectedSession.session" class="form-control topMargin" id="editSession">
            <option></option>
            <option repeat.for="session of config.SESSION_PARAMS">${session.session}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="editYear" class="col-sm-2 form-control-label ">Year</label>
        <div class="col-sm-10">
          <input value.bind="sessions.selectedSession.year" id="editYear" class=" form-control" placeholder="Year" type="text" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 form-control-label ">Start Date</label>
        <div class="col-sm-10">
          <date-picker value.two-way="sessions.selectedSession.startDate" controlid="startDate"></date-picker>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 form-control-label ">End Date</label>
        <div class="col-sm-10">
          <date-picker value.two-way="sessions.selectedSession.endDate" controlid="endDate"></date-picker>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 form-control-label ">Requests Open</label>
        <div class="col-sm-10">
          <date-picker value.two-way="sessions.selectedSession.requestsOpenDate" controlid="requestsOpenDate"></date-picker>
        </div>
      </div>
      <div class="form-group row">
        <label for="editStatus" class="col-sm-2 form-control-label  bottomMargin">Status</label>
        <div class="col-sm-10">
          <select value.bind="sessions.selectedSession.sessionStatus" id="editStatus" class="form-control bottomMargin" id="editStatus">
            <option value="Closed">Closed</option>
            <option value="Active">Active</option>
            <option value="Requests">Requests</option>
            <option value="Next">Next</option>
          </select>
        </div>
      </div>
    </div>
</template>