<template>
    <div class='row'>
        <div class='col-lg-12'>
             <div id="no-more-tables">
            <table id="systemsTable" class="table table-striped table-hover cf">
                <thead class="cf">
                    <tr colspan='5'>
                        <compose view="../../../../resources/elements/table-navigation-bar.html"></compose>
                    </tr>
                    <tr>                    
                    <tr>
                        <td colspan='5'>
                            <span click.delegate="refresh()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Refresh"><i class="fa fa-refresh" aria-hidden="true"></i></span>
                            <span click.delegate="new()" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="New"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            <span class="pull-right" id="spinner" innerhtml.bind="spinnerHTML"></span>
                        </td>
                    </tr>
                    <tr>
                        <th style="width:100px;">SID <span click.trigger="dataTable.sortArray('sid')"><i class="fa fa-sort"></i></span></th>
                        <th>Description <span click.trigger="dataTable.sortArray('description')"><i class="fa fa-sort"></i></span></th>
                        <th class="hidden-xs hidden-sm">Server <span click.trigger="dataTable.sortArray('server')"><i class="fa fa-sort"></i></span></th>
                        <th class="hidden-xs hidden-sm">Instance</th>
                        <th class="hidden-xs hidden-sm">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="hasinput">
                            <input input.delegate="dataTable.filterList($event)" id="sid" type="text" placeholder="Filter SID" class="form-control">
                        </th>
                        <th>
                            <input input.delegate="dataTable.filterList($event)" id="description" type="text" placeholder="Filter description" class="form-control">
                        </th>
                        <th class="hidden-xs hidden-sm">
                            <input input.delegate="dataTable.filterList($event)" id="server" type="text" placeholder="Filter server" class="form-control">
                        </th>
                        <th class="hidden-xs hidden-sm"></th>
                        <th class="hidden-xs hidden-sm">
                            <select md-select change.delegate="dataTable.filterList($event)" class="form-control " id="active" compare="boolean">
                                <option value=""></option>
                                <option value=true>Active</option>
                                <option value=false>Inactive</option>
                            </select>
                        </th>
                    </tr>
                    <tr click.trigger="edit($index, $event)" repeat.for="system of dataTable.displayArray">
                        <td data-title="Session">${system.sid}</td>
                        <td data-title="StartDate">${system.description}</td>
                        <td  class="hidden-xs hidden-sm" data-title="EndDate">${system.server}</td>
                        <td  class="hidden-xs hidden-sm" data-title="RequestsOpen">${system.instance}</td>
                        <td  class="hidden-xs hidden-sm" data-title="createdDate">${system.active | translateStatus}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>    
</template>