<template>
    <div class="row">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input class="leftMargin" click.delegate="updateHomePreference()" checked.bind="showUserHome" type="checkbox"> Toggle user home page
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 offset-1 leftMargin">
            <h3>Reminders <span click.delegate="refreshReminders()" bootstrap-tooltip data-toggle="tooltip"
                    data-placement="bottom" title="" data-original-title="Refresh Reminders"><i class="fa fa-refresh"
                        aria-hidden="true"></i></span></h3>
            <ul class="list-group">
                <li class="${reminder.personal ? 'myReminder list-group-item pointMe borderBottom' : 'list-group-item pointMe borderBottom'}"
                    click.delegate="editReminder(reminder)" repeat.for="reminder of people.remindersArray">
                    <span>${reminder.reminder}</span>
                    <span click.delegate="deleteReminder(reminder)" class="smallMarginRight" bootstrap-tooltip
                        data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Delete"><i
                            class="fa fa-trash" aria-hidden="true"></i></span>

                    <span class="pull-right">Expires: ${reminder.expirationDate |
                        dateFormat:config.DATE_FORMAT_TABLE:false}</span>
                    <br />
                    <span if.bind="reminder.dueDate != null" class="pull-right">Due: ${reminder.dueDate |
                        dateFormat:config.DATE_FORMAT_TABLE:false}</span>
                </li>
            </ul>
            <div show.bind="showEditReminder" class="topMargin">
                <compose view="./reminderForm.html"></compose>
            </div>
        </div>
        <div class="col-3 offset-1 leftMargin">
            <h3>My Help Tickets <span click.delegate="refreshHelpTickets()" bootstrap-tooltip data-toggle="tooltip"
                    data-placement="bottom" title="" data-original-title="Refresh Help Tickets"><i class="fa fa-refresh"
                        aria-hidden="true"></i></span></h3>
            <ul>
                <li click.trigger="navigateToHelpTicket(helpTicket)" class="borderBottom pointMe"
                    repeat.for="helpTicket of helpTickets.myObjectsArray.mine">
                    <span>Help Ticket: ${helpTicket.helpTicketNo}</span><span
                        class="pull-right">${helpTicket.personId.fullName}</span>
                    <div>${helpTicket.helpTicketStatus |
                        lookupValue:config.HELP_TICKET_STATUSES:'code':'description'}</div>
                    </span>
                </li>
            </ul>
        </div>
        <div class="col-3 offset-1 leftMargin">
            <h3>New Help Tickets <span click.delegate="refreshHelpTickets()" bootstrap-tooltip data-toggle="tooltip"
                    data-placement="bottom" title="" data-original-title="Refresh Help Tickets"><i class="fa fa-refresh"
                        aria-hidden="true"></i></span></h3>
            <ul>
                <li click.trigger="navigateToHelpTicket(helpTicket)" class="borderBottom pointMe"
                    repeat.for="helpTicket of helpTickets.myObjectsArray.new">
                    <span>Help Ticket: ${helpTicket.helpTicketNo}</span><span
                        class="pull-right">${helpTicket.personId.fullName}</span>
                    <div>${helpTicket.helpTicketStatus |
                        lookupValue:config.HELP_TICKET_STATUSES:'code':'description'}</div>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</template>