<template>
	<div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4">
                    <div show.bind="!categoryForm">
                        <label>Available Categories</label>
                        <div class="well well2 overFlow" style="height:400px;">
                            <input class="form-control" value.bind="filter" input.trigger="filterList()" placeholder="Filter Categories" />
                            <ul class="list-group">
                                <button click.trigger="typeChanged($index)" type="button" repeat.for="type of filteredDocumentArray" id="${type.code}" class="list-group-item">${type.description}</button>
                            </ul>
                        </div>
                    </div>
                </div>

                <div show.bind="showDocuments" class="col-lg-8" style='padding:15px;'>
                    <div show.bind="showDocumentForm">
                        <compose view="./documentForm.html"></compose>
                    </div>
                    <compose show.bind="!showDocumentForm" view="./documentsTable.html"></compose>
                </div>
            </div>
        </div>
</template>