<template>
    <div class=' col-md-12' id='inputContainer'>
        <div class='form-group'><input type='text' value.bind='helpTickets.selectedHelpTicketContent.content.curriculumTitle'
                class='form-control extend' id='curriculumTitle' placeholder='Curriculum Title'></div>
        <div class='form-group'><input type='text' value.bind='helpTickets.selectedHelpTicketContent.content.curriculumVersion'
                class='form-control extend' id='curriculumVersion' placeholder='Version'></div>
        <div class='form-group'><input type='text' value.bind='helpTickets.selectedHelpTicketContent.content.exerciseModule'
                class='form-control extend' id='exerciseModule' placeholder='Exercise/Module'></div>
        <div class='form-group'><input type='text' value.bind='helpTickets.selectedHelpTicketContent.content.pageNumber'
                class='form-control extend' id='pageNumber' placeholder='Page Number'></div>
        <div class='form-group'><input type='text' value.bind='helpTickets.selectedHelpTicketContent.content.userIDsaffected'
                class='form-control extend' id='userIDsaffected' placeholder='User IDs affected'></div>
    </div>
</template>