.navbar-nav .active {
    text-decoration: underline;
}

.page-item .active {
    background-color: blue !important;
}

.nav-link {
    color: white;
}

.btn-link {
    color: white;
}

.topMargin {
    margin-top: 25px;
}

.smallTopMargin {
  margin-top: 5px;
}

.bottomMargin {
    margin-bottom: 25px;
}

.leftMargin {
    margin-left: 25px;
}

.rightMargin {
  margin-right: 25px;
}

.smallLeftMargin {
    margin-left: 10px;
}

.bigTopMargin {
    margin-top: 50px;
}

.bigLeftMargin {
    margin-left: 50px;
}

.smallMarginTop {
    margin-top: 5px;
}

.smallMarginRight {
    margin-right: 10px;
}

.overFlow {
    overflow-y:scroll;
}

span i {
    cursor: pointer;
}

.pointMe {
  cursor: pointer;
}

.dontPointMe{
  cursor: default
}

.content {
    margin-top:75px;
}


/* thead, tbody { display: block; } */

/* tbody {   
    overflow-y: auto;    
    overflow-x: hidden;  
} */

/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  /* Style the caret/arrow */
  .caret {
    cursor: pointer; 
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg); 
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }