.navbar-nav .active {
    text-decoration: underline;
}

.page-item .active {
    background-color: blue !important;
}

.nav-link {
    color: white;
}

.btn-link {
    color: white;
}

.topMargin {
    margin-top: 25px;
}

.smallTopMargin {
  margin-top: 5px;
}

.bottomMargin {
    margin-bottom: 25px;
}

.leftMargin {
    margin-left: 25px;
}

.rightMargin {
  margin-right: 25px;
}

.smallLeftMargin {
    margin-left: 10px;
}

.bigTopMargin {
    margin-top: 50px;
}

.bigLeftMargin {
    margin-left: 50px;
}

.smallMarginTop {
    margin-top: 5px;
}

.smallMarginRight {
    margin-right: 10px;
}

.overFlow {
    overflow-y:scroll;
}

  .positionUnderToolbar {
    top:-110px;
  }

  span i {
    cursor: pointer;
}


thead, tbody { display: block; }

tbody {
    height: 1000px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}