
li.nav-item {
  color: white;
  background-color:black;
}

li.active {
  color: white;
  background-color: red;
}

.errorText {
  color: red;
}
 
 .selected {
   background-color:teal;
   color: white;
 }
 
 .cardContainer {
    height: 100vh;
  }

  .subMenu{
    color:navajowhite;
  }

  #loading {
      background: repeat scroll 0 0;
      height: 100%;
      left: 0;
      margin: auto;
      position: fixed;
      top: 0;
      width: 100%;
      z-index:99;
  }

  .bokeh {
    border: 0.01em solid rgba(150, 150, 150, 0.1);
    border-radius: 50%;
    font-size: 100px;
    height: 1em;
    list-style: outside none none;
    margin: 0 auto;
    position: relative;
    top: 35%;
    width: 1em;
    z-index: 2147483647;
}
.bokeh li {
    border-radius: 50%;
    height: 0.2em;
    position: absolute;
    width: 0.2em;
}
.bokeh li:nth-child(1) {
    animation: 1.13s linear 0s normal none infinite running rota, 3.67s ease-in-out 0s alternate none infinite running opa;
    background: #00c176 none repeat scroll 0 0;
    left: 50%;
    margin: 0 0 0 -0.1em;
    top: 0;
    transform-origin: 50% 250% 0;
}
.bokeh li:nth-child(2) {
    animation: 1.86s linear 0s normal none infinite running rota, 4.29s ease-in-out 0s alternate none infinite running opa;
    background: #ff003c none repeat scroll 0 0;
    margin: -0.1em 0 0;
    right: 0;
    top: 50%;
    transform-origin: -150% 50% 0;
}
.bokeh li:nth-child(3) {
    animation: 1.45s linear 0s normal none infinite running rota, 5.12s ease-in-out 0s alternate none infinite running opa;
    background: #fabe28 none repeat scroll 0 0;
    bottom: 0;
    left: 50%;
    margin: 0 0 0 -0.1em;
    transform-origin: 50% -150% 0;
}
.bokeh li:nth-child(4) {
    animation: 1.72s linear 0s normal none infinite running rota, 5.25s ease-in-out 0s alternate none infinite running opa;
    background: #88c100 none repeat scroll 0 0;
    margin: -0.1em 0 0;
    top: 50%;
    transform-origin: 250% 50% 0;
}

.translucent{
    opacity: 0.2;
}

@keyframes opa {
  12% {
      opacity: 0.8;
  }
  19.5% {
      opacity: 0.88;
  }
  37.2% {
      opacity: 0.64;
  }
  40.5% {
      opacity: 0.52;
  }
  52.7% {
      opacity: 0.69;
  }
  60.2% {
      opacity: 0.6;
  }
  66.6% {
      opacity: 0.52;
  }
  70% {
      opacity: 0.63;
  }
  79.9% {
      opacity: 0.6;
  }
  84.2% {
      opacity: 0.75;
  }
  91% {
      opacity: 0.87;
  }
  }
  
  @keyframes rota {
      100% {
          transform: rotate(360deg);
      }
  }

  .smart-timeline{position:relative}
.smart-timeline-list{list-style:none;margin:0;padding:0}
.smart-timeline-list:after{content:" ";background-color:#eee;position:absolute;display:block;width:2px;top:0;left:95px;bottom:0;z-index:1}
.smart-timeline-list li{position:relative;margin:0;padding:15px 0}
.smart-timeline-list>li:hover{background-color:#f4f4f4}
.smart-timeline-hover li:hover{background-color:#f9f9f9}
.smart-timeline-icon{background:#3276b1;color:#fff;border-radius:50%;position:absolute;width:40px;height:40px;line-height:28px;font-size:14px;text-align:center;left:80px;top:10px;z-index:100;padding:2px}
.smart-timeline-icon>img{height:32px;width:32px;border-radius:50%;margin-top:-2px;margin-left:-2px;border:2px solid #3276b1}
.smart-timeline-time{float:left;width:70px;text-align:right}
.smart-timeline-time>small{font-style:italic}
.smart-timeline-content{margin-left:123px}

.menuImage {
  position:relative;
  left:-60px;
  top:-10px;
}

.outSideCard {
  position:relative;
  top:-20px;
}

.assigned {
  background-color: aqua;
}

.smallPhoto {
  width:100px;
  height:100px;
}

.bigPhoto{
  width:200px;
  height:200px;
}

.imgG {
  position:relative
}

.imgG:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0; 
  width: inherit;
  height: inherit;
  background: #ebebeb url('../img/default.jpg') no-repeat center;
  color: transparent;
}

 .subMenu{
  position: relative;
  top: -5px;
  left: 0px;
  width: 100%;
}

.subMenu-container {
  position: fixed; 
  top: 5rem;
  left: 18rem;
  width: 100%;
  z-index:99;
}

.banner {
  height: 50px;
  width: 100%;
  background-color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
} 

/* .subMenu-container {
  position: fixed;
  top: 20px;
} */

.menu:hover {background-color: #f1f1f1}

.copy {cursor: copy;}

.header-fixed {
  width: 100% 
}

.deletedAssignment{
  background-color: lightcoral;
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
  display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

.header-fixed > tbody {
  overflow-y: auto;
  height: 150px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
  width: 20%;
  float: left;
}

.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }

.hover {
  position:absolute;
  height: 400px;
  width: 600px;
  z-index:99;
  display:none; 
  box-shadow: 10px 10px 5px #888888;
  overflow: hidden;
  background-color: white;
  padding: 10px;
}

.hoverProfile {
  position:absolute;
  height: 250px;
  width: 500px;
  z-index:99;
  display:none;
  box-shadow: 10px 10px 5px #888888;
  overflow: hidden;
  background-color: white;
  padding: 10px;
   right:0;
  bottom:0;
}

.hoverMenu {
  position:absolute;
  height: 250px;
  width: 200px;
  z-index:99;
  display:none;
  box-shadow: 10px 10px 5px #888888;
  overflow: hidden;
  background-color: white;
  padding: 10px;
   right:0;
  bottom:0;
}

.notification {
  position:absolute;
  height: 3em;
  /* width: 200px; */
  left: 70iv;
  top: 50;
  z-index:99;
  display:none;
  box-shadow: 10px 10px 5px #888888;
  overflow: hidden;
  /* background-color: green; */
  color: black;
  padding: 10px;
   right:0;
  bottom:0;
}

.tableFixHead          { overflow-y: auto; height: 400px; }
.tableFixHead thead th { position: sticky; top: 0; background-color:#FFFFFF}

.selectedStatus {
  background-color: blue;
}

.navbar-nav .active {
    text-decoration: underline;
}

.underline {
  text-decoration: underline;
}

.page-item .active {
    background-color: blue !important;
}

.nav-link {
    color: white;
}

.btn-link {
    color: white;
}

.topMargin {
    margin-top: 25px;
}

.smallTopMargin {
  margin-top: 5px;
}

.bottomMargin {
    margin-bottom: 25px;
}

.leftMargin {
    margin-left: 25px;
}

.rightMargin {
  margin-right: 25px;
}

.smallLeftMargin {
    margin-left: 10px;
}

.bigTopMargin {
    margin-top: 50px;
}

.bigLeftMargin {
    margin-left: 50px;
}

.smallMarginTop {
    margin-top: 5px;
}

.smallMarginRight {
    margin-right: 10px;
}

.noteHeight {
  height: 500px;
  color:black;
}

span i {
    cursor: pointer;
}

.pointMe {
  cursor: pointer;
}

.dontPointMe{
  cursor: default
}

.content {
    margin-top:75px;
}


/* thead, tbody { display: block; } */

/* tbody {   
    overflow-y: auto;    
    overflow-x: hidden;  
} */

/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  /* Style the caret/arrow */
  .caret {
    cursor: pointer; 
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }

  .blackText {
    color: black;
  }

  .overFlow {
    overflow-y:scroll;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg); 
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
  }

  .offWhite {
    background-color:#e8fdff;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }

  .bold {
    font-weight : bold;
  }

  .aut-sort:before{
    font-family: FontAwesome;
    padding-right: 0.5em;
    width: 1.28571429em;
    display: inline-block;
    text-align: center;
}

.aut-sortable:before{
    content: "\f0dc";
}

.aut-asc:before{
    content: "\f160";
}

.aut-desc:before{
    content: "\f161";
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

/* Timeline vertical line */
ul.timeline:before {
  content: ' ';
  background: #fff;
  display: inline-block;
  position: absolute;
  left: 16px;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 1rem;
}

li.timeline-item {
  margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid #fff;
  border-bottom: 0.5rem solid transparent;
  display: block;
  position: absolute;
  left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
  content: ' ';
  background: #ddd;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #fff;
  left: 11px;
  width: 14px;
  height: 14px;
  z-index: 400;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.parallax1 {
  /* The image used */
  background-image: url("../img/parallax1.jpg");

  /* Set a specific height */
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.myReminder {
  background-color:cornsilk;
}

.parallax2 {
  /* The image used */
  background-image: url("../img/parallax2.jpg");

  /* Set a specific height */
  min-height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.borderBottom {
  border-bottom: 1px solid black;
}

.fileMgtHeader {
  font-size:2.25rem;
}

.fileMgtSubHeader {
  font-size:1.125rem;
  line-height:1.4em;
  font-weight:300;
}

.fileMgtSubSubHeader {
  font-size:1rem;
  font-weight:250;
}
