<template>
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Change Password</h4>
        </div>
        <div class="card-body">
            <div class="panel panel-default col-md-12">
                <div class="panel-body">
                    <div class="bottomMargin">
                        <div class="bottomMargin list-group-item">
                            <span click.delegate="savePassword()" class="smallMarginRight" bootstrap-tooltip
                                data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Save"><i
                                    class="fa fa-floppy-o fa-lg fa-border" aria-hidden="true"></i></span>
                            <span click.delegate="cancelEditPassword()" class="smallMarginRight" bootstrap-tooltip
                                data-toggle="tooltip" data-placement="bottom" title=""
                                data-original-title="Cancel Changes"><i class="fa fa-ban fa-lg fa-border"
                                    aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input id="newPassword" type="text" placeholder="New Password" class="form-control topMargin"
                            value.bind="newPassword" />
                    </div>
                </div>
            </div>
        </div>
</template>