<template>
    <!-- <compose view="../../../../resources/modals/deleteObjectModal.html"></compose>
  <compose view="../../../../resources/modals/changeObjectModal.html"></compose>
  <compose view="../../../../resources/modals/youHaveErrorsModal.html"></compose> -->

    <div class="list-group-item">
        <span click.delegate="back()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip"
            data-placement="bottom" title="" data-original-title="Back"><i class="fa fa-arrow-left fa-lg fa-border"
                aria-hidden="true"></i></span>
        <span disabled.bind="controller.errors.length > 0" click.delegate="save()" class="smallMarginRight"
            bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Save"><i
                class="fa fa-floppy-o fa-lg fa-border" aria-hidden="true"></i></span>
        <span click.delegate="cancel()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip"
            data-placement="bottom" title="" data-original-title="Cancel Changes"><i class="fa fa-ban fa-lg fa-border"
                aria-hidden="true"></i></span>
        <span show.bind="!newPerson" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip"
            data-placement="bottom" title="" data-original-title="Delete"><i
                class="fa fa-trash fa-lg fa-border text-danger" aria-hidden="true" data-toggle="modal"
                data-target="#deleteObject"></i></span>
    </div>
    <div class='bottomMargin topMargin'></div>
    <ul class="nav nav-pills bottomMargin">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" role="tab" href="#userinfo">User Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab" href="#address">Address</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab" href="#roles">Roles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab" href="#password">Password</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="userinfo" role="tabpanel" aria-labelledby="home-tab">
            <compose view="./userInfo.html"></compose>
        </div>
        <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="home-tab">
            <compose view="./address.html"></compose>
        </div>
        <div class="tab-pane fade" id="roles" role="tabpanel" aria-labelledby="home-tab">
            <compose view="./roles.html"></compose>
        </div>
        <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="home-tab">
            <compose view="./password.html"></compose>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul if.bind="controller.errors.length > 0">
                <li repeat.for="error of controller.errors">${error}</li>
            </ul>
        </div>
        <div class="col">
            <ul if.bind="validationErrors.length > 0">
                <li repeat.for="error of validationErrors">${error}</li>
            </ul>
        </div>
    </div>
</template>