<template>
	 <div class="fluid-container">

        <div class="bottomMargin list-group-item leftMargin rightMargin">
            <span click.delegate="back()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title=""
                data-original-title="Back"><i class="fa fa-arrow-left fa-lg fa-border" aria-hidden="true"></i></span>
            <span click.delegate="save()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title=""
                data-original-title="Save"><i class="fa fa-floppy-o fa-lg fa-border" aria-hidden="true"></i></span>
            <span click.delegate="cancel()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom"
                title="" data-original-title="Cancel Changes"><i class="fa fa-ban fa-lg fa-border" aria-hidden="true"></i></span>
            <span show.bind="!inventory.selectedInventory._id" click.delegate="delete()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom"
                title="" data-original-title="Delete"><i class="fa fa-trash fa-lg fa-border text-danger" aria-hidden="true"></i></span>
        </div>

        <div class="topMargin leftMargin">
            <form class="form-horizontal topMargin">
				<div class="row">
					<div class="col-lg-3">
						<div class="form-group">
							<div class="col-sm-10">
								<label>Name *</label>
								<input value.bind="inventory.selectedInventory.systemName" id="editSystemName" class="form-control" placeholder="Name" type="text" />
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="form-group">
							<div class="col-sm-10">
								<label>Description *</label>
								<input value.bind="inventory.selectedInventory.description" id="editDescription" class="form-control" placeholder="Description" type="text" />
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="form-group">
							<div class="col-sm-10">
								<label>Date Created</label>
								<flat-picker controlid="dateCreated" config.bind="config" value.bind="inventory.selectedInventory.dateCreated"></flat-picker>
							<!--	<date-picker value.two-way="inventory.selectedInventory.dateCreated"  controlid="createdDate"></date-picker> -->
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<table id="coursesTable" class="table table-striped table-hover">
							<thead>
								<tr>
									<th>Document </th>
									<th>Default</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr repeat.for="document of inventory.selectedInventory.documents">
									<td data-title="name"><a target="_blank" href="${config.DOCUMENT_FILE_DOWNLOAD_URL}/${document.categoryName}/${document.fileName}">${document.fileName}</a></td>
									<td data-title="default" click.trigger="toggleDefault($index)" innerhtml.bind='document.default | checkBox'></td>
									<td  click.trigger="removeDocument($index)"><i class="fa fa-trash"></i></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3">
						<div class="form-group">
							<div class="col-sm-10">
								<label>Serial Number</label>
								<input value.bind="inventory.selectedInventory.serialNumber" class="form-control" placeholder="Serial Number" type="text" />
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="form-group">
							<div class="col-sm-10">
								<label>Model Number</label>
								<input value.bind="inventory.selectedInventory.modelNumber" class="form-control" placeholder="Model Number" type="text" />
							</div>
						</div>
					</div>
					 <div class="col-sm-12 col-lg-3">
                        <div class="form-group"> 
                            <div class="col-sm-10">
                                <label class="left">Type *</label>
                                <select value.bind="inventory.selectedInventory.type" class="form-control">
                                    <option value="">Select an option</option>
                                    <option repeat.for="type of config.systemTypes" value.bind="type">${type}</option>
                                </select>
                            </div>
                        </div>
                    </div>
				</div>
			</form>
        </div>

		<div class="row topMargin leftMargin">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="col-lg-2">
							<div id="invFormListGroup" class="list-group">
								<a class="${ $first ? 'active' : ''} list-group-item" repeat.for="tab of tabs" href="" class="list-group-item" click.delegate="changeTab($event, $index)">
									<h4 id="${tab.id}" class="list-group-item-heading">${tab.title}</h4>
								</a>
							</div>
						</div>

						<div class="col-lg-10">
							<div class="tab-content">
								<div repeat.for="tab of tabs" id="${tab.id + 'Tab'}" class="${ $first ? 'tab-pane fade in active' : 'tab-pane fade' }">
									<compose view="${tabPath + tab.id + '.html'}"></compose>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	 </div>
</template>