<template>
	<div class="row">
		<div class="col-lg-3">
			<div class="form-group">
				<div class="col-sm-10">
					<label>Vendor Name</label>
					<input value.bind="inventory.selectedInventory.vendorName"  class="form-control" placeholder="Vendor Name" type="text" />
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="form-group">
				<div class="col-sm-10">
					<label>Date Purchased</label>
					<flat-picker controlid="datePurchased" config.bind="config" value.bind="inventory.selectedInventory.datePurchased"></flat-picker>
				<!--	<date-picker value.two-way="inventory.selectedInventory.datePurchased"  controlid="createdDate"></date-picker> -->
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="form-group">
				<div class="col-sm-10">
					<label>PO Number</label>
					<input value.bind="inventory.selectedInventory.poNumber"  class="form-control" placeholder="PO Number" type="text" />
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<div class="form-group">
				<div class="col-sm-10">
					<label>Vendor Contact </label>
					<input value.bind="inventory.selectedInventory.vendorContact"  class="form-control" placeholder="Contact Name" type="text" />
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="form-group">
				<div class="col-sm-10">
					<label>Vendor Phone</label>
					<input value.bind="inventory.selectedInventory.vendorPhone"  class="form-control" placeholder="Phone" type="text" />
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="form-group">
				<div class="col-sm-10">
					<label>Vendor Email</label>
					<input value.bind="inventory.selectedInventory.vendorEmail"  class="form-control" placeholder="Email" type="text" />
				</div>
			</div>
		</div>
	</div>
</template>