<template>
    <div class="topMargin leftMargin">
        <form class="form-horizontal topMargin">
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label>Name *</label>
                            <input value.bind="inventory.selectedInventory.systemName" id="editSystemName" class="form-control"
                                placeholder="Name" type="text" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label>Description *</label>
                            <input value.bind="inventory.selectedInventory.description" id="editDescription" class="form-control"
                                placeholder="Description" type="text" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label>Date Created</label>
                            <flat-picker controlid="dateCreated" config.bind="config" value.bind="inventory.selectedInventory.dateCreated"></flat-picker>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <table id="coursesTable" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Document </th>
                                <th>Default</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr repeat.for="document of inventory.selectedInventory.documents">
                                <td data-title="name"><a target="_blank" href="${config.DOCUMENT_FILE_DOWNLOAD_URL}/${document.categoryCode}/${document.categoryName}/${document.fileName}">${document.fileName}</a></td>
                                <td data-title="default" click.trigger="toggleDefault($index)" innerhtml.bind='document.default | checkBox'></td>
                                <td click.trigger="removeDocument($index)"><i class="fa fa-trash"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label>Serial Number</label>
                            <input value.bind="inventory.selectedInventory.serialNumber" class="form-control"
                                placeholder="Serial Number" type="text" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label>Model Number</label>
                            <input value.bind="inventory.selectedInventory.modelNumber" class="form-control"
                                placeholder="Model Number" type="text" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-3">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label class="left">Type *</label>
                            <select value.bind="inventory.selectedInventory.type" class="form-control">
                                <option value="">Select an option</option>
                                <option repeat.for="type of config.systemTypes" value.bind="type">${type}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>