<template>
    <!--
    <div class="alert alert-success col-md-3 rightMargin">
        <h4>Unassigned</h4> <h2 style="margin-left:80px;">${requests.unassignedRequests}</h2>
    </div>
    <div class="alert alert-success col-md-3 rightMargin">
        <h4>Updated</h4> <h2 style="margin-left:80px;">${requests.updatedRequests}</h2>
    </div>
    <div class="alert alert-success col-md-3 rightMargin">
        <h4>Customer Action</h4> <h2 style="margin-left:110px;">${requests.customerActionRequests}</h2>
    </div>
-->

    <div class="detail-container">
        <div>
          <h4>Client Requests</h4>
           <div class="bigMarginTop">
    			<doughnut-chart>
    				<chart-data data.bind="clientRequestsArray"></chart-data>
    			</doughnut-chart>
    		</div>
    	</div>
</template>