<template>
    <div class="modal fade" id="addPackageModal" tabindex="-1" role="dialog" aria-labelledby="addPackageModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPackageModalLabel">Add Package</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Package</label>
                    <select value.bind="selectedPackage" id="editPackage"
                        class="form-control selectpicker" data-style="btn btn-link">
                        <option value="">Select an option</option>
                        <option repeat.for="package of people.packageArray" value="${package._id}">
                            ${package.name}</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button click.delegate="executeAddPackage()" type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</template>