<template>
    <div class="container-fluid">
        <div class="checkbox leftMargin">
            <compose view="../../../../resources/elements/table-nav-bar.html"></compose>
            <table class="table-sm table-striped header-fixed  table-hover"
                aurelia-table="data.bind: requests.requestsDetailsArray; display-data.bind: $displayData; filters.bind: filters; current-page.bind: currentPage; page-size.bind: pageSize; total-items.bind: totalItems;">
                <thead>
                    <tr>
                        <th>
                            <compose view='./requestsTableToolbar.html'></compose>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label>
                                <input checked.bind="filterAssigned" change.trigger="getRequests()" type="checkbox">
                                Filter out Assigned Requests
                            </label>
                        </th>
                    </tr>
                    <tr>
                        <th style="width:8%;" scope="col"></th>
                        <th style="width:8%;" scope="col"></th>
                        <th style="width:8%;" scope="col">
                            <div class="form-group">
                                <select value.bind="filters[0].value" class="form-control  selectpicker"
                                    data-style="btn btn-link">
                                    <option value="">Status</option>
                                    <option repeat.for="status of config.REQUEST_STATUS" value="${status.code}">
                                        ${status.description}</option>
                                </select>
                            </div>
                        </th>
                        <th style="width:5%;" scope="col"></th>
                        <th style="width:15%;" scope="col">
                            <div class="form-group">
                                <input type="text" value.bind="filters[1].value" placeholder="Product"
                                    class="form-control" id='filterField1' />
                            </div>
                        </th>
                        <th style="width:20%;" scope="col">
                            <div class="form-group">
                                <input type="text" value.bind="filters[4].value" placeholder="Institution"
                                    class="form-control" id='filterField4' />
                            </div>
                        </th>
                        <th style="width:5%;" scope="col">
                            <div class="form-group">
                                <input type="text" value.bind="filters[5].value" placeholder="System"
                                    class="form-control" id='filterField5' />
                            </div>
                        </th>
                        <th style="width:8%;"></th>
                    </tr>
                    <tr>
                        <th style="width:8%;" aut-sort="key: requiredDate">Due</th>
                        <th style="width:8%;" aut-sort="key: createdDate">Created</th>
                        <th style="width:8%;" aut-sort="key: requestStatus">Status</th>
                        <th style="width:5%;">IDS</th>
                        <th style="width:15%;" aut-sort="key: productId.name">Product</th>
                        <th style="width:20%;" aut-sort="key: requestId.institutionId.name">Institution</th>
                        <th style="width:5%;"></th>
                        <th style="width:8%;"></th>
                    </tr>
                </thead>
                <tbody style="height:500px;">
                    <tr click.delegate="selectARequest(request)" repeat.for="request of $displayData  "
                        style="font-size: 10px;" class="pointMe">
                        <td style="width:8%;">${request.requiredDate | dateFormat:config.DATE_FORMAT_TABLE}</td>
                        <td style="width:8%;">${request.createdDate | dateFormat:config.DATE_FORMAT_TABLE}</td>
                        <td style="width:8%;" data-title="status">
                            ${request.requestStatus | lookupValue:config.REQUEST_STATUS:"code":"description"}
                            <i if.bind="request.requestStatus != config.ASSIGNED_REQUEST_CODE" click.delegate="showStatusList(request, $event)" class="fa fa-info pointMe"
                                aria-hidden="true"></i>
                        </td>
                        <td style="width:5%;" data-title="ids-requested">
                            ${request.numberOfStudents}</td>
                        <td style="width:15%;" data-title="product">
                            ${request.productId.name}</td>
                        <td style="width:20%;" data-title="Name">
                            ${request.requestId.institutionId.name}</td>
                        <td style="width:5%;" show.bind="!isCheckedAssigned"
                            innerhtml.bind="request.assignments | parseAssignments:systems.objectsArray"></td>
                        <td style="width:8%;">
                            <span click.delegate="openCloneModal(request, $event)" class="smallMarginRight"
                                bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title=""
                                data-original-title="Clone request"><i class="fa fa-files-o"
                                    aria-hidden="true"></i></span>
                            <span class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip"
                                data-placement="bottom" title="" data-original-title="View Assignment">
                                <i class="fa fa-eye fa-lg fa-border" click.delegate="viewAssignment(request, $event)"
                                    aria-hidden="true"></i>
                            </span>
                            <span class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip"
                                data-placement="bottom" title="" data-original-title="Edit">
                                <i class="fa fa-pencil fa-lg fa-border" click.delegate="editRequest(request, $event)"
                                    aria-hidden="true"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</template>