<template>
    <div class="form-group">
        <!-- <label class="control-label col-sm-3 hideOnPhone">Systems</label>
        <select change.delegate="systemSelected()" class="form-control selectpicker" id="systemSelector" data-style="btn btn-link" value.bind="selectedSystemId">
            <option repeat.for='sys of productSystems' model.bind="sys._id">${sys.sid}</option>
        </select> -->
        <div repeat.for='sys of productSystems' change.delegate="systemSelected(sys._id)" class="form-check form-check-radio form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" id="${sys._id}" type="radio" name="inlineRadioOptions" model.bind="sys._id" checked.bind="selectedSystemId"> ${sys.sid}
              <span class="circle">
                  <span class="check"></span>
              </span>
            </label>
          </div>
    </div> 
    <div class="checkbox">
        <label>
            <input checked.bind="unassignedOnly" id="unassignedCheckBox" type="checkbox" 
             data-toggle="checkbox"> Unassigned only
        </label>
    </div>
    <div style="overflow:auto;height:800px;">
        <div class="row pointMe" click.trigger="selectClient(client, $index)" style="border-bottom: 1px solid;" repeat.for="client of selectedSystem.clients | 
        filterClients:unassignedOnly:config.UNASSIGNED_CLIENT_CODE:sandBoxOnly:config.SANDBOX_CLIENT_CODE:products.selectedProduct._id">
            <div class="col-4">
                <div class="row">
                    <div class="col bold">${client.client}</div>
                    <div class="col bold">${client.clientStatus | lookupValue:config.CLIENT_STATUSES:"code":"description"}</div>
                </div>
                <div class="row">
                    <div class="col" style="font-size: 10px;">
                        ${products.selectedObject.name}
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row" style="border-bottom: 1px solid;padding:5px;border-top: 1px solid;padding:5px;" repeat.for="assignment of client.assignments">
                    <div class="col">
                        <p class="list-group-item-text" style="font-size: 10px;"><span class="bold">Student IDs: ${assignment.studentIDRange | concatenateString:50}</span> <span class="pull-right  bold">Faculty IDs: ${assignment.facultyIDRange | concatenateString:50}</span>
                            <br>
                            <span if.bind="assignment.personId">${assignment.personId.fullName}</span>
                            <span class="pull-right">${assignment.institutionId.name}</span></br></p>
                        <!-- <span if.bind="assignment.assignment.requestId == selectedRequestDetail.requestId._id || assignment.provisional"
                         click.trigger="deleteTest($parent.client, $index)" class="smallMarginRight" bootstrap-tooltip
                         data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Delete"><i class="fa fa-trash-o"
                             aria-hidden="true"></i></span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>