<template>
    <div class="card positionUnderToolbar">
        <div class="card-body">
            <div class="list-group-item col-lg-10">
                <span click.delegate="back()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip"
                    data-placement="bottom" title="" data-original-title="Back"><i
                        class="fa fa-arrow-left fa-lg fa-border" aria-hidden="true"></i></span>
           
                <!-- <span click.delegate="cancel()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip"
                    data-placement="bottom" title="" data-original-title="Cancel Changes"><i
                        class="fa fa-ban fa-lg fa-border" aria-hidden="true"></i></span> -->
                <span click.delegate="deleteInstitution()" show.bind="!newPerson" class="smallMarginRight"
                    bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title=""
                    data-original-title="Delete"><i class="fa fa-trash fa-lg fa-border text-danger"
                        aria-hidden="true"></i></span>
            </div>
            <ul class="nav nav-pills bottomMargin">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" role="tab" href="#requests">Requests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab" href="#instiutioninfo">Institution
                        Info</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab" href="#address">Address</a>
                </li> -->
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="requests" role="tabpanel"
                    aria-labelledby="home-tab">
                    <compose view="./createRequestForm.html"></compose>
                </div>
                <div class="tab-pane fade" id="instiutioninfo" role="tabpanel" aria-labelledby="home-tab">
                    <compose view="./institutionInfo.html"></compose>
                </div>
                <!-- <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="home-tab">
                    <compose view="./institutionAddress.html"></compose>
                </div> -->
            </div>
            <div class="row">
                <div class="col">
                    <div if.bind="controller.errors.length > 0" class="alert alert-danger topMargin" role="alert">
                        <ul class="list-group">
                            <li repeat.for="error of controller.errors" class="list-group-item">
                                ${error}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>