<template>
    <div class="modal fade" id="requestModal" tabindex="-1" role="dialog"
    aria-labelledby="requestModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="requestModalLabel">New Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Product</label>
                    <select value.bind="requestDetails[requestDetailsIndex].productId" id="selectExistingProduct" class="form-control selectpicker"
                        data-style="btn btn-link">
                        <option value="">Select an option</option>
                        <option repeat.for="product of filteredProductsArray" value="${product._id}">
                            ${product.name}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Number of Students</label>
                    <input type="number" class="form-control" value.bind="requestDetails[requestDetailsIndex].numberOfStudents">
                </div>
                <div class="form-group">
                    <label>Required Date</label>
                    <td>
                        <flat-picker controlid="requiredDate-${$index}" config.bind="configDate"
                            value.bind="requestDetails[requestDetailsIndex].requiredDate">
                        </flat-picker>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Accept</button>
                    <button click.trigger="cancelEditRequest()" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</template>