<template>
    <td colspan='7'>
        <span click.delegate="getRequests()" class="smallMarginRight" bootstrap-tooltip
            data-toggle="tooltip" data-placement="bottom" title=""
            data-original-title="Refresh"><i class="fa fa-refresh"
                aria-hidden="true"></i></span>
        <span click.delegate="clearFilters()" class="smallMarginRight" bootstrap-tooltip
                data-toggle="tooltip" data-placement="bottom" title=""
                data-original-title="Clear Filters"><i class="fa fa-filter"
                    aria-hidden="true"></i></span>
    </td>
</template>