<template>
  <div class="row">
    <div class="col-md-12">
      <div  class="well well-sm col-md-10 col-sm-offset-1">${siteInfo.selectMessageByKey('CLIENT_REQUESTS_COMMENTS').content}</div>
    </div>
    <div class="form-group col-md-12">
      <tiny-mce height.bind="150" value.two-way="commentsResponse"></tiny-mce>
       <!--
      <textarea readonly.bind="existingRequest" placeholder="Additional Comments" class="col-md-12 topMargin" id="comments"
                value.bind="requests.selectedRequest.comments" class="form-control" rows="10"></textarea>
                -->
    </div>
  </div>
</template>