<template>

    <div class="container">
        <div class='row'>
            <div class='bottomMargin'>
                <compose view="../../../../resources/elements/table-navigation-bar.html"></compose>
                <div id="no-more-tables">
                    <table class="table table-striped table-hover cf">
                        <thead class="cf">
                            <tr>
                                <td colspan='6'>
                                    <span click.delegate="refresh()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom"
                                        title="" data-original-title="Refresh"><i class="fa fa-refresh" aria-hidden="true"></i></span>
                                    <span class="pull-right" id="spinner" innerhtml.bind="spinnerHTML"></span>
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>
                                    Course <span click.trigger="dataTable.sortArray('courseId')"><i class="fa fa-sort"></i></span>
                                </th>
                                <th>
                                    Session <span click.trigger="dataTable.sortArray('sessionId')"><i class="fa fa-sort"></i></span><br>
                                </th>
                                <th>
                                    Details
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr click.delegate="edit(product, $event, $index)" repeat.for="product of dataTable.displayArray">
                                <td data-title="Course">
                                    <h5>${product.courseId | courseName:people.coursesArray}<h5>
                                    <h6>Undergraduates: ${product.undergradIds} Graduates: ${product.graduateIds}</h6>
                                </td>
                                <td data-title="Session"><h5>${product.sessionId | sessionName:sessions.sessionsArray}</h5></td>
                                <td>
                                    <ul>
                                        <li repeat.for="detail of product.requestDetails" class="list-group-item">
                                            <h5>${detail.productId | productName:products.productsArray}</h5>
                                             ${detail.requestStatus | lookupDescription:config.REQUEST_STATUS}
                                             <span class="leftMargin">Required: ${detail.requiredDate | dateFormat:config.DATE_FORMAT_TABLE}</span>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!--
     <div class='row'>
            <span class="leftMargin" show.bind="showLockMessage">Request is currently locked by ${lockObject.personId | person:people.peopleArray:'fullName'}</span>
            <div class='col-lg-12'>
                <table id="requestsTable" class="table table-striped table-hover">
                    <thead>
                        
                        <tr>
                            <td colspan="6">
                                <span click.delegate="refresh()" class="smallMarginRight"><i class="fa fa-refresh" aria-hidden="true"></i></span>
                                <span class="pull-right" id="spinner" innerhtml.bind="spinnerHTML"></span>
                            </td>
                        </tr>
                        <tr>
                          <th>Product</th>
                          <th>Status</th>
                          <th>Date Created</th>
                          <th>Date Required</th>
                        </tr>
                  </thead>
                  <tbody>
                    <tr  click.delegate="edit(product, $event, $index)" repeat.for="product of dataTable.displayArray">
                      <td data-title="Product">${product.productId | productName:products.productsArray}</td>
                      <td data-title="Status">${product.requestStatus | lookupDescription:config.REQUEST_STATUS}</td>
                      <td data-title="createdDate">${product.createdDate | dateFormat:config.DATE_FORMAT_TABLE}</td>
                      <td data-title="createdDate">${product.requiredDate | dateFormat:config.DATE_FORMAT_TABLE}</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
        -->
</template>