<template>

  <div class="container">
    <div class='row'>
      <div class='bottomMargin'>
        <compose view="../../../../resources/elements/table-navigation-bar.html"></compose>
        <div id="no-more-tables">
          <table class="table table-striped table-hover cf">
            <thead class="cf">
              <tr>
                <td colspan='6'>
                  <span click.delegate="refresh()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom"
                    title="" data-original-title="Refresh"><i class="fa fa-refresh" aria-hidden="true"></i></span>
                  <span class="pull-right" id="spinner" innerhtml.bind="spinnerHTML"></span>
                </td>
              </tr>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
              <tr>
                <th>
                  Course <span click.trigger="dataTable.sortArray('courseId','id', people.coursesArray, '_id', 'name')"><i class="fa fa-sort"></i></span>
                </th>
                <th>
                  Session <span click.trigger="dataTable.sortArray('sessionId','id',sessions.sessionsArray,'_id','startDate')"><i class="fa fa-sort"></i></span><br>
                </th>
                <th>
                  Product Requests (Click to see the details)
                </th>
              </tr>
            </thead>
            <tbody>
              <tr  repeat.for="request of dataTable.displayArray">
                <td click.delegate="customerActionResponse(request, $event)" data-title="Course">
                  <h5>${request.courseId | courseName:people.coursesArray:config.SANDBOX_ID:config.SANDBOX_NAME}</h5>
                  <h6>Undergraduates: ${request.undergradIds} Graduates: ${request.graduateIds}</h6>
                  <h7>Request No: ${request.clientRequestNo}</h7>
                  <h6 show.bind="request.requestStatus == config.CUSTOMER_ACTION_REQUEST_CODE" ><b>CUSTOMER ACTION REQUIRED (click here to respond)</b></h6>
                </td>
                <td data-title="Session">
                  <h5>${request.sessionId | sessionName:sessions.sessionsArray}</h5>
                </td>
                <td>
                  <ul>
                    <li class="${detail.requestStatus | requestStatusClass:statusClass:request:config.CUSTOMER_ACTION_REQUEST_CODE} list-group-item" click.delegate="edit(detail, $event, $index)" repeat.for="detail of request.requestDetails" >
                      <h5>${detail.productId | productName:products.productsArray}</h5>
                      Status: ${detail.requestStatus | lookupDescription:config.REQUEST_STATUS}
                      <h7 class="leftMargin">Required: ${detail.requiredDate | dateFormat:config.DATE_FORMAT_TABLE}</h7>
                      <h7 class="pull-right" show.bind="detail.requestStatus == config.CUSTOMER_ACTION_REQUEST_CODE && request.requestStatus != config.CUSTOMER_ACTION_REQUEST_CODE" ><b>CUSTOMER ACTION REQUIRED (click here to respond)</b></h7>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>