<template>
    <style>
        .menuButtons {
			color: ${config.ACTIVE_SUBMENU_COLOR};
			background-color:${config.BUTTONS_BACKGROUND}
        }
    </style>
    <div class="col-lg-12">
        <compose view="./productFormToolbar.html"></compose>
        <div class="panel panel-info positionUnderToolbar">
            <div class="panel-body">

                    <compose view="./productFormHeader.html"></compose>

                            <div class="row topMargin">
                                <div class="col-lg-12">
                                   
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="col-lg-2">
                                                    <div id="productListGroup" class="list-group">
                                                        <a class="${ $first ? 'menuButtons' : ''} list-group-item"
                                                            repeat.for="tab of tabs" href="" class="list-group-item"
                                                            click.delegate="changeTab($event, $index)">
                                                            <h4 id="${tab.id}" class="list-group-item-heading">${tab.id}</h4>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="col-lg-10">
                                                    <div class="tab-content">
                                                        <div repeat.for="tab of tabs" id="${tab.id + 'Tab'}" class="${ $first ? 'tab-pane fade in active' : 'tab-pane fade' }">
                                                            <compose view="${tabPath + tab.id + '.html'}"></compose>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                   
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>