<template>
    <div class="col-lg-12" style='padding:15px;'>
        <div class='row'>
            <div class='col-lg-10 col-lg-offset-1 bottomMargin'>
                <compose view="../../../../resources/elements/table-navigation-bar.html"></compose>
                <div id="no-more-tables">
                    <table id="productsTable" class="table table-striped table-hover cf">
                        <thead class="cf">
                            <tr>
                                <td colspan='5'>
                                    <span click.delegate="refresh()" class="smallMarginRight"><i class="fa fa-refresh" aria-hidden="true"></i></span>
                                    <span click.delegate="new()"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    <span class="pull-right" id="spinner" innerhtml.bind="spinnerHTML"></span>
                                </td>
                            </tr>
                            <tr>
                                <th style="width:75px;">Key <span click.trigger="dataTable.sortArray('clientKey')"><i class="fa fa-sort"></i></span></th>
                                <th>Name <span click.trigger="dataTable.sortArray('name')"><i class="fa fa-sort"></i></span></th>
                                <th style="width:150px;">SAP Product</th>
                                <th>Status </th>
                                <th>Systems</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th></th>
                                <th>
                                    <input input.delegate="dataTable.filterList($event)" id="name" type="text" placeholder="Filter Name" class="form-control">
                                </th>
                                <th>
                                    <select change.delegate="dataTable.filterList($event)" class="form-control " id="sapName" compare="id">
                                    <option value=""></option>
                                    <option repeat.for="product of is4ua.sapProductsArray" value="${product.code}">${product.description}</option>
                                </select>
                                </th>
                                <th>
                                    <select change.delegate="dataTable.filterList($event)" class="form-control " id="active" compare="boolean">
                                    <option value=""></option>
                                    <option value="true">Active</option>
                                    <option value="false">Inactive</option>
                                </select>
                                </th>
                                <th>
                                    <input input.delegate="dataTable.filterList($event)" id="systems.sid" type="text" placeholder="Filter System" class="form-control"
                                        compare="obj-array">
                                </th>
                            </tr>
                            <!-- | pageFilter:dataTable.startRecord:dataTable.take -->
                            <tr click.trigger="edit($index, $event)" repeat.for="system of dataTable.displayArray">
                                <td data-title="Client Key">${system.clientKey}</td>
                                <td data-title="Name">${system.name}</td>
                                <td data-title="SAP Product">${system.sapProduct | lookupDescription:sapProductsArray}</td>
                                <td class="centerText" data-title="Status">${system.active | translateStatus}</td>
                                <td data-title="Systems">${system.systems | systemList}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>