sessionTable.html
<template>
	<div class='row'>
	        <div class='col-lg-10 col-lg-offset-1 bottomMargin'>
	            <compose view="../../../../resources/elements/table-navigation-bar.html"></compose>
	            <div id="no-more-tables">
	                <table id="sessionsTable" class="table table-striped table-hover cf">
	                    <thead class="cf">
	                        <tr>
	                            <td colspan='6'>
	                                <div class="checkbox">
	                                    <label>
	                                        <input checked.bind="isChecked" change.trigger="filterOutClosed()" type="checkbox"> Hide inactive sessions
	                                    </label>
	                                </div>
	                            </td>
	                            <tr>
	                                <td colspan='6'>
	                                    <span click.delegate="refresh()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Refresh"><i class="fa fa-refresh" aria-hidden="true"></i></span>
	                                    <span click.delegate="new()" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="New"><i class="smallMarginRight fa fa-plus" aria-hidden="true"></i></span>
	                                    <span click.delegate="editSessionConfig()" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Config"><i class="fa fa-pencil" aria-hidden="true"></i></span>
	                                    <span class="pull-right" id="spinner" innerhtml.bind="spinnerHTML"></span>
	                                </td>
	                            </tr>
	                            <tr>
	                                <th class="sortable" click.trigger="dataTable.sortArray($event, {propertyName: 'startDate'})">Session <span><i class="fa fa-sort"></i></span></th>
	                                <th class="sortable" click.trigger="dataTable.sortArray($event, {propertyName: 'startDate'})">Start Date <span click.trigger="dataTable.sortArray('startDate')"><i class="fa fa-sort"></i></span></th>
	                                <th class="sortable" click.trigger="dataTable.sortArray($event, {propertyName: 'endDate'})">End Date <span><i class="fa fa-sort"></i></span></th>
	                                <th  class="sortable" click.trigger="dataTable.sortArray($event, {propertyName: 'requestsOpenDate'})">Requests Open <span><i class="fa fa-sort"></i></span></th>
	                                <th>Status</th>
	                                <th></th>
	                            </tr>
	                    </thead>
	                    <tbody>
	                        <tr repeat.for="session of dataTable.displayArray">
	                            <td data-title="Session" click.trigger="edit($index, $event)">${session.session} - ${session.year}</td>
	                            <td data-title="StartDate" click.trigger="edit($index, $event)">
	                                <div style="width: 100px">${session.startDate | dateFormat:config.DATE_FORMAT_TABLE}</div>
	                            </td>
	                            <td data-title="EndDate" click.trigger="edit($index, $event)">
	                                <div style="width: 100px">${session.endDate | dateFormat:config.DATE_FORMAT_TABLE}</div>
	                            </td>
	                            <td data-title="RequestsOpen" click.trigger="edit($index, $event)">
	                                <div style="width: 100px">${session.requestsOpenDate | dateFormat:config.DATE_FORMAT_TABLE}</div>
	                            </td>
	                            <td data-title="createdDate" click.trigger="edit($index, $event)">${session.sessionStatus}</td>
	                            <td data-title="Update" style="width: 100px" click.trigger="updateStatus($index, session, $event)" innerhtml.bind="session.sessionStatus | sessionStatusButton">
	                            </td>
	                        </tr>
	                    </tbody>
	                </table>
	            </div>
	        </div>
	    </div>
	</div>
</template>	