<template>	
<div class="col-lg-12">
	<div class="bottomMargin list-group-item leftMargin rightMargin">
		<span click.delegate="back()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Back"><i class="fa fa-arrow-left fa-lg fa-border" aria-hidden="true"></i></span>
		<span click.delegate="save()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Save"><i class="fa fa-floppy-o fa-lg fa-border" aria-hidden="true"></i></span>
		<span click.delegate="cancel()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Cancel Changes"><i class="fa fa-ban fa-lg fa-border" aria-hidden="true"></i></span>
		<span show.bind="!newSystem" click.delegate="delete()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Delete"><i class="fa fa-trash fa-lg fa-border text-danger" aria-hidden="true"></i></span>
		<span click.delegate="editClientsButton()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Edit Client List"><i class="fa fa-pencil fa-lg fa-border" aria-hidden="true"></i></span>
	</div>  

		 <!-- Edit Form -->
	<div class="col-lg-6">
		<div class="col-lg-6">
			<div class="col-lg-12">
				<label for="editSid" class="form-control-label">SID</label>
				<input value.bind="systems.selectedSystem.sid | toUppercase" id="editSid" class="form-control" placeholder="SID" type="text" />
			</div>
			<div class="col-lg-10">
				<div class="checkbox">
				<label>
					<input checked.bind="systems.selectedSystem.active" type="checkbox"> Active
				</label>
				</div>
			</div>
			<div class="col-lg-12">
				<label for="editDesc" class="form-control-label">Description</label>
				<input value.bind="systems.selectedSystem.description" id="editDesc" class="form-control" placeholder="Description" type="text" />
			</div>
			<div class="col-lg-12">
				<label for="editServer" class="form-control-label">Server</label>
				<input value.bind="systems.selectedSystem.server | toUppercase" id="editServer" class="form-control" placeholder="Server" type="text" />
			</div>
			<div class="col-lg-12">
				<label for="editPort" class="form-control-label">Port</label>
				<input value.bind="systems.selectedSystem.port" id="editPort" class="form-control" placeholder="Port" type="number" />
			</div>
			<div class="col-lg-12">
				<label for="editInst" class="form-control-label">Instance</label>
				<input value.bind="systems.selectedSystem.instance" id="editInst" class="form-control" placeholder="Instance" type="text" maxLength="2"/>
			</div>
			<div class="col-lg-12">
				<label for="editIpAddress" class="form-control-label">IP Address</label>
				<input value.bind="systems.selectedSystem.ipAddress" id="editIpAddress" class="form-control" placeholder="IP Address" type="text"/>
			</div>
			<div class="col-lg-12">
				<label for="edittype" class="control-label">System Type</label>
				<select value.bind="systems.selectedSystem.type" id="edittype" class="form-control ">
					<option model.bind="type" repeat.for="type of config.SYSTEM_TYPES">${type}</option>
				</select>
			</div>
			
		</div>
		<div class="col-lg-6">
			<div class="col-lg-12">
				<label for="editOs" class="form-control-label">OS</label>
				<input value.bind="systems.selectedSystem.os" id="editOs" class="form-control" placeholder="Operating System" type="text"/>
			</div>
				<div class="col-lg-12">
				<label for="editOsVersion" class="form-control-label">OS Version</label>
				<input value.bind="systems.selectedSystem.osVersion" id="editOsVersion" class="form-control" placeholder="OS Version" type="text"/>
			</div>
			<div class="col-lg-12">
				<label for="editDB" class="form-control-label">Database</label>
				<input value.bind="systems.selectedSystem.dbType" id="editDB" class="form-control" placeholder="Database" type="text"/>
			</div>
			<div class="col-lg-12">
				<label for="editDBVersion" class="form-control-label">Dataabase Version</label>
				<input value.bind="systems.selectedSystem.dbVersion" id="editDBVersion" class="form-control" placeholder="Database Version" type="text"/>
			</div>
			<div class="col-lg-12">
				<label for="editIts" class="form-control-label">ITS</label>
				<input value.bind="systems.selectedSystem.its" id="editIts" class="form-control" placeholder="ITS" type="text" />
			</div>
			<div class="col-lg-12">
				<label for="editTerms" class="form-control-label">Sessions</label>
				<select multiple value.bind="systems.selectedSystem.sessions" class="form-control">
					<option value="${session.session}"  repeat.for="session of config.SESSION_PARAMS">${session.session}</option>
				</select>
			</div>
		</div>
		<div class="col-lg-12 bottomMargin">
				<label for="editNotes" class="form-control-label">Notes</label>
				<textarea value.bind="systems.selectedSystem.notes" id="editNotes" rows="8" class="form-control"></textarea>
		</div>
	</div>
	 <div class="col-lg-6">
		<div class="row">
			<div show.bind="editClients" class="panel panel-default editPanel col-sm-9" >
				<div class="panel-body">
					<div class="topMargin leftmargin">
						<div class="row">
							<div class="bottomMargin list-group-item leftMargin rightMargin">
								<span click.delegate="generateClients()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add Clients"><i class="fa fa-plus fa-lg fa-border" aria-hidden="true"></i></span>
								<span click.delegate="refreshClients()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Refresh Clients"><i class="fa fa-refresh fa-lg fa-border text-danger" aria-hidden="true"></i></span>
								<span click.delegate="deleteClients()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Delete Clients"><i class="fa fa-trash-o fa-lg fa-border text-danger" aria-hidden="true"></i></span>
								<span click.delegate="editClientsButton()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Cancel Changes"><i class="fa fa-ban fa-lg fa-border" aria-hidden="true"></i></span>
							</div>  
						</div>
				
						<div class="leftMargin bottomMargin topMargin">
							<div class="col-sm-2">
								<input value.bind="editFirstClient" id="editFirstClient" placeholder="Start" class="form-control input-sm" type="number" />
							</div>
							<div class="col-sm-2 ">
								<input value.bind="editLastClient" id="editLastClient" placeholder="End" class="form-control input-sm" type="number" />
							</div>
							<div class="col-sm-2 ">
								<input value.bind="idsAvailable" id="editClientIdsAvailable" placeholder="IDS Available" class="form-control input-sm" type="number" />
							</div>
							<div class="col-sm-4">
								<select value.bind="editClientStatus" class="form-control" data-title="Single Select" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
									<option repeat.for="status of config.CLIENT_STATUSES" value="${status.code}">${status.description}</option>
								</select>
							</div>
							
								<div class="col-lg-3">
									<label  class="form-control-label topMargin">Client Interval</label>
									<input value.bind="clientInterval" id="clientInterval" placeholder="Interval" class="form-control input-sm" type="number" />
								</div>
							<div class="col-lg-8">
								<label  class="form-control-label topMargin">Product</label>
								<select class="form-control col-lg-8"  value.bind="selectedProduct" click.delegate="selectProduct()">
									<option value="">Choose a product</option>
									<option repeat.for="product of products.productsArray" model.bind="product._id">${product.name}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
               
		<div show.bind="systems.selectedSystem.clients.length > 0 && !clientSelected" class="col-sm-9">
			<div class="panel panel-default" >
				<div class="panel-body">
					<ul>
						<li class="list-group-item" repeat.for="client of systems.selectedSystem.clients | sortArray:'client':'ASC'">
							<div class="row">
								<span class="col-sm-8">
									<h5>Client ${client.client} <span class="leftMargin">IDs: ${client.idsAvailable}</span></h5>
									<h6>Status: ${client.clientStatus | lookupValue:config.CLIENT_STATUSES:"code":"description"}</h6>
									<h7>Product: ${client.productId | lookupValue:products.productsArray:"_id":"name"}</h7>
									<h7> <span class="leftMargin">Assignments: ${client.assignments.length}</span></h7>
								</span>
								<span class="col-sm-4">
									<span click.delegate="refreshClient($index)" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Refresh Client"><i class="fa fa-refresh" aria-hidden="true"></i></span>
									<span click.delegate="toggleSandBox($index)" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Toggle Sandbox"><i class="fa fa-users" aria-hidden="true"></i></span>
									<span click.delegate="deleteClient($index)" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Delete Client"><i class="fa fa-trash" aria-hidden="true"></i></span>
									<span click.trigger="selectClient(client, $index)" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Edit Client"><i class="fa fa-pencil fa-lg fa-border" aria-hidden="true"></i></span>                                            
								</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div show.bind="clientSelected">
			<compose view="./edit-client-form.html"></compose>
		</div>
	</div>
</div>
</template>