<template>
    <div class="col-lg-12">
            <div class="bottomMargin list-group-item leftMargin rightMargin">
                <span click.delegate="back()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Back"><i class="fa fa-arrow-left fa-lg fa-border" aria-hidden="true"></i></span>
                <span click.delegate="save()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Save"><i class="fa fa-floppy-o fa-lg fa-border" aria-hidden="true"></i></span>
                <span click.delegate="cancel()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Cancel Changes"><i class="fa fa-ban fa-lg fa-border" aria-hidden="true"></i></span>
            </div>  

            <div class="topMargin">
                <form class="form-horizontal topMargin">
                     <!-- Row 1 -->
                    <div class="row">
                        <div class="col-lg-1">
                            <div style="height:100px;width:100px;" innerhtml.bind="people.selectedPerson.email | gravatarUrl:100:6"></div>
                        </div>
                        <div class="col-lg-10 col-lg-offset-1">
                            <div class="row topMargin">
                                <div class="col-lg-6">
                                    <h3 innerhtml.bind="Name"></h3>
                                </div>
                            
                                <div class="col-lg-6">
                                    <div class="form-group pull-left">
                                        <label class="control-label col-sm-3 hideOnPhone">Status</label>
                                        <div class="col-sm-8">
                                            <select value.bind="people.selectedPerson.personStatus" id="editStatus" class="form-control input-md" placeholder="Status">
                                                <option value="">Select an option</option>
                                                <option repeat.for='status of is4ua.personStatusArray' value="${status.code}">${status.description}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row topMargin">
                                <div class="col-lg-6">
                                    <div class="col-sm-12 col-lg-12">
                                        <h3>Contact</h3> 
                                    </div>
                                    <div class="col-sm-12 col-lg-12">
                                        <h4>Phone: <span innerhtml.bind="people.selectedPerson.phone"></span></h4> 
                                    </div>
                                    <div class="col-sm-12 col-lg-12">
                                        <h4>Mobile: <span innerhtml.bind="people.selectedPerson.mobile"></span></h4> 
                                    </div>
                                    <div class="col-sm-12 col-lg-12">
                                        <h4>Email: <span innerhtml.bind="people.selectedPerson.email"></span></h4> 
                                    </div>
                                </div>
                                 <div class="col-lg-6">
                                     <div class="col-sm-12 col-lg-12">
                                        <h3>Address</h3> 
                                    </div>
                                    <div class="col-sm-12 col-lg-12">
                                        <h4><span innerhtml.bind="people.selectedPerson.address1"></span><h4>
                                        <h4 if.bind="people.selectedPerson.address2"><span innerhtml.bind="people.selectedPerson.address2"></span><h4>
                                        <h4><span innerhtml.bind="people.selectedPerson.city"></span> <span innerhtml.bind="people.selectedPerson.region">, <span innerhtml.bind="people.selectedPerson.postalCode"></span></span><h4>
                                        <h4><span innerhtml.bind="people.selectedPerson.country"></span><h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row topMargin">
                                <div class="col-lg-6">
                                    <div class="col-sm-12 col-lg-12">
                                        <h3>Area</h3> 
                                    </div>
                                    <div class="col-sm-12 col-lg-12">
                                        <h4>Specialization: <span innerhtml.bind="people.selectedPerson.personSpecialization"></span></h4> 
                                    </div>
                                    <div class="col-sm-12 col-lg-12">
                                        <h4>Department: <span innerhtml.bind="people.selectedPerson.departmentCategory"></span></h4> 
                                    </div>
                                </div>
                                 <div class="col-lg-6">
                                    <div class="col-sm-12 col-lg-12">
                                        <h3>Roles</h3> 
                                    </div>
                                    <div class="col-sm-12 col-lg-12">
                                        <h4 innerhtml.bind="roles"></h4> 
                                    </div>
                                </div>
                            </div>
                            
                            
                            
                          
                            </div>
                        </div>
                    </div> <!-- Row -->
                </form>
            </div>
    </div>
</template>