<template>
  <div class="bottomMargin list-group-item leftMargin rightMargin">
    <span click.delegate="back()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Back"><i class="fa fa-arrow-left fa-lg fa-border" aria-hidden="true"></i></span>
    <span click.delegate="save()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Save"><i class="fa fa-floppy-o fa-lg fa-border" aria-hidden="true"></i></span>
    <span click.delegate="customerAction()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Customer Action"><i class="fa fa-user fa-lg fa-border" aria-hidden="true"></i></span>
    <span click.delegate="openSettings()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Settings"><i class="fa fa-cog fa-lg fa-border" aria-hidden="true"></i></span>
  </div>    
  <div class="row leftMargin rightMargin">
    <div class="col-lg-5" show.bind="showRequest">
        <div class="panel panel-primary topMargin">
        <div class="panel-heading">
            <h3 class="panel-title">${requests.selectedRequestDetail.productId | productName:products.productsArray}</h3>
        </div>
        <div class="panel-body">        
            <div show.bind="requests.selectedRequestDetail.requestStatus == config.ASSIGNED_REQUEST_CODE">
            <table class="table table-striped table-hover">
            <thead>
                <tr>
                <th>System</th>
                <th>Client</th>
                <th>Student IDs</th>
                <th>Student Password</th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="assign of requests.selectedRequestDetail.assignments" click.trigger="selectAssignment(assign, $index)">
                <td>${assign.systemId | lookupSid:systems.systemsArray}</td>
                <td>${assign.client}</td>
                <td>${assign.studentUserIds}</td>
                <td>${assign.studentPassword}</td>
                </tr>
            </tbody>
            </table>
            <h4 class="topMargin"><strong>Faculty IDs</strong></h4>
            <div class="form-group">
            <h5 class="panel-title">Faculty IDs: ${requests.selectedRequestDetail.assignments[selectedAssignmentIndex].facultyUserIds}</h3>
            </div>
            <div class="form-group">
            <h5 class="panel-title">Faculty Password: ${requests.selectedRequestDetail.assignments[selectedAssignmentIndex].facultyPassword}</h5>
            </div>
            <h4 class="topMargin"><strong>System Details</strong></h4>
            <div class="form-group">
            <h5 class="panel-title">SID: ${systems.selectedSystem.sid}</h3>
            </div>
            <div class="form-group">
            <h5 class="panel-title">Server: ${systems.selectedSystem.server}</h3>
            </div>
            <div class="form-group">
            <h5 class="panel-title">System Number: ${systems.selectedSystem.instance}</h3>
            </div>
            <div class="form-group">
            <h5 class="panel-title">ITS: ${systems.selectedSystem.its}</h3>
            </div>
            <div class="col-lg-12 topMargin" innerhtml.bind="requests.selectedRequestDetail.techComments"></div>
        </div>
        </div>
    </div>
  </div>
</template>