<template>
 
    <div class="form-group topMargin" >
      <select value.bind="selectedInstitution" change.delegate="changeInstitution()" id="institution" class="form-control">
        <option value="">Select an institution</option>
        <option repeat.for="institution of people.institutionsArray"
                value.bind="institution._id">${institution.name}</option>
      </select>
    </div>

    <div class="form-group" show.bind="selectedInstitution != ''">
      <select value.bind="selectedPerson" id="person" change.delegate="changePerson()" class="form-control">
        <option value="">Select a person</option>
        <option repeat.for="person of people.peopleArray"
                value.bind="person._id">${person._id | lookupValue:people.peopleArray:"_id":"fullName"}</option>
      </select>
    </div>

    <div show.bind="selectedPerson !== ''">
        <div class="form-group">
          <select show.bind="showCategories" value.bind="helpTickets.selectedHelpTicket.helpTicketCategory" change.delegate="categoryChanged()" id="helpTicketCategory" class="form-control">
            <option value="-1">Select the category of help ticket</option>
            <option repeat.for="types of helpTickets.helpTicketTypesArray  | sortArray:'category':'ASC'"" 
                    model.bind="types.category">${types.description}</option>
          </select>
        </div>

        <div class="form-group">
          <select show.bind="showTypes" value.bind="helpTickets.selectedHelpTicket.helpTicketType" change.delegate="typeChanged($event)" id="helpTicketPurpose"
            class="form-control">
            <option value="NULL">Select the type of help ticket</option>
            <option repeat.for="types of helpTickets.helpTicketTypesArray[helpTickets.selectedHelpTicket.helpTicketCategory].subtypes"
                    model.bind="types.type">${types.description}</option>
          </select>
        </div>
    </div>
</template>