<template>


	<div class="row">
		<div class="list-group-item toolbar">
			<span click.delegate="search()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom"
			 title="" data-original-title="Search"><i class="fa fa-search fa-lg fa-border" aria-hidden="true"></i></span>
			<span click.delegate="clearCriteria()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip"
			 data-placement="bottom" title="" data-original-title="Clear Criteria"><i class="fa fa-ban fa-lg fa-border"
				 aria-hidden="true"></i></span>
			<!-- <span  click.delegate="archiveClosedTickets()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" 
					title="" data-original-title="Archive Tickets"><i class="fa fa-archive fa-lg fa-border" aria-hidden="true"></i></span> 
					<span class="checkbox marginLeft" style="white-space: nowrap;display:inline;">
						<label>
						  <input checked.bind="isCheckedCurrent" type="checkbox"> Search current help ticket collection
						</label>
					</span> -->
		</div>
	</div>

		<div class="container positionUnderToolbar">
			<div class="panel panel-default marginTop">
				<div class="panel-body">
					<div class="row">

						<div class="col-lg-3">
							<div class="form-group">
								<div class="col-lg-12 topMargin">
									<label>Help Ticket Number</label>
									<input input.delegate="helpTicketNoEntered()" class="form-control" value.bind="helpTicketNo" type="text" />
								</div>
							</div>
						</div>
					</div>
					<div id="elementsToOperateOn">
						<div class="row">
							<div class="col-lg-5 topMargin">
								<label>Date Created</label>
								<div class="panel panel-primary topMargin">
									<div class="panel-body">

										<div class="form-group">
											<div class="col-lg-12">
												<label>Date From</label>
												<flat-picker controlid="endDate" config.bind="configDate" value.bind="dateFrom"></flat-picker>
											</div>
										</div>
										<div class="form-group">
											<div class="col-lg-12  topMargin">
												<label>Date To</label>
												<flat-picker controlid="endDateTo" config.bind="configDate" value.bind="dateTo"></flat-picker>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-5  col-lg-offset-1">
								<div class="col-lg-12">
									<div class="form-group">
										<label>KeyWords</label>
										<input class="form-control" value.bind="keyWords" type="text" />
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form-group">
										<label>Content</label>
										<input class="form-control" value.bind="content" type="text" />
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form-group">
										<label>Type</label>
										<select change.delegate="typeChanged()" value.bind="selectedType" id="helpTicketPurpose" class="form-control">
											<option value="-1"></option>
											<option repeat.for="types of helpTickets.helpTicketTypesArray | helpTicketSubtypes" model.bind="types.type">${types.description}</option>
										</select>
									</div>
								</div>

								<div class="col-lg-12">
									<div class="form-group">
										<div class="col-lg-6">
											<multiselect label="Status" options.bind="config.HELP_TICKET_STATUSES" value.bind="selectedStatus"></multiselect>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 topMargin">
								<div class="panel-group" id="accordion">
									<div class="panel panel-primary">
										<div class="panel-heading dropbtn" style="background-color:${config.SUBMENU_BACKGROUND}">
											<h4 click.trigger="toggleProduct()" class="panel-title">Search by Product</h4>
										</div>
										<div show.bind="showPanel" class="panel-body">
											<div class="col-md-5 topMargin">
												<label id="productList">Available Products</label>
												<div class="well well2 overFlow" style="height:400px;">
													<input class="form-control" value.bind="filter" input.trigger="filterList()" placeholder="Filter products" />
													<ul class="list-group">
														<button click.trigger="selectProduct($event)" type="button" repeat.for="product of filteredProductsArray"
														 id="${product._id}" class="list-group-item">${product.name}</button>
													</ul>
												</div>
											</div>
											<div class="col-md-5 col-md-offset-1 topMargin">
												<label id="requestProductsLabel">Requested Products</label>
												<div class="well well2 overflow" style="height:400px;">
													<ul class="list-group">
														<button click.trigger="removeProduct($event)" type="button" repeat.for="product of selectedProducts" id="${product}"
														 class="list-group-item">${product | lookupValue:products.productsArray:"_id":"name"}</button>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="panel panel-primary">
										<div class="panel-heading dropbtn" style="background-color:${config.SUBMENU_BACKGROUND}">
											<h4 click.trigger="toggleCustomer()" class="panel-title">Search by Customer</h4>
										</div>
										<div show.bind="showCustomer" class="panel-body">
											<div class="col-md-5 topMargin">
												<label id="productList">Available People</label>
												<div class="well well2 overFlow" style="height:400px;">
													<input class="form-control" value.bind="peopleFilter" input.trigger="filterPeopleList()" placeholder="Filter people" />
													<ul class="list-group">
														<button click.trigger="selectPerson($event, person)" type="button" repeat.for="person of filteredPersonArray"
														 id="${person._id}" class="list-group-item">${person.fullName}</button>
													</ul>
												</div>
											</div>
											<div class="col-md-5 col-md-offset-1 topMargin">
												<label>Requested Person</label>
												<div class="well well2 overflow" style="height:400px;">
													<ul class="list-group">
														<button click.trigger="removePerson($event)" type="button" repeat.for="person of selectedPeople" id="${person}"
														 class="list-group-item">${person | lookupValue:people.peopleArray:"_id":"fullName"}</button>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="panel panel-primary">
										<div class="panel-heading dropbtn" style="background-color:${config.SUBMENU_BACKGROUND}">
											<h4 click.trigger="toggleInstitution()" class="panel-title">Search by Institution</h4>
										</div>
										<div show.bind="showInstitution" class="panel-body">
											<div class="col-md-5 topMargin">
												<label id="productList">Available Institutions</label>
												<div class="well well2 overFlow" style="height:400px;">
													<input class="form-control" value.bind="institutionsFilter" input.trigger="filterInstitutionsList()"
													 placeholder="Filter institutions" />
													<ul class="list-group">
														<button click.trigger="selectInstitution($event)" type="button" repeat.for="institution of filteredInstitutionArray"
														 id="${institution._id}" class="list-group-item">${institution.name}</button>
													</ul>
												</div>
											</div>
											<div class="col-md-5 col-md-offset-1 topMargin">
												<label>Requested Institution</label>
												<div class="well well2 overflow" style="height:400px;">
													<ul class="list-group">
														<button click.trigger="removeInstitution($event)" type="button" repeat.for="institution of selectedInstitutions"
														 id="${institution}" class="list-group-item">${institution |
															lookupValue:people.institutionsArray:"_id":"name"}</button>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

</template>