<template "containerless">
	<th></th>
              <th class="col-md-1">
                <select change.delegate="dataTable.filterList($event)" class="form-control" id="helpTicketType">
                        <option value=""></option>
                        <option repeat.for="type of config.HELP_TICKET_TYPES"
                                value.bind="type.code">${type.description}</option>
                      </select>
              </th>
              <th>
                <select change.delegate="dataTable.filterList($event)" class="form-control" id="owner.[0].personId" compare="obj">
                  <option value=""></option>
                  <option repeat.for="person of people.peopleArray | uccStaff"
                          value.bind="person._id">${person.fullName}</option>
                </select>
              </th>
              <th></th>
              <th>
                <select value.bind="selectedStatus" change.delegate="dataTable.filterList($event)" class="form-control" id="helpTicketStatus">
                        <option value=""></option>
                        <option repeat.for="status of config.HELP_TICKET_STATUSES"
                                value.bind="status.code">${status.description}</option>
                      </select>
              </th>
              <th>
                <input change.delegate="dataTable.filterList($event)" id="createdDate" type="date" compare="after" placeholder="Filter Date"
                  class="form-control datepicker" data-dateformat="yy/mm/dd">
              </th>
              <th>
                <input input.delegate="dataTable.filterList($event, people.peopleArray)" id="personId-fullName" type="text" compare="lookup"
                  class="form-control" />
              </th>
              <th>
                <input input.delegate="dataTable.filterList($event, people.peopleArray)" id="personId-nickName" type="text" compare="lookup"
                  class="form-control" />
              </th>
              <th class="col-lg-1">
                <select change.delegate="dataTable.filterList($event)" class="form-control " id="institutionId" compare="id">
                    <option value=""></option>
                    <option repeat.for="institution of people.institutionsArray" value="${institution._id}">${institution.name}</option>
                </select>
              </th>
</template>