<template>
  <div show.bind="!searchResults">
    <div class="row">
        <div class="bottomMargin leftMargin rightMargin list-group-item">
            <span click.delegate="backToSearch()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Back"><i class="fa fa-arrow-left fa-lg fa-border" aria-hidden="true"></i></span>
        </div> 
    </div>

    <div class="col-lg-12">
      <div class='row'>
        <div id='no-more-tables'>
          <table id="helpTicketTable" class="table table-striped table-hover">
            <thead>
              <tr>
                  <td colspan='colSpan'>
                    <div class="checkbox">
                      <label>
                        <input disabled.bind="sendMailDisable" checked.bind="sendEmail" type="checkbox"> Send Email
                      </label>
                    </div>
                  </td>
              </tr>
              <tr>
                <td colspan.bind='colSpan'><compose view="../../../../resources/elements/table-navigation-bar.html"></compose></td>
              </tr>
              <tr>
                <td colspan='colSpan'>
                  <span click.trigger="refresh()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Refresh"><i class="fa fa-refresh" aria-hidden="true"></i></span>
                  <span click.trigger="_cleanUpFilters()" class="mousePointer" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Clear Filters"><i class="fa fa-filter fa-ban" aria-hidden="true"></i></span>
                  <span class="pull-right" id="spinner" innerhtml.bind="spinnerHTML"></span>
                </td>
              </tr>
              <tr>
                <th><span class="sortable" click.trigger="dataTable.sortArray($event, {propertyName: 'helpTicketNo'})">No </span><span><i class="fa fa-sort"></i></span></th>
                <th style="width:20em"><span  class="sortable" click.trigger="dataTable.sortArray($event, {propertyName: 'helpTicketType'})">Type </span><span><i class="fa fa-sort"></i></span></th>
                <th style="width:15em"><span  class="sortable" click.trigger="dataTable.sortArray($event, {type: 'custom', sorter: customOwnerSorter, propertyName: 'ownder'})">Owner </span><i class="fa fa-sort"></i></th>                   
                <th style="width:10em;"><span  class="sortable" click.trigger="dataTable.sortArray($event, {propertyName: 'helpTicketStatus'})">Status </span><span><i class="fa fa-sort"></i></span></th>
                <th style="width:8em"><span  class="sortable" click.trigger="dataTable.sortArray($event, {propertyName: 'createdDate'})">Date Created </span><span><i class="fa fa-sort"></i></span></th>
                <th style="width:8em"><span  class="sortable" click.trigger="dataTable.sortArray($event, {propertyName: 'modifiedDate'})">Modified Created </span><span><i class="fa fa-sort"></i></span></th>
                <th style="width:15em"><span  class="sortable" click.trigger="dataTable.sortArray($event, {propertyName: 'personId.lastName'})">Faculty </span><span><i class="fa fa-sort"></i></span></th>
                <th style="width:20em"><span  class="sortable" click.trigger="dataTable.sortArray($event, {propertyName: 'institutionId.name'})">Institution </span><span><i class="fa fa-sort"></i></span></th>
                <th>Email</th>
              </tr>
              <tr>
                <th></th>
                <th>
                  <input value.bind="helpTicketTypeFilterValue" input.trigger="dataTable.filterList(helpTicketTypeFilterValue, { type: 'custom',  filter: customHelpTicketTypeFilter, collectionProperty: 'helpTicketType', displayProperty: 'helpTicketType',  compare:'custom'} )"  class="form-control" />
                </th>
                <th>
                  <input value.bind="ownerFilterValue" input.trigger="dataTable.filterList(ownerFilterValue, { type: 'custom',  filter: customOwnerFilter, collectionProperty: 'owner', displayProperty: 'helpTicketType',  compare:'custom'} )"  class="form-control" />
                </th>
                <th>
                  <select value.bind="helpTicketStatusFilter" input.trigger="dataTable.filterList($event, { type: 'value',  filter: 'helpTicketStatusFilter',  collectionProperty: 'helpTicketStatus', displayProperty: 'helpTicketStatus',  compare:'match'} )" class="form-control">
                    <option value=""></option>
                    <option repeat.for="status of helpTicketTypes"
                            value.bind="status.code">${status.description}</option>
                  </select>
                </th>
                <th>
                  <input type="date" value.bind="createdDateFilterValue" input.trigger="dataTable.filterList(createdDateFilterValue, {type: 'date', filter: 'createdDate',  collectionProperty: 'createdDate', compare: 'after'} )"  class="form-control" />
                </th>
                <th>
                  <input type="date" value.bind="modifiedDateFilterValue" input.trigger="dataTable.filterList(modifiedDateFilterValue, {type: 'date', filter: 'modifiedDate',  collectionProperty: 'modifiedDate', compare: 'after'} )"  class="form-control" />
                </th>
                <th>
                  <input value.bind="personFilterValue" input.trigger="dataTable.filterList(personFilterValue, { type: 'custom',  filter: customNameFilter,  compare:'custom'} )"  class="form-control" />
                </th>
                <th>
                  <input value.bind="institutionFilterValue" input.trigger="dataTable.filterList(institutionFilterValue, { type: 'custom',  filter: institutionCustomFilter, compare:'custom'} )"  class="form-control" />
                </th>
                <th></th>
              </tr>
              
            </thead>
            <tbody>
              <tr click.trigger="selectHelpTicket(helpTicket, $event)" repeat.for="helpTicket of dataTable.displayArray">
                <td  data-title="Number">${helpTicket.helpTicketNo}</td>
                <td data-title="Type">${helpTicket.helpTicketType | helpTicketType:helpTickets.helpTicketTypesArray}</td>
                <td data-title="Owner">
                  <span show.bind="helpTicket.owner[0].personId === null"></span>
                  <span show.bind="helpTicket.owner[0].personId !== null"> ${helpTicket.owner[0].personId.fullName}</span>
                </td>
                <td data-title="Status"> ${helpTicket.helpTicketStatus | lookupValue:config.HELP_TICKET_STATUSES:"code":"description"}</td>
                <td  data-title="Created Date" >${helpTicket.createdDate | dateFormat:config.DATE_FORMAT_TABLE:false}</td>
                <td  data-title="Modified Date">${helpTicket.modifiedDate | dateFormat:config.DATE_FORMAT_TABLE:false}</td>
                <td class="hidden-xs hidden-sm hidden-md" style="width:10rem;" data-title="Customer">${helpTicket.personId.firstName} ${helpTicket.personId.lastName}</td>
                <td  data-title="Insitution">${helpTicket.institutionId.name}</td>
                <td  data-title="Email" >${helpTicket.personId.email}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row" show.bind="searchResults">
    <compose view="./viewArchiveHTForm.html"></compose>
  </div>
	
</template>