<template>
  <div show.bind="!searchResults">
    <div class="row">
        <div class="bottomMargin leftMargin rightMargin list-group-item">
            <span click.delegate="backToSearch()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Back"><i class="fa fa-arrow-left fa-lg fa-border" aria-hidden="true"></i></span>
        </div> 
    </div>
	<div class='row'>
      <div class='col-lg-10 col-lg-offset-1 bottomMargin'>
        <table id="helpTicketTable" class="table table-striped table-hover">
          <thead>
            <tr>
              <td colspan='13'>
                <compose view="../../../../resources/elements/table-navigation-bar.html"></compose>
              </td>
            </tr>
            <tr>
              <td colspan='13'>
                <span click.delegate="refresh()" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Refresh"><i class="fa fa-refresh" aria-hidden="true"></i></span>
                <span class="pull-right" id="spinner" innerhtml.bind="spinnerHTML"></span>
              </td>
            </tr>
            <tr>
              <th></th>
              <th>
                <select change.delegate="dataTable.filterList($event)" class="form-control" id="helpTicketType">
                        <option value=""></option>
                        <option repeat.for="type of config.HELP_TICKET_TYPES"
                                value.bind="type.code">${type.description}</option>
                      </select>
              </th>
              <th>
                <select change.delegate="dataTable.filterList($event)" class="form-control" id="owner.[0].personId" compare="obj" ref="ownerFilter">
                  <option value=""></option>
                  <option repeat.for="person of people.peopleArray | uccStaff"
                          value.bind="person._id">${person.fullName}</option>
                </select>
              </th>
              <th></th>
              <th>
                <select value.bind="selectedStatus" change.delegate="dataTable.filterList($event)" class="form-control" id="helpTicketStatus">
                        <option value=""></option>
                        <option repeat.for="status of helpTicketTypes"
                                value.bind="status.code">${status.description}</option>
                      </select>
              </th>
              <th>
                <input change.delegate="dataTable.filterList($event)" id="createdDate" type="date" compare="after" placeholder="Filter Date" class="form-control datepicker" data-dateformat="yy/mm/dd">
              </th>
               <th>
                <input change.delegate="dataTable.filterList($event)" id="modifiedDate" type="date" compare="after" placeholder="Filter Date" class="form-control datepicker" data-dateformat="yy/mm/dd">
              </th>
              <th>
                <input input.delegate="dataTable.filterList($event, people.peopleArray)" id="personId-fullName" type="text" compare="lookup" class="form-control" ref="nameFilter"/>
              </th>
              <th>
                <input input.delegate="dataTable.filterList($event, people.peopleArray)" id="personId-nickName" type="text" compare="lookup" class="form-control" ref="nickNameFilter"/>
              </th>
              <th>
                <input input.delegate="dataTable.filterList($event, people.institutionsArray)" id="institutionId-name" type="text" compare="lookup" class="form-control" ref="institutionFilter"/>
              </th>
            </tr>
            <tr>
              <th>
                Number <span click.trigger="dataTable.sortArray('helpTicketNo')"><i class="fa fa-sort"></i></span>
              </th>
              <th>
                Type <span click.trigger="dataTable.sortArray('helpTicketType')"><i class="fa fa-sort"></i></span><br>
              </th>
              <th class="col-lg-1">
                Owner <span click.trigger="dataTable.sortArray('owner[0].personId')"><i class="fa fa-sort"></i></span><br>
              </th>
              <th></th>
              <th class="col-lg-1">
                Status <span click.trigger="dataTable.sortArray('status')"><i class="fa fa-sort"></i></span><br>
              </th>
              <th class="col-lg-1">
                Date Created <span click.trigger="dataTable.sortArray('createdDate')"><i class="fa fa-sort"></i></span>
              </th>
              <th class="col-lg-1">
                Date Updated <span click.trigger="dataTable.sortArray('modifiedDate')"><i class="fa fa-sort"></i></span>
              </th>
              <th class="col-lg-1">Faculty <span click.trigger="dataTable.sortArray('requestId.personId', 'id', people.peopleArray, '_id', 'fullName')"><i class="fa fa-sort"></i></span></th>
              <th class="col-lg-1">Nickname <span click.trigger="dataTable.sortArray('requestId.personId', 'id', people.peopleArray, '_id', 'nickName')"><i class="fa fa-sort"></i></span></th>
               <th>Institution</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Mobile</th>
            </tr>
          </thead>
          <tbody>
            <tr repeat.for="helpTicket of dataTable.displayArray" click.delegate="selectHelpTicket(helpTicket, $event)">
              <td style="width:6rem;" data-title="referenceNo">${helpTicket.helpTicketNo}</td>
              <td style="width:15rem;" data-title="type">${helpTicket.helpTicketType | helpTicketType:helpTickets.helpTicketTypesArray}</td>
                <td style="width:15rem;" data-title="Owner" >${helpTicket.owner[0].personId | lookupValue:people.peopleArray:"_id":'fullName'}</td>
                <td style="width:5rem;" data-title="Update" click.trigger="ownHelpTicket(helpTicket)"><span bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Take Ownership"><i class="fa fa-child fa-lg" aria-hidden="true"></i></span></td>
                <td data-title="Status" >${helpTicket.helpTicketStatus | lookupValue:config.HELP_TICKET_STATUSES:"code":"description"}</td>
                <td data-title="Created Date" >${helpTicket.createdDate | dateFormat:config.DATE_FORMAT_TABLE:true}</td>
                <td data-title="Modified Date" >${helpTicket.modifiedDate | dateFormat:config.DATE_FORMAT_TABLE:true}</td>
                <td data-title="Customer" >${helpTicket.personId.fullName}</td>
                <td data-title="Nickname" >${helpTicket.personId.nickName}</td>
                <td style="width:10rem;" data-title="Insitution">${helpTicket.institutionId | lookupValue:people.institutionsArray:"_id":"name"}</td>
                <td style="width:10rem;" data-title="Email" >${helpTicket.personId.email}</td>
                <td style="width:10rem;" data-title="Phone" >${helpTicket.personId.phone | formatPhone}</td>
                 <td style="width:10rem;" data-title="Phone">${helpTicket.personId.mobile | formatPhone}</td>
            </tr>
          </tbody>
        </table>
      </div>
	</div>
  </div>
  <div class="row" show.bind="searchResults">
    <compose view="./viewHTForm.html"></compose>
  </div>
	
</template>