<template>
	    <div class="col-lg-12">
      <div class="row">
        <span class="leftMargin largeFont">${viewHelpTicketsHeading}</span>
      </div>

    <!-- Buttons -->
    <div class="row">
      <div class="bottomMargin list-group-item leftMargin rightMargin" id="toolbar">
          <span click.trigger="back()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Back"><i class="fa fa-arrow-left fa-lg fa-border" aria-hidden="true"></i></span>
          <span click.trigger="flag()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Flag"><i class="fa fa-flag fa-lg fa-border" aria-hidden="true"></i></span>
          <span class="pull-right">${lockMessage}</span>
      </div> 
    </div>
    
    <!-- Help Ticket Header -->
    <div class="topMargin">
        <!-- widget content -->
        <div class="row">
          <div class="panel panel-default  leftMargin rightMargin">        
            <div class="panel-body">
              <div class="row">
                 <div class="col-md-3">
                  <div class="form-group">
                    <h5 class="col-md-offset-1">Customer: ${helpTickets.selectedHelpTicket.personId.fullName}</h5>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <h5 class="col-md-offset-1">Institution: ${helpTickets.selectedHelpTicket.institutionId.name}</h5>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <h5 class="col-md-offset-1">Last modified: ${helpTickets.selectedHelpTicket.modifiedDate | dateFormat:config.DATE_FORMAT_TABLE:true}</h5>
                  </div>
                </div>
                 <div class="col-md-3">
                  <div class="form-group">
                    <h5 class="col-md-offset-1">Created: ${helpTickets.selectedHelpTicket.createdDate | dateFormat:'YYYY-MM-DD'} ${helpTickets.selectedHelpTicket.createdDate | dateFormat:'h:mm A'}</h5>
                  </div>
                </div>
              </div>
              <div class="row">
                 <div class="col-md-3">
                  <div class="form-group">
                    <h5 class="col-md-offset-1">Session: ${helpTickets.selectedHelpTicket.sessionId | session:sessions.sessionsArray}</h5>
                  </div>
                </div>
                 <div class="col-md-3">
                  <div class="form-group">
                    <h5 class="col-md-offset-1">Keywords: ${helpTickets.selectedHelpTicket.keyWords}</h5>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <h5 class="col-md-offset-1">Phone: ${helpTickets.selectedHelpTicket.personId.phone | phoneNumber} Mobile: ${helpTickets.selectedHelpTicket.personId.mobile | phoneNumber}</h5>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <h5 class="col-md-offset-1">Owner: ${helpTickets.selectedHelpTicket.owner[0].personId.fullName}</h5>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-3">
                     <h5 class="col-md-offset-1">Type: ${helpTickets.selectedHelpTicket.helpTicketType | helpTicketType:helpTickets.helpTicketTypesArray}</h5>
                  </div>
                  <div class="form-group col-md-3">
					  <h5 class="col-md-offset-1">Status: ${helpTickets.selectedHelpTicket.helpTicketStatus | lookupValue:config.HELP_TICKET_STATUSES:"code":"description"}</h5>
                   </div>
                  <div class="form-group col-md-3">
					   <h5 class="col-md-offset-1">Priority: ${helpTickets.selectedHelpTicket.priority  | getArrayValue:config.HELP_TICKET_PRIORITIES:'priority'}</h5>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <compose view="../../../../resources/htTimeline/timeline.html"></compose>
  
	</div>
	</template>