<template>
    <div class="row">
        <div class="col-6">
            <label id=" productList">Institution *</label>
            <input class="form-control" value.bind="filter" input.trigger="filterList()"
                placeholder="Filter institutions" />
            <div class="overFlow" style="height:200px;">
                <ul class="list-group" style="border:1px solid gray;padding-bottom:5px;">
                    <a click.trigger="institutionSelected(institution._id, $event)" type="button"
                        repeat.for="institution of filteredInstitutionsArray" id="${institution._id}"
                        class="list-group-item dropbtn">${institution.name}</a>
                </ul>
            </div>
        </div>
        <div class="col-5">
            <div class="row">
                <div show.bind="stepTwoErrors.length">
                    <ul class="pull-right">
                        <li repeat.for="error of stepTwoErrors">${error}</li>
                    </ul>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col">
                    <h3>${people.selectedInstitution.name}</h3>
                </div>
            </div> -->

        </div>
    </div>
</template>