<template>
     <div class="topMargin">
        <div class="bottomMargin list-group-item leftMargin rightMargin">
            <span click.delegate="copyInstAddress()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Copy Instituion Address"><i class="fa fa-files-o fa-lg fa-border" aria-hidden="true"></i></span>
        </div>
        <div class="col-sm-12 col-lg-12">
            <div class="form-group">
                <label for="editAddress1" class="col-sm-3 control-label hideOnPhone">Address 1</label>
                <div class="col-sm-8">
                    <input value.bind="people.selectedPerson.address1" id="editAddress1" class="form-control " placeholder="Address 1" type="text" />
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-12">
            <div class="form-group">
                <label for="editAddress2" class="col-sm-3 control-label hideOnPhone">Address 2</label>
                <div class="col-sm-8">
                    <input value.bind="people.selectedPerson.address2" id="editAddress2" class="form-control " placeholder="Address2" type="text" />
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-12">
            <div class="form-group">
                <label for="editCity" class="col-sm-3 control-label hideOnPhone">City</label>
                <div class="col-sm-8">
                    <input value.bind="people.selectedPerson.city" id="editCity" class="form-control " placeholder="City" type="text" />
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-12">
            <div class="form-group">
                <label for="editRegion" class="col-sm-3 control-label hideOnPhone">Region</label>
                <div class="col-sm-8">
                    <input value.bind="people.selectedPerson.region" id="editRegion" class="form-control " placeholder="Region" type="text" />
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-12">
            <div class="form-group">
                <label for="editPostalCode" class="col-sm-3 control-label hideOnPhone">Postal Code</label>
                <div class="col-sm-8">
                    <input value.bind="people.selectedPerson.postalCode" id="editPostalCode" class="form-control " placeholder="Postal Code" type="text" />
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-12">
            <div class="form-group">
                <label for="editCountry" class="col-sm-3 control-label hideOnPhone">Country</label>
                <div class="col-sm-8">
                    <input value.bind="people.selectedPerson.country" id="editCountry" class="form-control " placeholder="Country" type="text" />
                </div>
            </div>
        </div>
    </div>
</template>