<template>

    <div class="col-lg-12">

        <div class="bottomMargin list-group-item leftMargin rightMargin">
            <span click.delegate="back()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title=""
                data-original-title="Back"><i class="fa fa-arrow-left fa-lg fa-border" aria-hidden="true"></i></span>
            <span click.delegate="save()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title=""
                data-original-title="Save"><i class="fa fa-floppy-o fa-lg fa-border" aria-hidden="true"></i></span>
            <span click.delegate="cancel()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom"
                title="" data-original-title="Cancel Changes"><i class="fa fa-ban fa-lg fa-border" aria-hidden="true"></i></span>
            <span show.bind="!newPerson" click.delegate="delete()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom"
                title="" data-original-title="Delete"><i class="fa fa-trash fa-lg fa-border text-danger" aria-hidden="true"></i></span>
        </div> 


        <div class="topMargin">
            <form class="form-horizontal topMargin">
                <div class="row">
                    <div class="col-lg-1">
                         <div  class="topMargin">
                            <img if.bind="profileHelpTicket.personId.file.fileName" class="circular--square leftMargin" src ="${config.PERSON_IMAGE_DOWNLOAD_URL}/${people.selectedPerson.file.fileName}" height="100">
                        </div>
                        <div if.bind="!profileHelpTicket.personId.file.fileName" style="height:100px;width:100px;" innerhtml.bind="people.selectedPerson.email | gravatarUrl:100:6"></div>
                    </div>
                    <div class="col-lg-11">
                    <form class="horizontal-form">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="editFirstName" class="col-sm-3 control-label hideOnPhone">First Name *</label>
                                <div class="col-sm-8">
                                    <input value.bind="people.selectedPerson.firstName" id="editFirstName" class="form-control " placeholder="First Name" type="text"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="editMiddleName" class="col-sm-3 control-label hideOnPhone">Middle Name</label>
                                <div class="col-sm-8">
                                    <input value.bind="people.selectedPerson.middleName" id="editMiddleName" class="form-control " placeholder="Middle Name"
                                        type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="editLastName" class="col-sm-3 control-label hideOnPhone">Last Name *</label>
                                <div class="col-sm-8">
                                    <input value.bind="people.selectedPerson.lastName" id="editLastName" class="form-control " placeholder="Last Name" type="text"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="editLastName" class="col-sm-3 control-label hideOnPhone">Nickname</label>
                                <div class="col-sm-8">
                                    <input value.bind="people.selectedPerson.nickName" id="editLastName" class="form-control " placeholder="Nickname" type="text"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="control-label col-sm-3 hideOnPhone">Status *</label>
                                <div class="col-sm-8">
                                    <select keypress.bind="setStatus($event)" value.bind="people.selectedPerson.personStatus" id="editStatus" class="form-control " placeholder="Status">
                                        <option value="">Select an option</option>
                                        <option repeat.for='status of is4ua.personStatusArray' value="${status.code}">${status.description}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="editMobile" class="col-sm-3 control-label hideOnPhone">Mobile</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="editMobile" masked="value.bind: people.selectedPerson.mobile; mask: 999-999-9999; placeholder: *"
                                    />
                                </div>
                            </div>
                        </div>
                         <div class="col-lg-4">
                            <div class="form-group">
                                <label for="editPhone" class="col-sm-3 control-label hideOnPhone">Phone *</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="editPhone" masked="value.bind: people.selectedPerson.phone; mask: 999-999-9999; placeholder: *"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="editPhone" class="col-sm-3 control-label hideOnPhone">Extension</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="editPhoneExt" value.bind="people.selectedPerson.ext"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="editEmail" class="col-sm-3 control-label hideOnPhone">Email *</label>
                                <div class="col-sm-8">
                                    <input value.bind="people.selectedPerson.email" id="editEmail" class="form-control " placeholder="Email" type="text" blur.trigger="checkEmail()"
                                    />
                                </div>
                            </div>
                        </div>
 
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="editInstitution" class="col-sm-3 control-label">Institution *</label>
                                <div class="col-sm-8">
                                    <select change.trigger="changeInstitution()" value.bind="institutionId" id="editInstitution" class="form-control " placeholder="Institution">
                                        <option value="">Select an option</option>
                                        <option repeat.for="institution of people.institutionsArray" value="${institution._id}">${institution.name}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="editSpecialization" class="col-sm-3 control-label">Specialization</label>
                                <div class="col-sm-8">
                                    <select value.two-way="people.selectedPerson.personSpecialization" id="editSpecialization" class="form-control " placeholder="Specializatin">
                            <option value="">Select an option</option>
                            <option repeat.for="name of is4ua.specialArray" value="${name.code}">${name.description}</option>
                        </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="editDepartment" class="col-sm-3 control-label">Department</label>
                                <div class="col-sm-8">
                                    <select value.two-way="people.selectedPerson.departmentCategory" id="editDepartment" class="form-control " placeholder="Department">
                                        <option value="">Select an option</option>
                                        <option repeat.for="name of is4ua.deptArray" value="${name.code}">${name.description}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>

                <div class="row bigTopMargin">
                    <div class="col-lg-9 col-lg-offset-2">
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-lg-2">
                                        <div id="peopleFormListGroup" class="list-group">
                                            <a class="${ $first ? 'active' : ''} list-group-item" repeat.for="tab of tabs" href="" class="list-group-item" click.delegate="changeTab($event, $index)">
                                                <h4 id="${tab.id}" class="list-group-item-heading">${tab.id}</h4>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-10">
                                        <div class="tab-content">
                                            <div repeat.for="tab of tabs" id="${tab.id + 'Tab'}" class="${ $first ? 'tab-pane fade in active' : 'tab-pane fade' }">
                                                <compose view="${tabPath + tab.id + '.html'}"></compose>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </form>
        </div>
        <div>

</template>