<template>
    <div class="topMargin">
        <div class="col-sm-12 col-lg-12">
            <label class="control-label col-sm-1">Roles</label>
        </div>
        <div class="col-sm-12 col-lg-6 col-sm-offset-3">
            <label class="checkbox" repeat.for="role of config.ROLES">
                <input type="checkbox" 
                    value.one-way="role.role" id="editRoles"
                    checked.bind="people.selectedPerson.roles">${role.label}
            </label>
        </div>
    </div> <!-- Right side of form -->
</template