<template>
  <div class="panel panel-info leftMargin rightMargin">
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-2">
          <label class="control-label hideOnPhone">Customer</label>
          <input value.bind="CustomerFilter"
            input.delegate="dataTable.filterList(CustomerFilter, { type: 'custom',  filter: customerCustomFilter, compare:'custom'} )"
            class="form-control" ref="nameFilter" />
        </div>
        <div class="col-lg-2">
          <label class="control-labelhideOnPhone">Status</label>
          <select value.bind="activeFilterValue" change.delegate="filterActive()" class="form-control "
            id="personStatus">
            <option value=""></option>
            <option repeat.for='item of is4ua.personStatusArray' value='${item.code}'>${item.description}</option>
          </select>
        </div>
        <div class="col-lg-2">
          <label>Include Roles</label>
          <select class="form-control" multiple label="Include Roles" value.bind="roleFilterValue" change.trigger="filterRoles()">
            <option model.bind="null">Choose...</option>
            <option repeat.for="role of config.ROLES" model.bind="role.role">${role.label}</option>
          </select>

          <!-- <multiselect label="Include Roles" options.bind="roleSelect" value.bind="roleFilterValue"
                        change.trigger="filterRoles()"></multiselect> -->
        </div>
        <div class="col-lg-2">
          <label>Exclude Roles</label>
          <select class="form-control" multiple label="Exclude Roles" value.bind="roleExcludeFilterValue"
            change.trigger="excludeRoles()">
            <option model.bind="null">Choose...</option>
            <option repeat.for="role of config.ROLES" model.bind="role.role">${role.label}</option>
          </select>
          <!-- <multiselect label="Exclude Roles" options.bind="roleSelect" value.bind="roleExcludeFilterValue"
                        change.trigger="excludeRoles()"></multiselect> -->
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <label class="control-label hideOnPhone">Institution</label>
          <input value.bind="institutionFilterValue"
            input.delegate="dataTable.filterList(institutionFilterValue, { type: 'custom',  filter: institutionCustomFilter, compare:'custom'} )"
            class="form-control" />
        </div>
        <div class="col-lg-2">
          <label class="control-labelhideOnPhone">Status</label>
          <select value.bind="institutionStatusValue"
            input.delegate="dataTable.filterList($event, { type: 'value',  filter: 'institutionStatusFilter', lookupArray: '', lookupProperty: '', collectionProperty: 'institutionId.institutionStatus', displayProperty: 'institutionId.institutionStatus', matchProperty:'', compare:'match'} )"
            class="form-control " id="personStatus">
            <option value=""></option>
            <option repeat.for='item of is4ua.institutonStatusArray' value='${item.code}'>${item.description}</option>
          </select>
        </div>
        <div class="col-lg-2">
          <label class="control-label hideOnPhone">Institution Type</label>
          <select value.bind="institutionTypeFilter"
            input.delegate="dataTable.filterList($event, { type: 'value',  filter: 'institutionTypeFilter', lookupArray: '', lookupProperty: '', collectionProperty: 'institutionId.institutionType', displayProperty: 'institutionId.institutionType', matchProperty:'', compare:'match'} )"
            class="form-control">
            <option value=""></option>
            <option repeat.for="institution of is4ua.institutionTypes" value="${institution.code}">
              ${institution.description}</option>
          </select>
        </div>
        <div class="col-lg-2">
          <multiselect label="Member Type" options.bind="is4ua.memberTypes" value.bind="memberTypeFilterValue"
            change.trigger="dataTable.filterList($event, { type: 'custom',  filter: memberTypeCustomFilter, compare:'custom'} )">
          </multiselect>
        </div>
        <div class="col-lg-2">
          <label class="control-label hideOnPhone">Region</label>
          <input value.bind="regionFilterValue"
            input.delegate="dataTable.filterList(regionFilterValue, { type: 'custom',  filter: regionCustomFilter, collectionProperty: 'institutionId.region', compare:'custom'} )"
            class="form-control" ref="regionFilter" />
        </div>
        <div class="col-lg-2">
          <label class="control-label hideOnPhone">Country</label>
          <input value.bind="countryFilterValue"
            input.delegate="dataTable.filterList(countryFilterValue, { type: 'custom',  filter: countryCustomFilter, compare:'custom'} )"
            class="form-control" ref="countryFilter" />
        </div>
      </div>
    </div>
  </div>
</template>
