<template>
    <div class='row'>
        <div class='col-lg-10 col-lg-offset-1 bottomMargin'>
            <compose view="../../../../resources/elements/table-navigation-bar.html"></compose>
            <div id="no-more-tables">
                <table class="table table-striped table-hover cf">
                    <thead class="cf">
                        <tr>
                            <td colspan='6'>
                                <span click.delegate="new()" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom"
                                    title="" data-original-title="New Document"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            </td>
                        </tr>
                        <tr>
                            <th>Name </th>
                            <th>Description</th>
                            <th>Date Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr click.trigger="editDocument($index, $event)" repeat.for="item of dataTable.displayArray">
                            <td data-title="name">${item.name}</td>
                            <td data-title="description">${item.description}</td>
                            <td data-title="createdDate">${item.createdDate | dateFormat:config.DATE_FORMAT_TABLE}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>