<template>
	 <div class="bottomMargin list-group-item leftMargin rightMargin">
		<span click.delegate="backBulkEmail()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Back"><i class="fa fa-arrow-left fa-lg fa-border" aria-hidden="true"></i></span>
		<span click.delegate="sendBulkEmail()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Send"><i class="fa fa-envelope fa-lg fa-border" aria-hidden="true"></i></span>
	</div>

	 <div class="col-md-4 topMargin">
        <label id="productList">Recipients: ${emailArray.length}</label> 
        <div class="well well2 overFlow" style="height:800px;">
          <ul>
			<li class="list-group-item" repeat.for="person of emailArray">
				<span class="col-lg-10" style="padding-left:0px;"><h5>${person.fullName}</h5></span>
				<span class="col-lg-1">
				<span class="col-lg-2 icon glyphicon glyphicon-trash pull-right smallMarginRight" click.delegate="deleteRecipient($index)"></span>
				</span>
					<h6>${person.email}</h6>
					<h6>${person.institution}</h6>
					<h7>${person.status}</h7>
			</li>
          </ul>
        </div>
	  </div>
	<div class="col-md-8">
		<input class="form-control topMargin bottomMargin" value.bind="email.subject" placeholder="Subject"/>
		<div class="topMargin">
			<editor value.bind="email.emailMessage" height="600" editorid="bulkEmail"></editor>
		</div>
	</div>
</template>
