<template>
	<div class="hover sticky" innerhtml.bind="commentShown"></div>
		<div class="hoverProfile" >
		<span  click.delegate="hideProfile()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Close"><i class="fa fa-window-close-o" aria-hidden="true"></i></span>
		<span  click.delegate="customerActionDialog()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Send Email"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
		<hr/>
		<div class="col-md-4">
			<div  class="topMargin">
				<img if.bind="profileRequest.requestId.personId.file.fileName" class="circular--square leftMargin" src ="${config.PERSON_IMAGE_DOWNLOAD_URL}/${profileRequest.requestId.personId.file.fileName}" height="100">
			</div>
			<div if.bind="!profileRequest.requestId.personId.file.fileName" style="height:100px;width:100px;" innerhtml.bind="profileRequest.requestId.personId.email | gravatarUrl:100:6"></div>
		</div>
		<div class="col-md-8">
			<h5>Nickname: ${profileRequest.requestId.personId.nickName}</h5>
			<h5>Phone: ${profileRequest.requestId.personId.phone | formatPhone}</h5>
			<h5>Mobile: ${profileRequest.requestId.personId.mobile | formatPhone}</h5>
			<h5>Email: ${profileRequest.requestId.personId.email}</h5>
		</div>
  </div>
</template>