<template>
   <div class="hover" innerhtml.bind="commentShown"></div>
    <div class="hoverProfile" >
      <span  click.delegate="hideProfile()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Close"><i class="fa fa-window-close-o" aria-hidden="true"></i></span>
      <span  click.delegate="customerActionDialog()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Send Email"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
      <hr/>
      <div class="col-md-4">
         <div show.bind="profileRequest.requestId.personId.file.fileName" class="topMargin">
              <img class="circular--square leftMargin" src ="${config.PERSON_IMAGE_DOWNLOAD_URL}/${profileRequest.requestId.personId.file.fileName}" height="100">
          </div>
          <div show.bind="!profileRequest.requestId.personId.file.fileName" style="height:100px;width:100px;" innerhtml.bind="profileRequest.requestId.personId.email | gravatarUrl:100:6"></div>
     <!--   <div style="height:100px;width:100px;" innerhtml.bind="profileRequest.requestId.personId.email | gravatarUrl:100:6"></div> -->
      </div>
      <div class="col-md-8">
        <h5>Nickname: ${profileRequest.requestId.personId.nickName}</h5>
        <h5>Phone: ${profileRequest.requestId.personId.phone | formatPhone}</h5>
        <h5>Mobile: ${profileRequest.requestId.personId.mobile | formatPhone}</h5>
        <h5>Email: ${profileRequest.requestId.personId.email}</h5>
      </div>
  </div>
  <div class="col-lg-12 letMargin rightMargin">
      <table id="requestsTable" class="table table-striped table-hover">
        <thead>
          <tr>
            <td colspan='7'>
                <div class="checkbox">
                    <label>
                        <input checked.bind="isChecked" change.trigger="filterInAssigned()" type="checkbox"> Show assigned requests
                    </label>
                </div>
            </td>
          </tr>
          <tr>
            <td colspan='9'>
              <compose view="../../../../resources/elements/table-navigation-bar.html"></compose>
            </td>
          </tr>
          <tr>
            <td colspan='9'>
              <span click.delegate="refresh()"class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Refresh"><i class="fa fa-refresh" aria-hidden="true"></i></span>
              <span click.delegate="clearFilters()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Clear Filters"><i class="fa fa-filter" aria-hidden="true"></i></span>
              <span class="pull-right" id="spinner" innerhtml.bind="spinnerHTML"></span>
            </td>
            <td></td>
          </tr>
          <tr>
            <th class="col-xs-1">No <span click.trigger="dataTable.sortArray('requestNo')"><i class="fa fa-sort"></i></span></th>
            <th class="col-lg-1">Due <span click.trigger="dataTable.sortArray('requiredDate')"><i class="fa fa-sort"></i></span></th>
            <th class="col-lg-1">Requested <span click.trigger="dataTable.sortArray('createdDate')"><i class="fa fa-sort"></i></span></th>
            <th show.bind="config.SANDBOX_USED" class="col-lg-1">Type</th>
            <th class="col-lg-1">Status <span click.trigger="dataTable.sortArray('requestStatus', 'id', config.REQUEST_STATUS, 'code', 'description')"><i class="fa fa-sort"></i></span></th>
            <th class="col-sm-1">IDS Requestd</th>
            <th class="col-lg-2">Product <span click.trigger="dataTable.sortArray('productId', 'id', products.productsArray, '_id', 'name')"><i class="fa fa-sort"></i></span></th>
            <th class="col-lg-1">Faculty <span click.trigger="dataTable.sortArray('requestId.personId.lastName')"><i class="fa fa-sort"></i></span></th>
            <th class="col-lg-1">Institution <span click.trigger="dataTable.sortArray('requestId.institutionId', 'id', people.institutionsArray, '_id', 'name')"><i class="fa fa-sort"></i></span></th>
            <th style="width:20px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th></th>
            <th>
              <input type="date" value.bind="requiredDateFilterValue" input.delegate="dataTable.filterList(requiredDateFilterValue, {type: 'date', filter: 'requiredDate',  collectionProperty: 'requiredDate', compare: 'after'} )"  class="form-control" />
            </th>
            <th>
              <input type="date" value.bind="createdDateFilterValue" input.delegate="dataTable.filterList(createdDateFilterValue, {type: 'date', filter: 'createdDate',  collectionProperty: 'createdDate', compare: 'after'} )"  class="form-control" />
            </th>
            <th  show.bind="config.SANDBOX_USED" >
              <select value.bind="courseFilter" input.delegate="dataTable.filterList($event, { type: 'custom',  filter: customCourseFilter, compare:'custom'} )" class="form-control">
                <option value=""></option>
                <option  value="${config.SANDBOX_ID}">${config.SANDBOX_NAME}</option>
                <option  value="NOT${config.SANDBOX_ID}">Regular</option>
              </select>
            </th>
            <th>
              <select value.bind="requestStatusFilter" input.delegate="dataTable.filterList($event, { type: 'value',  filter: 'requestStatusFilter',  collectionProperty: 'requestStatus', displayProperty: 'requestStatus',  compare:'match'} )" class="form-control">
                <option value=""></option>
                <option repeat.for="status of config.REQUEST_STATUS" value="${status.code}">${status.description}</option>
              </select>
            </th>
            <th></th>
            <th>
              <input value.bind="productFilterValue" input.delegate="dataTable.filterList(productFilterValue, { type: 'custom',  filter: customProductNameFilter,  compare:'custom'} )"  class="form-control" />
            </th>
            <th>
              <input value.bind="helpTicketTypeFilterValue" input.delegate="dataTable.filterList(helpTicketTypeFilterValue, { type: 'custom',  filter: customNameFilter,  compare:'custom'} )"  class="form-control" />
            </th>
            <th>
              <input value.bind="institutionFilterValue" input.delegate="dataTable.filterList(institutionFilterValue, { type: 'custom',  filter: institutionCustomFilter, compare:'custom'} )"  class="form-control" />
            </th>
            <th></th>
          </tr>
          <tr  repeat.for="request of dataTable.displayArray" class="${request.requestStatus | getArrayValue:config.REQUEST_STATUS:'status':-1}">
            <td click.delegate="selectARequest($index, $event, request)" data-title="requestNo">${request.requestNo}</td>
            <td click.delegate="selectARequest($index, $event, request)" data-title="requiredDate">${request.requiredDate | dateFormat:config.DATE_FORMAT_TABLE}</td>
            <td click.delegate="selectARequest($index, $event, request)" data-title="dateCreated">${request.createdDate | dateFormat:config.DATE_FORMAT_TABLE}</td>
            <td click.delegate="selectARequest($index, $event, request)" show.bind="config.SANDBOX_USED"  data-title="courseId">${request.requestId.courseId | sandbox:config.SANDBOX_ID:config.SANDBOX_NAME}</td>
            <td click.delegate="selectARequest($index, $event, request)" mouseover.delegate="showComment(request, $event)" mouseout.delegate="hideComment()"   data-title="status">${request.requestStatus | lookupValue:config.REQUEST_STATUS:"code":"description"}</td>
            <td click.delegate="selectARequest($index, $event, request)" data-title="ids-requested">${request.requestId | idsRequested}
            <td click.delegate="selectARequest($index, $event, request)" data-title="product">${request.productId | lookupValue:products.productsArray:"_id":"name"}</td>
            <td class="dropbtn" data-title="Name">${request.requestId.personId.fullName}</td>
            <td click.delegate="showProfile(request, $event)" data-title="Name"${request.requestId.institutionId | lookupValue:people.institutionsArray:"_id":"name"}</td>
            <td><span class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Edit"><i class="fa fa-pencil fa-lg fa-border" click.delegate="editRequest($index)" aria-hidden="true"></i></span></td>
             <!-- click.delegate="editRequest($index)" -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>