<template>
     <div class="col-lg-5" show.bind="showRequest">
    <div class="panel panel-primary topMargin">
      <div class="panel-heading">
        <h3 class="panel-title">${selectedProductID | lookupValue:products.productsArray:"_id":"name"}</h3>
      </div>
      <div class="panel-body">
        <h5>Request status: ${selectedRequestDetail.requestStatus | lookupValue:config.REQUEST_STATUS:"code":"description"}</h5>
        <h5>Assigned system: ${selectedRequestDetail.assignment.systemId | lookupValue:systems.systemsArray:"_id":"sid"}</h5>
        <h5>Assigned client: ${selectedRequestDetail.assignment.clientId | lookupValue:systems.systemsArray:"_id":"sid"}</h5>
      </div>
    </div>
  </div>
</template>