<template>
  <div class="row">
 
      <!-- Session Select -->
      <div class="col-lg-4">
        <div class="form-group topMargin leftMargin">
            <select value.bind="selectedSession" change.delegate="getRequests()" id="session" class="form-control">
              <option repeat.for="session of sessions.sessionsArray"
                      value.bind="session._id">Session ${session.session} - ${session.year}</option>
            </select>
        </div>
        <div class="checkbox leftMargin">
          <label>
            <input checked.bind="isCheckedAssigned" change.trigger="filterInAssigned()" type="checkbox"> Filter out Assigned Requests
          </label>
        </div>
      </div>
    </div>

      <div show.bind="selectedSession">
        <div class="row">
          <div class="col-lg-12">
            <div show.bind="noRequests" class="bottomMargin leftMargin">
                <h4>There are no requests for this session</h4>
            </div>
            <compose  show.bind="!noRequests" view="./requestsTable.html"></compose>
          </div>
      </div>
  </div>

</template>
