<template>
  <div  style="margin-top:20px;">
    <div class="col-md-12">
      <h2>${heading}</h2>
      <img class="col-md-12 hideOnPhone" src="src/resources/img/DataCenter.jpg" class="homePageImage" />
      <div class="col-md-4 topMargin hideOnPhone"><img class="center-block" src="/img/ucc_logo.jpg" style="height:100px;"/></div>
      <div class="col-md-4 topMargin hideOnPhone"><img class="center-block" src="/img/sap_ua2.PNG" style="height:75px;"/></div>
      <div class="col-md-4 topMargin hideOnPhone"><img class="center-block" src="/img/ibm_LOGO.PNG" style="height:75px;"/></div>
    </div>
  </div>
</template>