<template>
      <div class="row">
        <div class="col-lg-2">
            <label class="control-label hideOnPhone">Customer</label>
            <input value.bind="filters[0].value" id="nameFilter" class="form-control" />
          </div>
          <div class="col-lg-2">
            <label class="control-labelhideOnPhone">Status</label>
            <select id="statusFilter" class="form-control" value.bind="filters[1].value" id="personStatus">
              <option value=""></option>
              <option repeat.for='item of is4ua.personStatusArray' value='${item.code}'>${item.description}</option>
            </select>
        </div>
        <div class="col-lg-2">
            <label>Include Roles</label>
            <select class="form-control selectpicker" id="includeRoles" multiple data-style="btn btn-link"
              change.delegate="rolesFilter()" value.bind="roleIncludeFilterValue">
              <option repeat.for="role of config.ROLES" model.bind="role.role">${role.label}</option>
            </select>
        </div>
        <div class="col-lg-2">
            <label>Exclude Roles</label>
            <select class="form-control selectpicker" multiple data-style="btn btn-link"
              value.bind="roleExcludeFilterValue" change.delegate="rolesFilter()">
              <option repeat.for="role of config.ROLES" model.bind="role.role">${role.label}</option>
            </select>
        </div>
        <div class="col-lg-2">
            <label class="control-label hideOnPhone">Institution</label>
            <input value.bind="filters[4].value" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 topMargin">
          <label class="control-label hideOnPhone">Institution Type</label>
          <select value.bind="institutionTypeFilter" class="form-control selectpicker" data-style="btn btn-link">
            <option value=""></option>
            <option repeat.for="institution of is4ua.institutionTypes" value="${institution.code}"> ${institution.description}</option>
          </select>
        </div>
      
        <div class="col-lg-2" style="margin-top: 55px;">
          <select class="form-control selectpicker" multiple data-style="btn btn-link" value.bind="memberTypesFilter" >
          <option repeat.for="institution of is4ua.memberTypes" model.bind="institution.code">${institution.description}</option>
        </select>
        </div>
         
        <div class="col-lg-2 topMargin">
          <label class="control-label hideOnPhone">Region</label>
          <input value.bind="filters[2].value" class="form-control" />
        </div>
        <div class="col-lg-2 topMargin">
          <label class="control-label hideOnPhone">Country</label>
          <input value.bind="filters[3].value" class="form-control" />
        </div> 
       
      </div> 
</template>