<template>
    <div class="table-responsive">
        <table class="table table-striped" style="width:100%;"
            aurelia-table="data.bind:selectedCat.subCategories[selectedSubCategoryIndex].subSubCategories[selectedSubSubCategoryIndex].documents; display-data.bind: $displayData; filters.bind: filters; current-page.bind: currentPage; page-size.bind: pageSize; total-items.bind: totalItems;">
            <thead>
                <tr>
                    <th style="width:15rem;" aut-sort="key: name">Name</th>
                    <th >Size</th>
                    <th aut-sort="key: displayDate">Date</th>
                    <th style="width:30rem;">Description</th>
                </tr>
            </thead>

            <tbody>
                <tr repeat.for="document of $displayData">
                    <td><a target="_blank"
                            href="${config.DOCUMENT_FILE_DOWNLOAD_URL}/${selectedCat.DocCode}/${selectedSubCategoryIndex}/${document.files[0].fileName}">${document.name}</a>
                    </td>
                    <td>${document.files[0].size}</td>
                    <td>${document.displayDate | dateFormat}</td>
                    <td>${document.description}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>