<template>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h2>${selectedCat.subCategories[selectedSubCategoryIndex].description}</h2>
                    <h5>${selectedCat.subCategories[selectedSubCategoryIndex].subSubCategories[selectedSubSubCategoryIndex].description}
                    </h5>
                </div>
            </div>
            <div show.bind="filesToShow" class="row overFlow" style="height:800px;">
                <div class="col">
                    <compose view="./documentTable.html"></compose>
                </div>
            </div>
        </div>
    </div>
</template>