<template>
  <div class="form-group">
    <p>${event.personId | person:people.peopleArray:'fullName'}</p>
    <h4 class="topMargin">User Ids: ${event.content.resetPasswordUserIDs}</h4>
    <label show.bind="showRequestDetails" class="topMargin">System: ${systems.selectedSystem.sid}</label>
    <label show.bind="showRequestDetails" class="topMargin">Client: ${systems.selectedClient.client}</label>
    <label show.bind="!showRequestDetails" class="topMargin">Client not assigned</label>
    <div class="topMargin" if.bind="event.content.comments.length > 0" innerhtml.bind="event.content.comments"></div>
  </div>
</template>
