<template>
  <div class="form-group">
      <p>${event.personId | person:people.peopleArray:'fullName'}</p>
      <h4>Application: ${event.content.applicationId | productName:apps.appDownloadsArray}</h4>
      <div class="row">
        <div class="col-lg-4" show.bind="event.content.osWindows || event.content.osMac">
          <h4>Operating System</h4>
          <label show.bind="event.content.osWindows">Windows versions: ${event.content.windowsVersion}</label>
          <label show.bind="event.content.osWindows32bit">32-bit</label>
          <label show.bind="event.content.osWindows64bit">64-bit</label>
          <label show.bind="event.content.osMac">Mac versions: ${event.content.macVersion}</label>
        </div>
        <div class="col-lg-4" show.bind="event.content.officeInvolved">
          <h4>Microsoft Office</h4>
          <label show.bind="event.content.officeVersion">Office versions: ${event.content.officeVersion}</label>
        </div>
        <div class="col-lg-4" show.bind="event.content.wiredNetwork || event.content.wirelessNetwork || event.content.campusNetwork || event.content.personalNetwork">
          <h4>Network</h4>
          <label show.bind="event.content.wiredNetwork">Wired</label>
          <label show.bind="event.content.wirelessNetwork">Wireless</label>
          <label show.bind="event.content.campusNetwork">Campus</label>
          <label show.bind="event.content.personalNetwork">Personal/Private Network</label>
        </div>
      </div>
       <div if.bind="event.content.comments.length > 0" innerhtml.bind="event.content.comments"></div>
</template>