<template>
    <div class=" col-md-12" id="curriculumHelp">
    <div class="form-group">
      <!--        <label for="curriculumTitle">Enter the curriculum title</label> -->
      <input type="text" value.bind="helpTickets.selectedHelpTicketContent.content.curriculumTitle" class="form-control "
             id="curriculumTitle" placeholder="Curriculum Title">
    </div>
    <div class="form-group">
      <!--         <label for="ExerciseModule">Enter the specfic module</label> -->
      <input type="text" value.bind="helpTickets.selectedHelpTicketContent.content.ExerciseModule" class="form-control "
             id="ExerciseModule" placeholder="Exercise/Module">
    </div>
    <div class="form-group">
      <!--        <label for="PageNumber">Enter the page number</label> -->
      <input type="text" value.bind="helpTickets.selectedHelpTicketContent.content.PageNumber" class="form-control "
             id="PageNumber" placeholder="Page Number">
    </div>
    <div class="form-group">
      <!--        <label for="UserIDsaffected">Enter the user IDs affected</label> -->
      <input type="text" value.bind="helpTickets.selectedHelpTicketContent.content.UserIDsaffected" class="form-control "
             id="UserIDsaffected" placeholder="User IDs affected">
    </div>
  </div>
</template>