<template>
  <div class="container">
    <div class='row'>
      <div class='bottomMargin'>
        <compose view="../../../../resources/elements/table-navigation-bar.html"></compose>
        <div id="no-more-tables">
          <table class="table table-striped table-hover cf">
            <thead class="cf">
              <tr>
                <td colspan='6'>
                  <span click.delegate="refresh()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom"
                    title="" data-original-title="Refresh"><i class="fa fa-refresh" aria-hidden="true"></i></span>
                  <span class="pull-right" id="spinner" innerhtml.bind="spinnerHTML"></span>
                </td>
              </tr>
              <tr>
                <th></th>
                <th class="hasinput">
                  <select change.delegate="dataTable.filterList($event)" class="form-control" id="helpTicketType">
                        <option value=""></option>
                        <option repeat.for="type of config.HELP_TICKET_TYPES"
                                value.bind="type.code">${type.description}</option>
                      </select>
                </th>
                <th></th>
                <th></th>
                <th class="hasinput">
                  <select value.bind="selectedStatus" change.delegate="dataTable.filterList($event)" class="form-control" id="helpTicketStatus">
                        <option value=""></option>
                        <option repeat.for="status of config.HELP_TICKET_STATUSES"
                                value.bind="status.code">${status.description}</option>
                      </select>
                </th>
                <th class="hasinput">
                  <input change.delegate="dataTable.filterList($event)" id="createdDate" type="date" placeholder="Filter Date" class="form-control datepicker"
                    data-dateformat="yy/mm/dd">
                </th>
              </tr>
              <tr>
                <th>
                  Number <span click.trigger="dataTable.sortArray('helpTicketNo')"><i class="fa fa-sort"></i></span>
                </th>
                <th>
                  Type <span click.trigger="dataTable.sortArray('helpTicketType')"><i class="fa fa-sort"></i></span><br>
                </th>
                 <th>Owner</th>
                <th></th>
                <th>
                  Status <span click.trigger="dataTable.sortArray('helpTicketStatus')"><i class="fa fa-sort"></i></span><br>
                </th>
                <th>
                  Date Created <span click.trigger="dataTable.sortArray('createdDate')"><i class="fa fa-sort"></i></span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr repeat.for="helpTicket of dataTable.displayArray">
                <td click.delegate="selectHelpTicket($event, $index)" data-title="Reference">${helpTicket.helpTicketNo}</td>
                <td click.delegate="selectHelpTicket($event, $index)" data-title="Type">${helpTicket.helpTicketType | helpTicketType:helpTickets.helpTicketTypesArray}</td>
                <td style="width:12rem;">${helpTicket.owner[0].personId | person:people.peopleArray:'fullName'}</td> 
                <td style="width:2rem;" data-title="Update">
                  <span click.trigger="closeHelpTicket(helpTicket)" show.bind="helpTicket.helpTicketStatus != config.CLOSED_HELPTICKET_STATUS" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Close Help Ticket"><i class="fa fa-window-close-o fa-lg" aria-hidden="true"></i></span>
                  <span click.trigger="openHelpTicket(helpTicket)" show.bind="helpTicket.helpTicketStatus == config.CLOSED_HELPTICKET_STATUS" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Reopen Help Ticket"><i class="fa fa-folder-open fa-lg" aria-hidden="true"></i></span>
                </td>  
                <td click.delegate="selectHelpTicket($event, $index)" data-title="Status">${helpTicket.helpTicketStatus | lookupDescription:config.HELP_TICKET_STATUSES}</td>             
                <td click.delegate="selectHelpTicket($event, $index)" data-title="Created Date">${helpTicket.createdDate | dateFormat:config.DATE_FORMAT_TABLE:false}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>