<template>
    <div class="col-lg-12">

    <!-- Buttons -->
     <div class="bottomMargin list-group-item">
        <span click.delegate="back()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Back"><i class="fa fa-arrow-left fa-lg fa-border" aria-hidden="true"></i></span>
        <span click.delegate="respond()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Respond"><i class="fa fa-paper-plane fa-lg fa-border" aria-hidden="true"></i></span>
        <span>Click here to respond</span>
         <span class="pull-right" show.bind="showLockMessage">Help Ticket is currently locked by ${lockObject.personId | person:people.peopleArray:'fullName'}</span>
    </div>  

    <!-- Help Ticket Header -->
    <div class="topMargin">
        <!-- Enter Response -->
        <div show.bind="enterResponse" class="topMargin bottomMargin">

          <div class="bottomMargin list-group-item leftMargin rightMargin">
            <span click.delegate="saveResponse()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Save Response"><i class="fa fa-floppy-o fa-lg fa-border" aria-hidden="true"></i></span>
            <span click.delegate="cancelResponse()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Cancel"><i class="fa fa-ban fa-lg fa-border" aria-hidden="true"></i></span>
          </div> 

          <div class="col-lg-12 topMargin" style="height:300px;padding:50px;">
            <tiny-mce height.bind="150" value.two-way="responseContent" ></tiny-mce>
            <!-- helpTickets.selectedHelpTicketContent.content.comments -->
          </div>

          <div class="topMargin">
            <div class="input-group">
              <span class="input-group-btn">
                <span class="btn btn-primary btn-file topMargin bottomMargin">
                  Browse...<input change.delegate="changeFiles()" id="uploadFiles" files.bind="files" type="file" multiple=true>
                </span>
              </span>
              <input type="text" value.bind="filesSelected" class="form-control topMargin bottomMargin" readonly/>
            </div>
          </div>

        </div>

        <!-- widget content -->
        <div class="row">
        <div class="panel panel-default col-md-12">

          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <h3 class="col-md-offset-1">Created: ${helpTickets.selectedHelpTicket.createdDate | dateFormat:'YYYY-MM-DD'} ${helpTickets.selectedHelpTicket.createdDate | dateFormat:'h:mm A'}</h3>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group col-md-10">
                  <h3>Type: ${helpTickets.selectedHelpTicket.helpTicketType | lookupDescription:config.HELP_TICKET_TYPES}</h3>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <h3 class="col-md-offset-1">Session: ${helpTickets.selectedHelpTicket.sessionId | session:sessions.sessionsArray}</h3>
                </div>
              </div>
              <div class="col-md-6">
              <div class="form-group col-md-10">
                <h3>Status: ${helpTickets.selectedHelpTicket.helpTicketStatus | lookupDescription:config.HELP_TICKET_STATUSES}</h3>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-offset-1">Owner: ${helpTickets.selectedHelpTicket.owner[0].personId |  person:people.peopleArray:'fullName'}</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group col-md-10">
                  <label>Keywords: ${helpTickets.selectedHelpTicket.keyWords}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="well well-sm topMargin">
      <!-- Timeline Content -->
      <div class="smart-timeline">
        <ul class="smart-timeline-list">
          <li  repeat.for="event of helpTickets.selectedHelpTicket.content | sortDateTime:'createdDate':'DESC':isUCC">
            <compose view="./${event.type}-time.html"></compose>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
