<template>
  <div class="container">
    <div class='row'>
      <div class='bottomMargin'>
        <compose view="../../../../resources/elements/table-navigation-bar.html"></compose>
        <div id="no-more-tables">
          <table class="table table-striped table-hover cf">
            <thead class="cf">
              <tr>
                <td colspan='7'>
                    <div class="checkbox">
                        <label>
                            <input checked.bind="isChecked" change.trigger="filterOutClosed()" type="checkbox"> Hide closed help tickets
                        </label>
                    </div>
                </td>
              </tr>
              <tr>
                <td colspan='7'>
                  <span click.delegate="refresh()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom"
                    title="" data-original-title="Refresh"><i class="fa fa-refresh" aria-hidden="true"></i></span>
                  <span class="pull-right" id="spinner" innerhtml.bind="spinnerHTML"></span>
                </td>
              </tr>
              <tr>
                <th>
                  Number <span click.trigger="dataTable.sortArray('helpTicketNo')"><i class="fa fa-sort"></i></span>
                </th>
                <th>
                  Type <span click.trigger="dataTable.sortArray('helpTicketType')"><i class="fa fa-sort"></i></span><br>
                </th>
                 <th>Owner</th>
                <th></th>
                <th>
                  Status <span click.trigger="dataTable.sortArray('helpTicketStatus')"><i class="fa fa-sort"></i></span><br>
                </th>
                <th>
                  Date Created <span click.trigger="dataTable.sortArray('createdDate')"><i class="fa fa-sort"></i></span>
                </th>
                <th>
                  Date Modified <span click.trigger="dataTable.sortArray('modifiedDate')"><i class="fa fa-sort"></i></span>
                </th>
              </tr>
               <tr>
                <th></th>
                <th>
                  <input value.bind="helpTicketTypeFilterValue" input.delegate="dataTable.filterList(helpTicketTypeFilterValue, { type: 'custom',  filter: customHelpTicketTypeFilter, collectionProperty: 'helpTicketType', displayProperty: 'helpTicketType',  compare:'custom'} )"  class="form-control" />
                </th>
                <th></th>
                <th></th>
                <th> 
                  <select value.bind="helpTicketStatusFilter" input.delegate="dataTable.filterList($event, { type: 'value',  filter: 'helpTicketStatusFilter',  collectionProperty: 'helpTicketStatus', displayProperty: 'helpTicketStatus',  compare:'match'} )" class="form-control">
                        <option value=""></option>
                        <option repeat.for="status of config.HELP_TICKET_STATUSES" value.bind="status.code">${status.description}</option>
                  </select>
                </th>
                <th>
                  <input type="date" value.bind="createdDateFilterValue" input.delegate="dataTable.filterList(createdDateFilterValue, {type: 'date', filter: 'createdDate',  collectionProperty: 'createdDate', compare: 'after'} )"  class="form-control" />
                </th>
                 <th>
                  <input type="date" value.bind="modifiedDateFilterValue" input.delegate="dataTable.filterList(modifiedDateFilterValue, {type: 'date', filter: 'modifiedDate',  collectionProperty: 'modifiedDate', compare: 'after'} )"  class="form-control" />
                </th>
              </tr>
            </thead>
            <tbody>
              <tr repeat.for="helpTicket of dataTable.displayArray">
                <td click.delegate="selectHelpTicket($event, $index)" data-title="Reference">${helpTicket.helpTicketNo}</td>
                <td click.delegate="selectHelpTicket($event, $index)" data-title="Type">${helpTicket.helpTicketType | helpTicketType:helpTickets.helpTicketTypesArray}</td>
                <td click.delegate="selectHelpTicket($event, $index)" style="width:12rem;">${helpTicket.owner[0].personId.fullName}</td> 
                <td style="width:2rem;" data-title="Update">
                  <span click.trigger="closeHelpTicket(helpTicket)" show.bind="helpTicket.helpTicketStatus != config.CLOSED_HELPTICKET_STATUS" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Close Help Ticket"><i class="fa fa-window-close-o fa-lg" aria-hidden="true"></i></span>
                </td>  
                <td click.delegate="selectHelpTicket($event, $index)" data-title="Status">${helpTicket.helpTicketStatus | lookupDescription:config.HELP_TICKET_STATUSES}</td>             
                <td click.delegate="selectHelpTicket($event, $index)" data-title="Created Date">${helpTicket.createdDate | dateFormat:config.DATE_FORMAT_TABLE:false}</td>
                <td data-title="Modified Date" click.delegate="selectHelpTicket($event, $index)">${helpTicket.modifiedDate | dateFormat:config.DATE_FORMAT_TABLE:false}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>