<template>
    <div show.bind="summerInstTable">
    <h4 show.bind="dataTable.displayArray.length === 0" class="topMargin leftMargin">There are no items for this session</h4>
    <div class="col-lg-10 col-lg-offset-1">
        <div class='row'  show.bind="dataTable.displayArray.length > 0" >
            <compose view="../../../resources/elements/table-navigation-bar.html"></compose>
            <div id="no-more-tables">
                <table class="table table-striped table-hover cf"> 
                    <thead class="cf">
                         <tr>
                            <td colspan='9'>
                                <span click.delegate="downloadInstExcel()"  class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Export to Excel"><i class="fa fa-download" aria-hidden="true"></i></span>
                            </td>
                        </tr>
                        <tr>
                            <th><span  class="sortable" click.trigger="dataTable.sortArray($event, {type: 'custom', sorter: customInstitutionSorter, propertyName: 'productId'})">Institution  </span><span><i class="fa fa-sort"></i></span></th>
                            <th><span  class="sortable" click.trigger="dataTable.sortArray($event, {propertyName: 'total'})">Total  </span><span><i class="fa fa-sort"></i></span></th>
                            <th><span  class="sortable" click.trigger="dataTable.sortArray($event, {propertyName: '1'})">${config.REQUEST_STATUS[0].description}  </span><span><i class="fa fa-sort"></i></span></th>
                            <th><span  class="sortable" click.trigger="dataTable.sortArray($event, {propertyName: '2'})">${config.REQUEST_STATUS[1].description}  </span><span><i class="fa fa-sort"></i></span></th>
                            <th><span  class="sortable" click.trigger="dataTable.sortArray($event, {propertyName: '3'})">${config.REQUEST_STATUS[2].description}  </span><span><i class="fa fa-sort"></i></span></th>
                            <th><span  class="sortable" click.trigger="dataTable.sortArray($event, {propertyName: '4'})">${config.REQUEST_STATUS[3].description}  </span><span><i class="fa fa-sort"></i></span></th>
                            <th><span  class="sortable" click.trigger="dataTable.sortArray($event, {propertyName: '5'})">${config.REQUEST_STATUS[4].description}  </span><span><i class="fa fa-sort"></i></span></th>
                            <th><span  class="sortable" click.trigger="dataTable.sortArray($event, {propertyName: '6'})">${config.REQUEST_STATUS[5].description}  </span><span><i class="fa fa-sort"></i></span></th>
                            <th><span  class="sortable" click.trigger="dataTable.sortArray($event, {propertyName: '7'})">${config.REQUEST_STATUS[6].description}  </span><span><i class="fa fa-sort"></i></span></th>
                            <th>Student IDs</th>
                        </tr>
                        <tr>
                            <th>
                                <input value.bind="nameFilterValue" input.delegate="dataTable.filterList(nameFilterValue, { type: 'custom',  filter: customNameFilterValue, compare:'custom'} )"  class="form-control" />
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>Totals:</th>
                            <th repeat.for="total of totalsInstitutionArray">${total}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr click.delegate="showProductInstitutionDetail(stat)" repeat.for="stat of dataTable.displayArray">
                            <td data-title="Institution">${stat.name}</td>
                            <td data-title="Total">${stat.total}</td>
                            <td data-title="${config.REQUEST_STATUS[$index].description}" repeat.for="status of config.REQUEST_STATUS">${stat | statValue:config.REQUEST_STATUS:$index}</td>
                            <td>${stat.studentIds | formatNumber}</td>
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div>
    </div>
    </div>
    <compose show.bind="!summerInstTable" view="./institutionRequestsDetail.html"></compose>
</template>