<template>
    <div class="col-lg-10 col-lg-offset-1">
        <div class='row'>
            <compose view="../../../resources/elements/table-navigation-bar.html"></compose>
            <div id="no-more-tables">
            <table class="table table-striped table-hover cf">
                <thead class="cf">
                    <tr>
                        <th>Institution  <span click.trigger="dataTable.sortArray('institutionId', 'id', people.institutionsArray, '_id', 'name')"><i class="fa fa-sort"></i></span></th>
                        <th>${config.REQUEST_STATUS[0].description} <span click.trigger="dataTable.sortArray('1')"><i class="fa fa-sort"></i></span></th>
                        <th>${config.REQUEST_STATUS[1].description} <span click.trigger="dataTable.sortArray('2')"><i class="fa fa-sort"></i></span></th>
                        <th>${config.REQUEST_STATUS[2].description} <span click.trigger="dataTable.sortArray('3')"><i class="fa fa-sort"></i></span></th>
                        <th>${config.REQUEST_STATUS[3].description} <span click.trigger="dataTable.sortArray('4')"><i class="fa fa-sort"></i></span></th>
                        <th>${config.REQUEST_STATUS[4].description} <span click.trigger="dataTable.sortArray('5')"><i class="fa fa-sort"></i></span></th>
                        <th>${config.REQUEST_STATUS[5].description} <span click.trigger="dataTable.sortArray('6')"><i class="fa fa-sort"></i></span></th>
                        <th>${config.REQUEST_STATUS[6].description} <span click.trigger="dataTable.sortArray('6')"><i class="fa fa-sort"></i></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr repeat.for="stat of dataTable.displayArray">
                        <td data-title="Institution">${stat.institutionId  | lookupValue:people.institutionsArray:'_id':'name'}</td>
                        <td data-title="${config.REQUEST_STATUS[$index].description}" repeat.for="status of config.REQUEST_STATUS">${stat | statValue:config.REQUEST_STATUS:$index}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</template>