<template>
  <div class="subMenu-container">
    <div class="textContainer banner subMenu">
      <span show.bind="temp" class="leftMargin hidden-sm hidden-xs">
        <h4>${userObj.institutionId.city} weather: ${temp} </h4>
        <img src="${weatherIcon}" class="weatherIcon smallLeftMargin">
      </span>
      <span show.bind="ucctemp" class="leftMargin hidden-sm hidden-xs">
        <h4>UCC weather: ${ucctemp} </h4>
        <img src="${uccweatherIcon}" class="weatherIcon smallLeftMargin">
      </span>
      <div class="pull-right">
        <span show.bind="userObj.userRole < config.UCC_ROLE" class="hidden-sm hidden-xs">
					<a href="#/clientRequests" class="rightMargin" if.bind="showRequests > 0" style="text-decoration: none;">Requests <span class="badge">${showRequests}</span></a>            
					<a href="#/support" class="rightMargin" if.bind="showHelpTickets > 0" style="text-decoration: none;">Help Tickets <span class="badge">${showHelpTickets}</span></a>
				</span>
				<span show.bind="userObj.userRole >= config.UCC_ROLE" class="hidden-sm hidden-xs">
          <a href="#/notes/editCalendar" class="rightMargin" if.bind="eventArray.length > 0" style="text-decoration: none;">Events <span class="badge">${eventArray.length}</span></a>  
					<a href="#/techRq" class="rightMargin" if.bind="showRequests > 0" style="text-decoration: none;">Requests <span class="badge">${showRequests}</span></a>            
					<a href="#/techHt" class="rightMargin" if.bind="showHelpTickets > 0" style="text-decoration: none;">Help Tickets <span class="badge">${showHelpTickets}</span></a>
				</span>
        <span show.bind="alertIndex > -1" click.delegate="openAlert(siteinfo.siteArray[alertIndex])" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom"
          title="" data-original-title="Alerts"><i class="fa fa-bell-o fa-border" aria-hidden="true"></i></span>
        <span class="rightMargin"><h4>Welcome ${userObj.fullName}</h4></span>
      </div>
    </div>
  </div>
</template>
