<template>
    <div class="alert alert-success col-md-3">
        <h4>Unassigned</h4> <h2 style="margin-left:80px;">${requests.unassignedRequests}</h2>
    </div>
    </div>
    <div class="alert alert-success col-md-3" style="margin-left:20px;">
        <h4>Updated</h4> <h2 style="margin-left:80px;">${requests.updatedRequests}</h2>
    </div>
    <div class="alert alert-success col-md-3" style="margin-left:20px;">
        <h4>Customer Action</h4> <h2 style="margin-left:110px;">${requests.customerActionRequests}</h2>
    </div>
</template>