<template>
    <div class="alert alert-info col-md-3">
        <h4>New</h4> <h2 style="margin-left:80px;">${helpTickets.newHelpTickets}</h2>
    </div>
    </div>
    <div class="alert alert-info col-md-3" style="margin-left:20px;">
        <h4>Under Review</h4> <h2 style="margin-left:80px;">${helpTickets.underReviewHelpTickets}</h2>
    </div>
    <div class="alert alert-info col-md-3" style="margin-left:20px;">
        <h4>Customer Action</h4> <h2 style="margin-left:110px;">${helpTickets.customerActionHelpTickets}</h2>
    </div>
</template>