<template>
    <div class="alert alert-info col-md-3 rightMargin">
        <h4>New</h4> <h2 style="margin-left:80px;">${helpTickets.newHelpTickets}</h2>
    </div>
    <div class="alert alert-info col-md-3 rightMargin">
        <h4>Under Review</h4> <h2 style="margin-left:80px;">${helpTickets.underReviewHelpTicketsUser}</h2>
    </div>
    <div class="alert alert-info col-md-3">
        <h4>Customer Action</h4> <h2 style="margin-left:110px;">${helpTickets.customerActionHelpTicketsUser}</h2>
    </div>
</template>