<template>
    <label>Available Categories</label>
    <div class="well well2 overFlow" style="height:600px;">
        <input class="form-control" value.bind="filter" input.trigger="filterList()" placeholder="Filter Categories" />
        <div class="row">
            <div class="col-10">
                <ul id="myUL">
                    <li class="pointMe" repeat.for="type of filteredQuestionArray | sortArray:'sortOrder':'ASC'">
                        <span click.trigger="toggleListItem($event, type, 'C')" class="caret">
                            ${type.description | concatenateString:60}</span><br/>
                        <ul class="nested">
                            <li click.delegate="showQuestions(type, $parent.$index, $index, $event)"
                                repeat.for="subCat of type.subCategories | sortArray:'sortOrder':'ASC'">
                                <span>${subCat.description | concatenateString:25}</span><br/>
                            </li>
                        </ul>
                    </li>
                </ul>
                </li>
                </ul>
            </div>
        </div>
    </div>
</template>