<template>
  <div class="row">
      <!-- Session Select -->
      <div class="col-lg-4">
        <div class="form-group topMargin leftMargin">
            <select value.bind="selectedSession" change.delegate="getRequests()" id="session" class="form-control">
              <option value="">Select a session</option>
              <option repeat.for="session of sessions.sessionsArray"
                      value.bind="session._id">Session ${session.session} - ${session.year}</option>
            </select>
        </div>
      </div>
    </div>

      <div show.bind="selectedSession">
        <div class="row">
          <div class="col-lg-12">
            <!-- Request Table -->
            <compose view="./requestsTable.html"></compose>
          </div>
      </div>
  </div>

  <compose view="./requestDetailDetails.html"></compose>

</template>
