<template>
    <div class="list-group-item">
        <span click.delegate="back()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip"
            data-placement="bottom" title="" data-original-title="Back"><i class="fa fa-arrow-left fa-lg fa-border"
                aria-hidden="true"></i></span>
        <span disabled.bind="controller.errors.length > 0" click.delegate="save()" class="smallMarginRight"
            bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Save"><i
                class="fa fa-floppy-o fa-lg fa-border" aria-hidden="true"></i></span>
        <span show.bind="!newPerson" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip"
            data-placement="bottom" title="" data-original-title="Delete"><i
                class="fa fa-trash fa-lg fa-border text-danger" aria-hidden="true" data-toggle="modal"
                data-target="#deleteObject"></i></span>
        <div class="checkbox pull-right">
            <label>
                <input checked.bind="verticalDisplay" id="verticalCheckBox" type="checkbox" data-toggle="checkbox">
                Horizontal
            </label>
        </div>
    </div>
</template>