<template>
    <div class="row">
        <div class="col">
            <h2>${catDescription}</h2>
            <h4>${subCatDescription}</h4>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Name</th>
                        <th>Filename</th>
                    </tr>
                </thead>
                <tbody>
                    <tr repeat.for="document of documents.selectedCat.subCategories[selectedDocSubCategoryIndex].subSubCategories[selectedDocSubSubCategoryIndex].documents">
                        <td>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" id="${document.files[0].fileName | removeSpaces}" type="checkbox" value="" change.trigger="toggleAddToList(document, $event)">
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                        </td>
                        <td>${document.name}</td>
                        <td> <a target="_blank" href="${config.DOCUMENT_FILE_DOWNLOAD_URL}/${documents.selectedCat.DocCode}/${selectedSubCategoryIndex}/${document.files[0].fileName}">${document.files[0].fileName}</a></td>
                    </tr>
            </tbody>
            </table>
        </div>
    </div>
</template>