<template>
    <div class="hover" innerhtml.bind="commentShown"></div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    Before opening a help ticket, have you checked out our <a href="#/faq">Frequently Asked Questions
                        (FAQ) page</a>? Here
                    you can get immediate answers to many of the questions that we receive.
                </div>
            </div>
        </div>
    </div>
    <div style="padding:10px;">
        <div class="row">
            <h3>Please answer the following questions to allow us to better assist you:</h3>
        </div>
        <div class="row">
            <h5>Does this issue relate to a product that you have requested? </h5>
            <div class="form-check form-check-radio form-check-inline leftMargin">
                <label class="form-check-label" repeat.for="option of yesNo">
                    <input change.delegate="toggleRequresClient()" checked.bind="requiresClient" value.bind="option"
                        class="form-check-input" type="radio" name="productRequestRequredOptions" id="inlineRadio1"
                        value="option1"> ${option}
                    <span class="circle">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
        </div>
        <div show.bind="requiresClient === 'Yes'">
            <div class="row">
                <h5>Does this issue relate to all the products requested for a course or only one product? </h5>
                <div class="form-check form-check-radio form-check-inline leftMargin">
                    <label class="form-check-label" repeat.for="option of courseProduct">
                        <input change.delegate="toggleForACourse()" checked.bind="forACourse" value.bind="option"
                            class="form-check-input" type="radio" name="courseOrClientOptions" id="inlineRadio2"
                            value="option1"> ${option}
                        <span class="circle">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div show.bind="forACourse === 'Course' && requiresClient === 'Yes'">
            <div class="row">
                <div class="col-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <h4 class="topMargin">Courses:</h4>
                                <select value.bind="courseSelected" id="selectedCourse"
                                    class="form-control selectpicker" data-style="btn btn-link">
                                    <option value="-1"></option>
                                    <option repeat.for="course of activeCourses" model.bind="$index">
                                        ${course | convertCourseNames:clientRequestsArray}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div show.bind="forACourse === 'Product' && requiresClient === 'Yes'">
            <button data-toggle="collapse" click.trigger="toggleRequestTable()" data-target="#demo"
                class="btn btn-primary">${requestTableButtonCaption}</button>
            <div id="demo" class="collapse show">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <compose view="./help-ticket-step2.html"></compose>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <h5>${clientRequestsArray[productAssignmentSelectedIndex].productName}</h5>
                        </div>
                        <div class="form-group">
                            <h4>${clientRequestsArray[productAssignmentSelectedIndex].courseName}</h4>
                        </div>
                        <div class="form-group">
                            <h4>${clientRequestsArray[productAssignmentSelectedIndex].systemId |
                                lookupValue:systems.objectsArray:"_id":"sid"}</h4>
                        </div>
                        <div class="form-group">
                            <h4>${clientRequestsArray[productAssignmentSelectedIndex].client}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div show.bind="(requiresClient === 'No' || (requiresClient === 'Yes' && (courseSelected != -1 || roductAssignmentSelectedIndex != -1)))">
            <div class="row topMargin">
                <h5>Are you having an issue with a specific SAP UA curriculum? </h5>
                <div class="form-check form-check-radio form-check-inline leftMargin">
                    <label class="form-check-label" repeat.for="option of yesNo">
                        <input change.delegate="toggleCurriculumQuestion()" checked.bind="curriculumQuestion"
                            value.bind="option" class="form-check-input" type="radio" name="curriculumOptions"
                            id="inlineRadio3" value="option1"> ${option}
                        <span class="circle">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
            </div>
            <compose if.bind="curriculumQuestion === 'Yes'" view="./curriculumHelp.html"></compose>
        </div>
        <div show.bind="(requiresClient != null && curriculumQuestion === 'No') || (requiresClient === 'No')">
            <div class="row topMargin">
                <h5>Are you having an issue installing or configuring SAP software? </h5>
                <div class="form-check form-check-radio form-check-inline leftMargin">
                    <label class="form-check-label" repeat.for="option of yesNo">
                        <input change.delegate="toggleSoftwareQuestion()" checked.bind="softwareQuestion"
                            value.bind="option" class="form-check-input" type="radio" name="softwareOptions"
                            id="inlineRadio4" value="option3"> ${option}
                        <span class="circle">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>

            </div>
            <compose if.bind="softwareQuestion === 'Yes'" view="./softwareHelp.html"></compose>
        </div>
        <div class="row">
            <div show.bind="(curriculumQuestion === 'Yes' || softwareQuestion === 'Yes') || (requiresClient === 'No' && softwareQuestion === 'No')" class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="topMargin">Please describe your question in detail:</h4>
                        <editor value.bind="problemDescription" placeholder.bind="placeholder" toolbar.bind="config.TOOLBAR" 
                            height="250">
                        </editor>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary" click.trigger='Save()'>Submit Help Ticket</button>
            <button if.bind="requiresClient != null" class="btn btn-primary" click.trigger='resetHelpTicket()'>Reset Help Ticket</button>
        </div>
    </div>








    <!-- <div class="row">
        <div class="col-4">
            <div class='topMargin bottomMargin'>
                <label for="prioritySelect" class='class="bigLabel topMargin'>Priority</label>
                <select class="form-control selectpicker" id="prioritySelect"
                    value.bind="helpTickets.selectedHelpTicket.priority" data-style="btn btn-link">
                    <option repeat.for="priority of config.HELP_TICKET_PRIORITIES" value.bind="$index">
                        ${priority.priority}</option>
                </select>
            </div>
           
        </div>
        <div class="col-4">
            <div class="form-group">
                <Label class="bigLabel topMargin">Help Ticket Category</Label>
                <select value.bind="catIndex" id="helpTicketCategory" class="form-control selectpicker"
                    data-style="btn btn-link" change.trigger="categoryChanged()">
                    <option value="-1">To help define your issue, select the category</option>
                    <option repeat.for="types of config.HELP_TICKET_TYPES" model.bind="$index">
                        ${types.description}</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div show.bind="catIndex != -1" class="form-group">
                <Label class="bigLabel topMargin">Help Ticket Type</Label>
                <select value.bind="helpTickets.selectedHelpTicket.helpTicketType" change.trigger="typeChanged()"
                    class="form-control selectpicker" data-style="btn btn-link" id="helpTicketType">
                    <option value="null">To help us further define your issue, select the type</option>
                    <option repeat.for="subcatTypes of config.HELP_TICKET_TYPES[catIndex].subTypes"
                        model.bind="subcatTypes.type">${subcatTypes.description}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body" style="background-color: ghostwhite;"
                    innerhtml.bind="config.HELP_TICKET_PRIORITIES[helpTickets.selectedHelpTicket.priority].message">
                    The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to
                    "Naviglio" where
                    you can enjoy the main night life in Barcelona...
                </div>
            </div>
        </div>
        <div class="col-8">
            <compose view="./help-ticket-step2.html"></compose>
        </div>
    </div>
  <div class="row">
      <div class="col">
        <compose show.bind="showForm" view="./help-ticket-step3.html"></compose>
      </div>
  </div> -->
</template>