<template>
  <div show.bind="enterResponse" class="topMargin bottomMargin">
    <div class="panel panel-default leftMargin rightMargin">
      <div class="panel-body"  style="background-color:ghostwhite;padding:5px;">
        <div class="row bottomMargin">
          <div class="col">
          <span click.trigger="saveResponse(config.REVIEW_HELPTICKET_STATUS)" class="smallMarginRight" bootstrap-tooltip
            data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Save Response"><i
              class="fa fa-floppy-o fa-lg fa-border" aria-hidden="true"></i></span>
          <span click.trigger="saveResponse(config.CUSTOMER_ACTION_HELPTICKET_STATUS)" class="smallMarginRight"
            bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title=""
            data-original-title="Save and Customer Action"><i class="fa fa-users fa-lg fa-border"
              aria-hidden="true"></i></span>
          <span click.trigger="saveResponse(config.CLOSED_HELPTICKET_STATUS)" class="smallMarginRight" bootstrap-tooltip
            data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Save and Close"><i
              class="fa fa-window-close-o fa-lg fa-border" aria-hidden="true"></i></span>
          <span click.trigger="cancelResponse()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip"
            data-placement="bottom" title="" data-original-title="Cancel"><i class="fa fa-ban fa-lg fa-border"
              aria-hidden="true"></i></span>
        </div>
        </div>
        <div class="row">
          <div class="col">
          <div class="checkbox leftMargin">
            <label>
              <input checked.bind="privateChecked" type="checkbox"> Private
            </label>
          </div>
          </div>
          <div class="col">
            <div class="checkbox">
              <label>
                <input checked.bind="sendEmail" type="checkbox"> Send Email
              </label>
            </div>
            </div>
        </div>
        <div class="row leftMargin rightMargin">
          <div class="bottomMargin">
            <editor toolbar.bind="toolbar" value.bind="content.response" height="250"></editor>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="btn btn-primary">
              Browse for files&hellip; <input type="file" style="display: none;" change.delegate="changeFiles()"
                files.bind="files" multiple>
            </label>
            <ul>
              <li repeat.for="file of filesToUpload" class="list-group-item">${file.name}<span
                  click.delegate="removeFile($index)" class="pull-right"><i class="fa fa-trash"
                    aria-hidden="true"></i></span></li>
            </ul> 
          </div>
          <div class="col">
            <button click.trigger="attachDocument()" class="btn btn-primary">Add a Document</button>
            <ul>
              <li repeat.for="document of content.documents" class="list-group-item">${document.fileName}<span
                  click.delegate="removeDocument($index)" class="pull-right"><i class="fa fa-trash"
                    aria-hidden="true"></i></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>