<template>
    <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Select New Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    <li  class="pointMe" click.trigger="chooseStatus(status, $event)" repeat.for="status of config.HELP_TICKET_STATUSES">
                        <i id="${status.code}" class="fa fa-check hidden" aria-hidden="true"></i>
                        ${status.description}
                    </li>
                </ul>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" click.delegate="changeStatus()" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</template>