<template>
    <div class="hoverProfile" style="border-style: solid;border-width:1px;">
        <span click.delegate="hideProfile()" class="smallMarginRight" bootstrap-tooltip data-toggle="tooltip"
            data-placement="bottom" title="" data-original-title="Close"><i class="fa fa-window-close-o" aria-hidden="true"></i></span>
        <hr />
        <div class="col-md-8">
            <h5>Name: ${profileHelpTicket.personId.fullName}</h5>
            <h5>Preferred: ${profileHelpTicket.personId.nickName}</h5>
            <h5>Phone: ${profileHelpTicket.personId.phone | phoneNumber:config.PHONE_MASKS:person.country:person.ext}</h5>
            <h5>Mobile: ${profileHelpTicket.personId.mobile | phoneNumber:config.PHONE_MASKS:person.country:person.ext}</h5>
            <h5 click.trigger="copyEmail(profileHelpTicket)">Email: ${profileHelpTicket.personId.email}</h5>
        </div>
    </div>
</template>